Compare tweets.json
[{"id":"7d55a09f.35973","type":"tab","label":"Compare tweets","disabled":false,"info":""},{"id":"3606b78d.84bd08","type":"twitter in","z":"7d55a09f.35973","twitter":"","tags":"","user":"false","name":"","inputs":1,"x":570,"y":200,"wires":[["cb3cd5cc.495de8"]]},{"id":"d3fb13e4.f6823","type":"sentiment","z":"7d55a09f.35973","name":"","x":860.666748046875,"y":206.66668701171875,"wires":[["ec1400b1.f2806","9cdc15b3.63b938"]]},{"id":"67000306.94ab3c","type":"ui_chart","z":"7d55a09f.35973","name":"","group":"37a2c884.a6a638","order":1,"width":"13","height":"8","label":" Sentiment Scores","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00ff2a","#ff0505","#db02f7","#1100ff","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":680,"wires":[[]]},{"id":"ec1400b1.f2806","type":"function","z":"7d55a09f.35973","name":"term1","func":"msg.term=\"term1\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1159.3334350585938,"y":205,"wires":[["7c7734af.01770c","89d9cc98.f6ad4"]]},{"id":"eb65d8c0.f7d7a8","type":"inject","z":"7d55a09f.35973","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":190.83328247070312,"y":757.1668090820312,"wires":[["6b6a88d8.cb3bc8","48c74d92.47f3d4"]]},{"id":"6b6a88d8.cb3bc8","type":"function","z":"7d55a09f.35973","name":"draw Term1 chart","func":"var term = global.get(\"term1\");\nif(typeof term !==\"undefined\"){\n    msg.payload = global.get(\"meanSentiment\"+term);\n    msg.topic = term;\n    return msg;\n}","outputs":1,"noerr":0,"x":550,"y":580,"wires":[["67000306.94ab3c"]]},{"id":"48c74d92.47f3d4","type":"function","z":"7d55a09f.35973","name":"draw Term2 chart","func":"var term = global.get(\"term2\");\nif(typeof term !==\"undefined\"){\n    msg.payload = global.get(\"meanSentiment\"+term);\n    msg.topic = term;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":575.8332824707031,"y":752.1668090820312,"wires":[["67000306.94ab3c"]]},{"id":"4c2f10df.b9599","type":"twitter in","z":"7d55a09f.35973","twitter":"","tags":"","user":"false","name":"","inputs":1,"x":569,"y":348.00000762939453,"wires":[["8e60a85f.3cc988"]]},{"id":"290521c2.c45e3e","type":"function","z":"7d55a09f.35973","name":"preprocess","func":"\nmsg.payload = msg.payload.one;\nvar term = msg.payload.replace(\" \",\"\").replace(/[\"']/g, \"\");\nnode.log(\"term is\"+term);\nglobal.set(\"term1\",term);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":180,"wires":[["3606b78d.84bd08"]]},{"id":"16eacf77.760521","type":"function","z":"7d55a09f.35973","name":"preprocess","func":"msg.payload = msg.payload.two;\nvar term = msg.payload.replace(\" \",\"\").replace(/[\"']/g, \"\");\nglobal.set(\"term2\",term);\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":360,"wires":[["4c2f10df.b9599"]]},{"id":"ea9cbfaa.fc011","type":"sentiment","z":"7d55a09f.35973","name":"","x":853.0001220703125,"y":353.3333435058594,"wires":[["5b38574f.417ac8","9cdc15b3.63b938","f0a0e631.dbd508"]]},{"id":"5b38574f.417ac8","type":"function","z":"7d55a09f.35973","name":"term2","func":"msg.term=\"term2\";\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1162.3333129882812,"y":351.6666564941406,"wires":[["7c7734af.01770c"]]},{"id":"76f7e58f.2fb36c","type":"ui_button","z":"7d55a09f.35973","name":"","group":"44e00617.c5d148","order":3,"width":"6","height":"1","passthru":false,"label":"Clear Graph","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":550,"y":660,"wires":[["67000306.94ab3c","a027695e.a0f588","95dbc701.d6d5e8","85e1705d.4237f"]]},{"id":"7c7734af.01770c","type":"function","z":"7d55a09f.35973","name":"calculate average sentiment","func":"var term = global.get(msg.term);\nvar sampleSize = 10;\nvar sentiments = global.get(\"sentiments\"+term);\nif(typeof sentiments ===\"undefined\"){\n    sentiments =[];\n    global.set(\"sentiments\"+term,sentiments);\n}\nsentiments.push(msg.sentiment.score);\n\nif(sentiments.length>sampleSize){\n    sentiments.splice(0,sentiments.length-sampleSize);\n}\n\nvar sum = sentiments.reduce((e,r)=>e+r);\nglobal.set(\"meanSentiment\"+term,sum/sentiments.length);\n\nglobal.get(\"update10\")(((a,b)=>a>b),\"top10\"+term, msg);\nglobal.get(\"update10\")(((a,b)=>a<b),\"flop10\"+term, msg);\n\nmsg.payload = msg.sentiment.score;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1338.6167602539062,"y":275.3166198730469,"wires":[[]]},{"id":"470f3613.a4f7b8","type":"comment","z":"7d55a09f.35973","name":"Periodically triggers the drawing","info":"","x":223.91661071777344,"y":685.89599609375,"wires":[]},{"id":"6a39b83f.06ead8","type":"comment","z":"7d55a09f.35973","name":"Calculates sentiment scores","info":"","x":210.5833282470703,"y":100.47917175292969,"wires":[]},{"id":"cb3cd5cc.495de8","type":"function","z":"7d55a09f.35973","name":"filter","func":"var term = global.get(\"term1\");\nif(msg.payload.indexOf(term)!==-1 && msg.lang===\"en\"){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":685.1666870117188,"y":140.6667022705078,"wires":[["d3fb13e4.f6823"]]},{"id":"8e60a85f.3cc988","type":"function","z":"7d55a09f.35973","name":"filter","func":"var term = global.get(\"term2\");\nif(msg.payload.indexOf(term)!==-1 && msg.lang===\"en\"){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":670.4166870117188,"y":436.3333740234375,"wires":[["ea9cbfaa.fc011"]]},{"id":"9cdc15b3.63b938","type":"debug","z":"7d55a09f.35973","name":"","active":false,"console":"false","complete":"true","x":993.4882202148438,"y":277.8333435058594,"wires":[]},{"id":"afb74eeb.3869c","type":"ui_form","z":"7d55a09f.35973","name":"","label":"Term-1","group":"44e00617.c5d148","order":1,"width":"6","height":"1","options":[{"label":"term1","value":"one","type":"text","required":true,"rows":null}],"formValue":{"one":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":140,"y":200,"wires":[["290521c2.c45e3e","a027695e.a0f588"]]},{"id":"36872ba5.ccdef4","type":"ui_form","z":"7d55a09f.35973","name":"","label":"Term-2","group":"44e00617.c5d148","order":2,"width":"6","height":"1","options":[{"label":"term2","value":"two","type":"text","required":true,"rows":null}],"formValue":{"two":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":340,"wires":[["16eacf77.760521"]]},{"id":"a027695e.a0f588","type":"debug","z":"7d55a09f.35973","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":820,"y":560,"wires":[]},{"id":"95dbc701.d6d5e8","type":"change","z":"7d55a09f.35973","name":"","rules":[{"t":"set","p":"payload.one","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":480,"wires":[["290521c2.c45e3e"]]},{"id":"85e1705d.4237f","type":"change","z":"7d55a09f.35973","name":"","rules":[{"t":"set","p":"payload.two","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":520,"wires":[["16eacf77.760521"]]},{"id":"7993fac9.1340c4","type":"ui_gauge","z":"7d55a09f.35973","name":"","group":"749b0c94.fed454","order":1,"width":0,"height":0,"gtype":"gage","title":"Term 1","label":"units","format":"{{msg.sentiment}}","min":"-10","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1330,"y":120,"wires":[]},{"id":"89d9cc98.f6ad4","type":"function","z":"7d55a09f.35973","name":"get and spin","func":"\nreturn {sentiment:msg.sentiment.score}","outputs":1,"noerr":0,"x":1110,"y":120,"wires":[["7993fac9.1340c4"]]},{"id":"f0a0e631.dbd508","type":"function","z":"7d55a09f.35973","name":"get and spin","func":"\nreturn {sentiment:msg.sentiment.score}","outputs":1,"noerr":0,"x":1130,"y":440,"wires":[["43dc3e9d.2c2ce"]]},{"id":"43dc3e9d.2c2ce","type":"ui_gauge","z":"7d55a09f.35973","name":"","group":"749b0c94.fed454","order":2,"width":0,"height":0,"gtype":"gage","title":"Term 2","label":"units","format":"{{msg.sentiment}}","min":"-10","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1350,"y":440,"wires":[]},{"id":"37a2c884.a6a638","type":"ui_group","z":"","name":"Compare Sentiments","tab":"e7c3244c.35a408","order":1,"disp":true,"width":"13","collapse":false},{"id":"44e00617.c5d148","type":"ui_group","z":"","name":"Enter Comparison Terms","tab":"e7c3244c.35a408","order":3,"disp":true,"width":"6","collapse":false},{"id":"749b0c94.fed454","type":"ui_group","z":"","name":"Sentiments Of Each Term","tab":"e7c3244c.35a408","order":2,"disp":true,"width":"6","collapse":false},{"id":"e7c3244c.35a408","type":"ui_tab","z":"","name":"Compare Tweets","icon":"dashboard","disabled":false,"hidden":false}]