flows.json
[{"id":"f2b794c0.5bd3f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bcdb9ec2.23df9","type":"switch","z":"f2b794c0.5bd3f8","name":"","property":"payload.truncated","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":400,"wires":[["59f91309.e7a0fc"],["70e88e91.b676f"]]},{"id":"61822e78.48a9a","type":"debug","z":"f2b794c0.5bd3f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":260,"wires":[]},{"id":"59f91309.e7a0fc","type":"change","z":"f2b794c0.5bd3f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.extended_tweet.full_text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":380,"wires":[["b290b937.4fcfb8","2c153058.6935"]]},{"id":"70e88e91.b676f","type":"change","z":"f2b794c0.5bd3f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":420,"wires":[["20c833c6.4002ac","2c153058.6935"]]},{"id":"b290b937.4fcfb8","type":"debug","z":"f2b794c0.5bd3f8","name":"","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1370,"y":380,"wires":[]},{"id":"20c833c6.4002ac","type":"debug","z":"f2b794c0.5bd3f8","name":"","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1370,"y":420,"wires":[]},{"id":"2717a56b.77b5ca","type":"smooth","z":"f2b794c0.5bd3f8","name":"","property":"sentiment.score","action":"mean","count":"100","round":"1","mult":"single","reduce":false,"x":1360,"y":660,"wires":[["c9778002.f368"]]},{"id":"2c153058.6935","type":"sentiment","z":"f2b794c0.5bd3f8","name":"","property":"payload","x":1360,"y":480,"wires":[["6c6f58cf.6f2198","2717a56b.77b5ca","cef9a11d.38d9a","f4d25735.5b1bc8"]]},{"id":"6c6f58cf.6f2198","type":"debug","z":"f2b794c0.5bd3f8","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"sentiment.score","targetType":"msg","x":1560,"y":480,"wires":[]},{"id":"cef9a11d.38d9a","type":"smooth","z":"f2b794c0.5bd3f8","name":"","property":"sentiment.score","action":"mean","count":"1000","round":"1","mult":"single","reduce":false,"x":1360,"y":780,"wires":[["e049a414.55ded8"]]},{"id":"6de7d79f.751688","type":"debug","z":"f2b794c0.5bd3f8","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1710,"y":720,"wires":[]},{"id":"eb0cce90.3ac63","type":"debug","z":"f2b794c0.5bd3f8","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1710,"y":840,"wires":[]},{"id":"2325454c.7918ca","type":"delay","z":"f2b794c0.5bd3f8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1720,"y":660,"wires":[["25513009.2cdd5","44cfac97.047244"]]},{"id":"c9778002.f368","type":"change","z":"f2b794c0.5bd3f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"100Average","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":660,"wires":[["6de7d79f.751688","2325454c.7918ca"]]},{"id":"e049a414.55ded8","type":"change","z":"f2b794c0.5bd3f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"1000Average","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":780,"wires":[["eb0cce90.3ac63","c13193d0.5e153"]]},{"id":"c13193d0.5e153","type":"delay","z":"f2b794c0.5bd3f8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1720,"y":780,"wires":[["2aba3b9e.8b1ab4","44cfac97.047244"]]},{"id":"25513009.2cdd5","type":"debug","z":"f2b794c0.5bd3f8","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1910,"y":660,"wires":[]},{"id":"2aba3b9e.8b1ab4","type":"debug","z":"f2b794c0.5bd3f8","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1910,"y":780,"wires":[]},{"id":"44cfac97.047244","type":"ui_chart","z":"f2b794c0.5bd3f8","name":"","group":"3aa7252c.39e81a","order":6,"width":"30","height":"15","label":"Sentiment","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"Waiting for Data","dot":true,"ymin":"-5","ymax":"5","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff7f0e","#d62728","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2130,"y":660,"wires":[[]]},{"id":"f4d25735.5b1bc8","type":"smooth","z":"f2b794c0.5bd3f8","name":"","property":"sentiment.score","action":"mean","count":"20","round":"1","mult":"single","reduce":false,"x":1360,"y":540,"wires":[["c00f5dc.35420a"]]},{"id":"e3ad9aa7.7cc4c8","type":"debug","z":"f2b794c0.5bd3f8","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1710,"y":600,"wires":[]},{"id":"20dbe2b.e2e2b1e","type":"delay","z":"f2b794c0.5bd3f8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1720,"y":540,"wires":[["7511f6f6.c46208","44cfac97.047244"]]},{"id":"c00f5dc.35420a","type":"change","z":"f2b794c0.5bd3f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"20Average","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":540,"wires":[["e3ad9aa7.7cc4c8","20dbe2b.e2e2b1e"]]},{"id":"7511f6f6.c46208","type":"debug","z":"f2b794c0.5bd3f8","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1910,"y":540,"wires":[]},{"id":"1c7ab4cb.ba9c2b","type":"Twitter Stream","z":"f2b794c0.5bd3f8","connection":"a6a8014e.5494f","follow":"","topics":"covid19, coronavirus, covid19, covid_19","tweetLimit":"0","onlyVerified":false,"topicRetweets":false,"loadMedia":false,"topicLanguage":"en","debug":false,"name":"","x":750,"y":360,"wires":[["bcdb9ec2.23df9","61822e78.48a9a"]]},{"id":"3aa7252c.39e81a","type":"ui_group","z":"","name":"Covid-19","tab":"","order":1,"disp":false,"width":"30","collapse":false},{"id":"a6a8014e.5494f","type":"twitter-api-connection","z":"","consumerKey":"B1LHymkT2T946n4AVMtGY0Me7","consumerSecret":"wRcV8JQdqWar8KYatXAqpA4LgnkeXOMOvgzvwqPeJREHXnwF0Z","accessToken":"1261690555911811074-GrC5b94Au5H3donGfL3J2fqPLvxEKy","accessSecret":"HK9hIGUCnEmuzZK68QHHYyXLvnu3lVryREFfGUd0MB1wg"}]