flows (2).json
[{"id":"c148fba0.38b378","type":"tab","label":"Tweet Dashboard","disabled":false,"info":""},{"id":"ffebaa6a.606098","type":"debug","z":"c148fba0.38b378","name":"Positive Tweet debug","active":false,"console":"false","complete":"payload","x":920,"y":280,"wires":[]},{"id":"7e0eb1c7.d64de","type":"switch","z":"c148fba0.38b378","name":"Positive / Negative Tweets","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gte","v":"2","vt":"num"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":580,"y":340,"wires":[["ffebaa6a.606098"],["c95a57e8.063868"]]},{"id":"c95a57e8.063868","type":"debug","z":"c148fba0.38b378","name":"Negative Tweets","active":false,"console":"false","complete":"payload","x":900,"y":400,"wires":[]},{"id":"fd6621a5.ba7fc","type":"function","z":"c148fba0.38b378","name":"Remove URLS and replace #","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":120,"wires":[["e6e79359.7fe44"]]},{"id":"2c9c7530.695d9a","type":"function","z":"c148fba0.38b378","name":"Storage Tweet data","func":"// tweet object includes a timestamp_ms\nmsg.payload = { \"timestamp\" : msg.tweet.timestamp_ms ,\n                \"tweet\"     : msg.tweet.text,\n                \"sentiment\" : msg.sentiment.score};\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":520,"wires":[["9409259d.5bc148"]]},{"id":"76e298b0.02e4b8","type":"delay","z":"c148fba0.38b378","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"6","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":520,"wires":[["1ea6ca3f.e9b2f6","bc412a0d.d80f28","2c9c7530.695d9a"]]},{"id":"9409259d.5bc148","type":"cloudant out","z":"c148fba0.38b378","name":"","cloudant":"","database":"tweetdata","service":"node-red-sipmo-cloudant-1591945462193-23288","payonly":true,"operation":"insert","x":760,"y":520,"wires":[]},{"id":"1ea6ca3f.e9b2f6","type":"change","z":"c148fba0.38b378","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":560,"wires":[["aff4b69a.8f0138"]]},{"id":"bc412a0d.d80f28","type":"change","z":"c148fba0.38b378","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":600,"wires":[["a50f733e.40ec6","a42d955e.087db8"]]},{"id":"63e417b2.1f7d68","type":"comment","z":"c148fba0.38b378","name":"Pick a #hashtag to follow","info":"","x":120,"y":60,"wires":[]},{"id":"a42d955e.087db8","type":"ui_chart","z":"c148fba0.38b378","name":"","group":"fe8f4a4f.fb6db8","order":1,"width":0,"height":0,"label":"Tweet Sentiment History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":750,"y":640,"wires":[[]]},{"id":"a50f733e.40ec6","type":"ui_gauge","z":"c148fba0.38b378","name":"","group":"4e7104e4.1ee4cc","order":1,"width":"6","height":"5","gtype":"gage","title":"Sentiment","label":"units","format":"{{value}}","min":"-10","max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":600,"wires":[]},{"id":"aff4b69a.8f0138","type":"ui_text","z":"c148fba0.38b378","group":"fe8f4a4f.fb6db8","order":2,"width":0,"height":0,"name":"","label":"Tweets :--","format":"{{msg.payload}}","layout":"row-left","x":760,"y":560,"wires":[]},{"id":"31026e9d.d54a42","type":"twitter in","z":"c148fba0.38b378","twitter":"","tags":"lockdown","user":"false","name":"Lockdown_tweets","inputs":1,"x":150,"y":120,"wires":[["fd6621a5.ba7fc"]]},{"id":"e6e79359.7fe44","type":"sentiment","z":"c148fba0.38b378","name":"Sentiment of Tweets","x":140,"y":240,"wires":[["7e0eb1c7.d64de","76e298b0.02e4b8"]]},{"id":"fe8f4a4f.fb6db8","type":"ui_group","z":0,"name":"Welcome to twitter dashboard here we analyse the sentiments of tweets based on lockdown","tab":"624f7b09.f2ed84","order":1,"disp":true,"width":"10","collapse":false},{"id":"4e7104e4.1ee4cc","type":"ui_group","z":0,"name":"Tweet Scoreboard","tab":"624f7b09.f2ed84","order":2,"disp":true,"width":"6"},{"id":"624f7b09.f2ed84","type":"ui_tab","z":0,"name":"Tweet Scoreboard","icon":"dashboard","order":1,"disabled":false,"hidden":false}]