flows (5).json
[{"id":"b8845e38.10e3a","type":"tab","label":"Test sentiment/Word","disabled":false,"info":""},{"id":"5db6ba53.f5f9a4","type":"function","z":"b8845e38.10e3a","name":"Set the value","func":"return {sentiment:msg.sentiment.score}\n\n","outputs":1,"noerr":0,"x":430,"y":280,"wires":[["16f39180.d43d2f"]]},{"id":"cca51a5d.df3688","type":"function","z":"b8845e38.10e3a","name":"convert to valid number","func":"msg.payload=  msg.payload.text\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":140,"wires":[["5497d0b.e47833"]]},{"id":"d2266b11.273c88","type":"function","z":"b8845e38.10e3a","name":"set value for chart","func":"msg.payload=msg.sentiment.score\nreturn msg\n","outputs":1,"noerr":0,"x":450,"y":340,"wires":[["bc8d1462.e7e498"]]},{"id":"38a5c8f7.392d18","type":"ui_form","z":"b8845e38.10e3a","name":"","label":"Enter Sentence / Word","group":"c18a0761.4e6bf8","order":1,"width":0,"height":0,"options":[{"label":"Enter the Text","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":60,"wires":[["cca51a5d.df3688"]]},{"id":"bc8d1462.e7e498","type":"ui_chart","z":"b8845e38.10e3a","name":"","group":"c18a0761.4e6bf8","order":2,"width":"6","height":"4","label":"Linear Analysis Of Each Sentence","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":340,"wires":[[]]},{"id":"16f39180.d43d2f","type":"ui_gauge","z":"b8845e38.10e3a","name":"","group":"c18a0761.4e6bf8","order":1,"width":"6","height":"6","gtype":"gage","title":"Sentiments","label":"units","format":"{{msg.sentiment}}","min":"-10","max":"10","colors":["#ff0011","#e6e600","#05f515"],"seg1":"","seg2":"","x":650,"y":280,"wires":[]},{"id":"5497d0b.e47833","type":"sentiment","z":"b8845e38.10e3a","name":"sentiment","property":"payload","x":160,"y":300,"wires":[["5db6ba53.f5f9a4","d2266b11.273c88"]]},{"id":"c18a0761.4e6bf8","type":"ui_group","z":0,"name":"Sentence / Word Sentiments","tab":"17acffb5.61d33","order":1,"disp":true,"width":"6","collapse":false},{"id":"17acffb5.61d33","type":"ui_tab","z":0,"name":"Test Sentence / Word","icon":"dashboard","disabled":false,"hidden":false}]