Twitter Sentiment Analysis Model.json
[{"id":"5649e6a.04d5718","type":"tab","label":"Tweet Dashboard","disabled":false,"info":""},{"id":"ae469bdc.fc0cc8","type":"tab","label":"Map Tweets","disabled":false,"info":""},{"id":"92d7b0dd.db76c","type":"tab","label":"Sentiment analysis","disabled":false,"info":""},{"id":"2ef317ed.31cf38","type":"tab","label":"Test sentiment/Word","disabled":false,"info":""},{"id":"50ac0bf8.b61354","type":"tab","label":"Compared countries","disabled":false,"info":""},{"id":"177f5c7a.64d6b4","type":"tab","label":"Compare tweets","disabled":false,"info":""},{"id":"a76544db.783cd8","type":"tab","label":"Top 10 tweets","disabled":false,"info":""},{"id":"859794c0.374c78","type":"ui_group","z":0,"name":"Welcome to twitter dashboard here we analyse the sentiments of tweets based on lockdown","tab":"ec6d1d54.444fa","order":1,"disp":true,"width":"10","collapse":false},{"id":"c3e2f486.5f9918","type":"ui_group","z":0,"name":"Tweet Scoreboard","tab":"ec6d1d54.444fa","order":2,"disp":true,"width":"6"},{"id":"ec6d1d54.444fa","type":"ui_tab","z":"","name":"Tweet Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"94e4310.972ffd","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#00b7ff","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#527141","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#527141","edited":true},"page-titlebar-backgroundColor":{"value":"#527141","edited":false},"page-backgroundColor":{"value":"#0f0000","edited":true},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#75a25d","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#527141","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":71,"sy":57,"gx":6,"gy":6,"cx":13,"cy":6,"px":9,"py":0}}},{"id":"4124cf3b.cfbb7","type":"ui_group","z":"","name":"Global Tweets On Lockdown","tab":"11781bf7.c6aea4","order":1,"disp":true,"width":"6","collapse":false},{"id":"ab30b288.f9f2e","type":"ui_group","z":"","name":"Global Tweet Map","tab":"d4a30521.6ed778","order":2,"disp":true,"width":"9","collapse":false},{"id":"8175b5ca.613f48","type":"twitter-credentials","z":"","screen_name":"Sakshi"},{"id":"912e2a25.650738","type":"ui_group","z":0,"name":"Analyse Sentiments of any Sentence / Word","tab":"d7b6aba8.c6aa68","order":1,"disp":true,"width":"6","collapse":false},{"id":"d7b6aba8.c6aa68","type":"ui_tab","z":0,"name":"Analyse Sentiments","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"1722b6e3.8ccb69","type":"ui_group","z":0,"name":"Sentence / Word Sentiments","tab":"c037c5f4.0cb858","order":1,"disp":true,"width":"6","collapse":false},{"id":"c037c5f4.0cb858","type":"ui_tab","z":0,"name":"Test Sentence / Word","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"9f9781af.3d4f6","type":"ui_group","z":"","name":"Sentiment Plot","tab":"d7b6aba8.c6aa68","order":2,"disp":true,"width":"6","collapse":false},{"id":"37a2c884.a6a638","type":"ui_group","z":"","name":"Compare Sentiments","tab":"e7c3244c.35a408","order":1,"disp":true,"width":"13","collapse":false},{"id":"e7c3244c.35a408","type":"ui_tab","z":"","name":"Compare Tweets","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"749b0c94.fed454","type":"ui_group","z":"","name":"Sentiments Of Each Term","tab":"e7c3244c.35a408","order":2,"disp":true,"width":"6","collapse":false},{"id":"44e00617.c5d148","type":"ui_group","z":"","name":"Enter Comparison Terms","tab":"e7c3244c.35a408","order":3,"disp":true,"width":"6","collapse":false},{"id":"66d4ee0c.27ebf","type":"ui_group","z":"","name":"Top 10 Lockdown tweets including sentiment score","tab":"259df6f6.c798ea","order":1,"disp":true,"width":"20","collapse":false},{"id":"42cbff75.3c326","type":"ui_group","z":"","name":"Compare Sentiments","tab":"2bde95e1.6675aa","order":1,"disp":true,"width":"27"},{"id":"995c2d5a.ece49","type":"ui_group","z":"","name":"Samples","tab":"5518570.a177aa8","order":1,"disp":true,"width":"24"},{"id":"4907c9b9.a2f098","type":"ui_group","z":"","name":"Live Location Of Tweet","tab":"ec6d1d54.444fa","order":5,"disp":true,"width":"6","collapse":false},{"id":"3e057a54.5d1aa6","type":"ui_group","z":"","name":"Tweet Details","tab":"ec6d1d54.444fa","order":3,"disp":true,"width":"6","collapse":false},{"id":"50e662c1.177fec","type":"ui_group","z":"","name":"Prediction","tab":"ec6d1d54.444fa","order":4,"disp":true,"width":"6","collapse":false},{"id":"6f91f618.5ab8b8","type":"ui_tab","z":"","name":"Compared Countries","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"8e3e344a.6d31c8","type":"ui_group","z":"","name":"India","tab":"6f91f618.5ab8b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"1ea2e6ea.fe7ad9","type":"ui_group","z":"","name":"United Kingdom","tab":"6f91f618.5ab8b8","order":2,"disp":true,"width":"6","collapse":false},{"id":"302520fb.f67a2","type":"twitter-credentials","z":"","screen_name":"suyash chilwarwar"},{"id":"66514162.29517","type":"ui_group","z":"","name":"Live Map","tab":"6f91f618.5ab8b8","order":3,"disp":true,"width":"12","collapse":false},{"id":"937a12c7.a2eaa","type":"ui_group","z":"","name":"Top 10 tweets with score","tab":"4f3ae0f6.fc1ea","order":1,"disp":true,"width":"24","collapse":false},{"id":"4f3ae0f6.fc1ea","type":"ui_tab","z":"","name":"Top Tweets","icon":"dashboard","order":3},{"id":"e99efd7e.9b0e5","type":"ui_group","name":"Group 2","tab":"2bde95e1.6675aa","order":2,"disp":true,"width":6},{"id":"d4a30521.6ed778","type":"ui_tab","z":"","name":"Map Tweets","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"f5f3c134.3b053","type":"ui_group","z":"","name":"Tweets Details","tab":"d4a30521.6ed778","order":1,"disp":true,"width":"6","collapse":false},{"id":"b030d574.fbf388","type":"function","z":"5649e6a.04d5718","name":"Remove URLS and replace #","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":120,"wires":[["b1c669c6.dd27c8"]]},{"id":"f0c3e11d.d9ceb","type":"function","z":"5649e6a.04d5718","name":"Storage Tweet data","func":"// tweet object includes a timestamp_ms\nmsg.payload = { \"timestamp\" : msg.tweet.timestamp_ms ,\n                \"tweet\"     : msg.tweet.text,\n                \"sentiment\" : msg.sentiment.score};\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":520,"wires":[["3b6b2556.66fe6a"]]},{"id":"6179b843.b3df18","type":"delay","z":"5649e6a.04d5718","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"6","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":460,"wires":[["719d4857.ae5338","6a77499.9bd27b8","f0c3e11d.d9ceb","86b7a378.8dae2","2e71d068.65845","cf8b9801.9160c8"]]},{"id":"3b6b2556.66fe6a","type":"cloudant out","z":"5649e6a.04d5718","name":"","cloudant":"","database":"tweetdata","service":"node-red-kyrky-cloudant-1592995397209-76730","payonly":true,"operation":"insert","x":760,"y":520,"wires":[]},{"id":"719d4857.ae5338","type":"change","z":"5649e6a.04d5718","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":560,"wires":[["8e855e6d.05353","419c0747.2339a8","f0185c63.b3a39"]]},{"id":"6a77499.9bd27b8","type":"change","z":"5649e6a.04d5718","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":600,"wires":[["b2def821.b490c8","a12274a.8a68288"]]},{"id":"a12274a.8a68288","type":"ui_chart","z":"5649e6a.04d5718","name":"","group":"859794c0.374c78","order":1,"width":0,"height":0,"label":"Tweet Sentiment History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-15","ymax":"15","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":790,"y":680,"wires":[[]]},{"id":"b2def821.b490c8","type":"ui_gauge","z":"5649e6a.04d5718","name":"","group":"c3e2f486.5f9918","order":1,"width":"6","height":"5","gtype":"gage","title":"Sentiment","label":"units","format":"{{value}}","min":"-10","max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":600,"wires":[]},{"id":"dc0469c0.e39e98","type":"twitter in","z":"5649e6a.04d5718","twitter":"302520fb.f67a2","tags":"lockdown","user":"false","name":"Lockdown_tweets","inputs":1,"x":250,"y":140,"wires":[["195de191.5a68ee"]]},{"id":"b1c669c6.dd27c8","type":"sentiment","z":"5649e6a.04d5718","name":"Sentiment of Tweets","x":200,"y":240,"wires":[["6179b843.b3df18"]]},{"id":"b4dd221d.76cf6","type":"change","z":"ae469bdc.fc0cc8","name":"Create payload for map","rules":[{"t":"set","p":"store.text","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"store.sentiment","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"store","tot":"msg"},{"t":"set","p":"payload.icon","pt":"msg","to":"fa-twitter-square","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":480,"wires":[["9e849273.09d54"]]},{"id":"130dcf6e.3e3b21","type":"debug","z":"ae469bdc.fc0cc8","name":"Payload","active":false,"console":"false","complete":"payload","x":820,"y":720,"wires":[]},{"id":"9e849273.09d54","type":"switch","z":"ae469bdc.fc0cc8","name":"Sentiment color","property":"payload.sentiment","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"str"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":320,"y":660,"wires":[["85c77e11.17045"],["dca4bf8f.f2181"],["73dc92d3.59351c"]],"inputLabels":["sentiment"],"outputLabels":["neutral","postive",""]},{"id":"85c77e11.17045","type":"change","z":"ae469bdc.fc0cc8","name":"Set to grey","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":600,"wires":[["cf380111.9081f","130dcf6e.3e3b21"]]},{"id":"dca4bf8f.f2181","type":"change","z":"ae469bdc.fc0cc8","name":"Set to green","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":660,"wires":[["cf380111.9081f","130dcf6e.3e3b21"]]},{"id":"73dc92d3.59351c","type":"change","z":"ae469bdc.fc0cc8","name":"Set to red","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":720,"wires":[["cf380111.9081f","130dcf6e.3e3b21"]]},{"id":"97facb47.34b058","type":"function","z":"ae469bdc.fc0cc8","name":"","func":"if ( msg.payload === false ) {\n    return null;\n}\n\nif( typeof msg.tweet.text != 'undefined') {\n   return msg;\n}","outputs":1,"noerr":0,"x":310,"y":200,"wires":[["ac9127fa.35e988"]]},{"id":"a555eb27.da4988","type":"function","z":"ae469bdc.fc0cc8","name":"Tweet URL","func":"msg.payload = \"<a  href=\\\"https://twitter.com/\"+msg.tweet.user.screen_name+\"/status/\"+msg.tweet.id_str+\"\\\">Open Tweet</a>\";\n\nif( typeof msg.payload.retweeted_status != 'undefined') {\n    msg.payload = \"<a href=\\\"https://twitter.com/\"+msg.tweet.retweeted_status.user.screen_name+\"/status/\"+msg.tweet.retweeted_status.id_str+\"\\\">Open Tweet</a>\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":400,"wires":[["2971eb23.4a4394"]]},{"id":"f535d98f.408b48","type":"change","z":"ae469bdc.fc0cc8","name":"Sentiment Score","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":440,"wires":[["2401bfe4.934e8"]]},{"id":"ac9127fa.35e988","type":"switch","z":"ae469bdc.fc0cc8","name":"tweet.user.location ?","property":"tweet.user.location","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":200,"wires":[["74f2885b.37c318"]]},{"id":"74f2885b.37c318","type":"change","z":"ae469bdc.fc0cc8","name":"MapBox AccessToken","rules":[{"t":"set","p":"accesstoken","pt":"msg","to":"pk.eyJ1Ijoic3V5YXNoY2hpbCIsImEiOiJja2J1a2V2dzcwM3k0MnpxY2pueWUzMHdwIn0.z3p26StYmISw_rmXLYcdFg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":200,"wires":[["ac9a96ea.461028"]]},{"id":"ac9a96ea.461028","type":"http request","z":"ae469bdc.fc0cc8","name":"MapBox HTTP Request","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.mapbox.com/geocoding/v5/mapbox.places/{{{tweet.user.location}}}.json?access_token={{accesstoken}}&limit=1","tls":"","persist":false,"proxy":"","authType":"","x":990,"y":200,"wires":[["b14184d2.a2ab68"]]},{"id":"b14184d2.a2ab68","type":"json","z":"ae469bdc.fc0cc8","name":"","property":"payload","action":"","pretty":false,"x":1190,"y":200,"wires":[["ee1371e7.a2c6c"]]},{"id":"ee1371e7.a2c6c","type":"change","z":"ae469bdc.fc0cc8","name":"Payload for sentiment","rules":[{"t":"set","p":"store.lat","pt":"msg","to":"payload.features[0].geometry.coordinates[1]","tot":"msg"},{"t":"set","p":"store.lon","pt":"msg","to":"payload.features[0].geometry.coordinates[0]","tot":"msg"},{"t":"set","p":"store.place","pt":"msg","to":"location.place","tot":"msg"},{"t":"set","p":"store.name","pt":"msg","to":"tweet.id_str","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"},{"t":"set","p":"store.sender","pt":"msg","to":"tweet.user.screen_name","tot":"msg"},{"t":"set","p":"store.photoUrl","pt":"msg","to":"tweet.user.profile_image_url","tot":"msg"},{"t":"set","p":"store.command.zoom","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":460,"wires":[["a555eb27.da4988","9c49d201.22977","3df0fa7f.4fdce6","b81b1ee8.d482f"]]},{"id":"46174633.4521d8","type":"debug","z":"ae469bdc.fc0cc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":80,"wires":[]},{"id":"39a60b24.0b2bb4","type":"template","z":"ae469bdc.fc0cc8","name":"Add Map to Dashboard","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src={{{payload}}} height=624px width=700px></iframe>","x":610,"y":40,"wires":[["78d1199c.5a2338"]]},{"id":"75cef615.893aa8","type":"function","z":"ae469bdc.fc0cc8","name":"Inject /worldmap","func":"msg.payload = \"/worldmap\";\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.org/hot/{z}/{x}/{y}.png';\nvar o = JSON.stringify({ maxZoom: 19, attribution: '&copy; OpenStreetMap'});\n\nmsg.payload.command =   {\n                        layer:\"Esri\",\n                        lat:18.44081,\n                        lon:-66.08068,                        \n                        zoom:2,\n                        map: {name:\"Esri\", url:u, opt:o},\n                        };\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":40,"wires":[["39a60b24.0b2bb4"]]},{"id":"6dcd2e43.de1d8","type":"inject","z":"ae469bdc.fc0cc8","name":"Init Dashboard","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":140,"y":40,"wires":[["75cef615.893aa8"]]},{"id":"b8175340.70f6c","type":"ui_switch","z":"ae469bdc.fc0cc8","name":"","label":"Enable / Disable","tooltip":"","group":"f5f3c134.3b053","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":140,"y":200,"wires":[["97facb47.34b058"]]},{"id":"2401bfe4.934e8","type":"ui_gauge","z":"ae469bdc.fc0cc8","name":"","group":"f5f3c134.3b053","order":4,"width":"6","height":"4","gtype":"gage","title":"Sentiment","label":"units","format":"{{value}}","min":"-10","max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":440,"wires":[]},{"id":"9c49d201.22977","type":"ui_text","z":"ae469bdc.fc0cc8","group":"f5f3c134.3b053","order":1,"width":"6","height":"3","name":"Tweet Text","label":"{{msg.store.sender}}","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":520,"wires":[]},{"id":"2971eb23.4a4394","type":"ui_template","z":"ae469bdc.fc0cc8","group":"f5f3c134.3b053","name":"Open Tweet","order":3,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":610,"y":400,"wires":[[]]},{"id":"78d1199c.5a2338","type":"ui_template","z":"ae469bdc.fc0cc8","group":"ab30b288.f9f2e","name":"Embedded Map","order":1,"width":"9","height":"11","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":860,"y":40,"wires":[[]]},{"id":"3df0fa7f.4fdce6","type":"sentiment","z":"ae469bdc.fc0cc8","name":"","property":"payload","x":400,"y":460,"wires":[["b4dd221d.76cf6","f535d98f.408b48"]]},{"id":"cf380111.9081f","type":"worldmap","z":"ae469bdc.fc0cc8","name":"","lat":"","lon":"","zoom":"","layer":"Esri","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","hiderightclick":"false","coords":"none","path":"","x":830,"y":600,"wires":[]},{"id":"c7bc37c8.b94da8","type":"twitter in","z":"ae469bdc.fc0cc8","twitter":"302520fb.f67a2","tags":"lockdown,covid,corona","user":"false","name":"Global_tweets","inputs":1,"x":150,"y":120,"wires":[["b8175340.70f6c"]]},{"id":"212260d0.54621","type":"function","z":"92d7b0dd.db76c","name":"live chart","func":"var temp = global.get('sentiment')\nmsg.topic=\"\"\nmsg.payload=msg.sentiment.score\nreturn msg","outputs":1,"noerr":0,"x":460,"y":380,"wires":[["b53148cf.26c348"]]},{"id":"e6307f2.e10c98","type":"function","z":"92d7b0dd.db76c","name":"set","func":"global.set('sentiment',msg.sentiment.score)\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":300,"wires":[[]]},{"id":"5e9482e4.4d506c","type":"function","z":"92d7b0dd.db76c","name":"convert to valid number","func":" msg.payload=msg.payload.tag\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":60,"wires":[["d8d02071.a40a9"]]},{"id":"d236e705.b05e08","type":"function","z":"92d7b0dd.db76c","name":"get and spin","func":"var temp = global.get('sentiment')\nreturn {sentiment:msg.sentiment.score}","outputs":1,"noerr":0,"x":470,"y":340,"wires":[["67257e92.cf955","ec4d447c.c5e918"]]},{"id":"4953a78c.99b468","type":"delay","z":"92d7b0dd.db76c","name":"","pauseType":"rate","timeout":"3","timeoutUnits":"seconds","rate":"5","nbRateUnits":"7","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":440,"wires":[["679409da.915968","e6307f2.e10c98","d236e705.b05e08","212260d0.54621","efd86620.de22b8","851c26c3.f29498","feb03137.cce73"]]},{"id":"9b0f7c01.39d2d","type":"ui_form","z":"92d7b0dd.db76c","name":"","label":"Enter Your Text","group":"912e2a25.650738","order":1,"width":0,"height":0,"options":[{"label":"Enter the Text","value":"tag","type":"text","required":true,"rows":null}],"formValue":{"tag":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":60,"wires":[["5e9482e4.4d506c"]]},{"id":"b53148cf.26c348","type":"ui_chart","z":"92d7b0dd.db76c","name":"","group":"9f9781af.3d4f6","order":1,"width":"6","height":"7","label":"Linear Plot","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":true,"ymin":"-15","ymax":"15","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#fd7d0d","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":380,"wires":[[]]},{"id":"67257e92.cf955","type":"ui_gauge","z":"92d7b0dd.db76c","name":"","group":"912e2a25.650738","order":6,"width":0,"height":0,"gtype":"gage","title":"Sentiments","label":"units","format":"{{msg.sentiment}}","min":"-10","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":340,"wires":[]},{"id":"ec4d447c.c5e918","type":"ui_gauge","z":"92d7b0dd.db76c","name":"","group":"912e2a25.650738","order":5,"width":0,"height":0,"gtype":"compass","title":"Sentiments","label":"units","format":"{{msg.sentiment}}","min":"-5","max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":300,"wires":[]},{"id":"679409da.915968","type":"ui_text","z":"92d7b0dd.db76c","group":"912e2a25.650738","order":4,"width":0,"height":0,"name":"","label":"Tweets   ","format":"{{msg.payload}}","layout":"row-spread","x":460,"y":260,"wires":[]},{"id":"d8d02071.a40a9","type":"twitter in","z":"92d7b0dd.db76c","twitter":"302520fb.f67a2","tags":"","user":"false","name":"Lockdown_tweets","inputs":1,"x":150,"y":200,"wires":[["67cf063.6b716f8"]]},{"id":"2043c5ef.8d76ba","type":"function","z":"2ef317ed.31cf38","name":"Set the value","func":"return {sentiment:msg.sentiment.score}\n\n","outputs":1,"noerr":0,"x":430,"y":280,"wires":[["2cb31532.99270a"]]},{"id":"eaa2a615.c309c8","type":"function","z":"2ef317ed.31cf38","name":"convert to valid number","func":"msg.payload=  msg.payload.text\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":140,"wires":[["fd922040.ad9a2"]]},{"id":"69817547.57666c","type":"function","z":"2ef317ed.31cf38","name":"set value for chart","func":"msg.payload=msg.sentiment.score\nreturn msg\n","outputs":1,"noerr":0,"x":450,"y":340,"wires":[["f174cdbb.b00d9"]]},{"id":"45256f8c.c8d53","type":"ui_form","z":"2ef317ed.31cf38","name":"","label":"Enter Sentence / Word","group":"1722b6e3.8ccb69","order":1,"width":0,"height":0,"options":[{"label":"Enter the Text","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":60,"wires":[["eaa2a615.c309c8"]]},{"id":"f174cdbb.b00d9","type":"ui_chart","z":"2ef317ed.31cf38","name":"","group":"1722b6e3.8ccb69","order":2,"width":"6","height":"4","label":"Linear Analysis Of Each Sentence","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":340,"wires":[[]]},{"id":"2cb31532.99270a","type":"ui_gauge","z":"2ef317ed.31cf38","name":"","group":"1722b6e3.8ccb69","order":1,"width":"6","height":"6","gtype":"gage","title":"Sentiments","label":"units","format":"{{msg.sentiment}}","min":"-10","max":"10","colors":["#ff0011","#e6e600","#05f515"],"seg1":"","seg2":"","x":650,"y":280,"wires":[]},{"id":"fd922040.ad9a2","type":"sentiment","z":"2ef317ed.31cf38","name":"sentiment","property":"payload","x":160,"y":300,"wires":[["2043c5ef.8d76ba","69817547.57666c"]]},{"id":"86b7a378.8dae2","type":"switch","z":"5649e6a.04d5718","name":"","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":220,"wires":[["27c7581d.361508"]]},{"id":"2e71d068.65845","type":"switch","z":"5649e6a.04d5718","name":"","property":"sentiment.score","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":280,"wires":[["4e358d3a.06c144"]]},{"id":"27c7581d.361508","type":"change","z":"5649e6a.04d5718","name":"change 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":220,"wires":[["247d4299.10727e"]]},{"id":"4e358d3a.06c144","type":"change","z":"5649e6a.04d5718","name":"change 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":280,"wires":[["2cd767ad.00bc68"]]},{"id":"2cd767ad.00bc68","type":"function","z":"5649e6a.04d5718","name":"Legend","func":"msg.topic=\"Negative\";\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":280,"wires":[["5860d88b.45abd8"]]},{"id":"247d4299.10727e","type":"function","z":"5649e6a.04d5718","name":"Legend","func":"msg.topic=\"Positive\";\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":220,"wires":[["5860d88b.45abd8"]]},{"id":"5860d88b.45abd8","type":"ui_chart","z":"5649e6a.04d5718","name":"","group":"859794c0.374c78","order":2,"width":0,"height":0,"label":"Postive And Negative Sentiments","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":false,"ymin":"-15","ymax":"15","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff0000","#2bff00","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1160,"y":160,"wires":[[]]},{"id":"851c26c3.f29498","type":"switch","z":"92d7b0dd.db76c","name":"","property":"sentiment.score","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":180,"wires":[["ba63586b.543408"]]},{"id":"efd86620.de22b8","type":"switch","z":"92d7b0dd.db76c","name":"","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":120,"wires":[["603c3216.90531c"]]},{"id":"603c3216.90531c","type":"change","z":"92d7b0dd.db76c","name":"change 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":120,"wires":[["61952193.d80fb"]]},{"id":"ba63586b.543408","type":"change","z":"92d7b0dd.db76c","name":"change 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":180,"wires":[["126aff91.5986d"]]},{"id":"126aff91.5986d","type":"function","z":"92d7b0dd.db76c","name":"Legend","func":"msg.topic=\"Negative\";\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":240,"wires":[["40e52daf.8f6024"]]},{"id":"61952193.d80fb","type":"function","z":"92d7b0dd.db76c","name":"Legend","func":"msg.topic=\"Positive\";\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":60,"wires":[["40e52daf.8f6024"]]},{"id":"40e52daf.8f6024","type":"ui_chart","z":"92d7b0dd.db76c","name":"","group":"9f9781af.3d4f6","order":2,"width":"6","height":"7","label":"Postive And Negative Sentiments","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":false,"ymin":"-15","ymax":"15","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff0000","#2bff00","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":880,"y":580,"wires":[[]]},{"id":"67cf063.6b716f8","type":"sentiment","z":"92d7b0dd.db76c","name":"sentiment","property":"payload","x":100,"y":340,"wires":[["4953a78c.99b468"]]},{"id":"ecfef376.65283","type":"ui_button","z":"5649e6a.04d5718","name":"","group":"c3e2f486.5f9918","order":2,"width":"6","height":"1","passthru":false,"label":"clear  graph","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":390,"y":740,"wires":[["a12274a.8a68288","5860d88b.45abd8"]]},{"id":"c082a780.21e588","type":"ui_button","z":"92d7b0dd.db76c","name":"","group":"912e2a25.650738","order":2,"width":"6","height":"1","passthru":false,"label":"clear graph","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":530,"y":640,"wires":[["40e52daf.8f6024","b53148cf.26c348"]]},{"id":"8e855e6d.05353","type":"ui_text","z":"5649e6a.04d5718","group":"3e057a54.5d1aa6","order":2,"width":"6","height":"2","name":"","label":"Tweets: ","format":"{{msg.payload}}","layout":"row-left","x":760,"y":560,"wires":[]},{"id":"419c0747.2339a8","type":"ui_text","z":"5649e6a.04d5718","group":"3e057a54.5d1aa6","order":1,"width":0,"height":0,"name":"","label":"Username : ","format":"{{msg.tweet.user.name}}","layout":"row-left","x":770,"y":480,"wires":[]},{"id":"b81b1ee8.d482f","type":"ui_text","z":"ae469bdc.fc0cc8","group":"f5f3c134.3b053","order":2,"width":0,"height":0,"name":"","label":"Username : ","format":"{{msg.tweet.user.name}}","layout":"row-left","x":410,"y":560,"wires":[]},{"id":"feb03137.cce73","type":"ui_text","z":"92d7b0dd.db76c","group":"912e2a25.650738","order":3,"width":0,"height":0,"name":"","label":"Username : ","format":"{{msg.tweet.user.name}}","layout":"row-left","x":470,"y":200,"wires":[]},{"id":"a93eea1.453a918","type":"ui_text","z":"5649e6a.04d5718","group":"3e057a54.5d1aa6","order":3,"width":0,"height":0,"name":"","label":"Date: ","format":"{{msg.tweet.created_at}}","layout":"row-left","x":750,"y":440,"wires":[]},{"id":"60a60a33.cfec54","type":"change","z":"5649e6a.04d5718","name":"Set to grey","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1450,"y":740,"wires":[["22c593d4.0bd09c"]]},{"id":"cf8b9801.9160c8","type":"change","z":"5649e6a.04d5718","name":"Create payload for map","rules":[{"t":"set","p":"store.text","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"store.sentiment","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"store","tot":"msg"},{"t":"set","p":"payload.icon","pt":"msg","to":"fa-twitter-square","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":620,"wires":[["c8714117.d7381"]]},{"id":"c8714117.d7381","type":"switch","z":"5649e6a.04d5718","name":"Sentiment color","property":"payload.sentiment","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"str"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1200,"y":800,"wires":[["60a60a33.cfec54"],["79b24a7c.725824"],["6201afa8.23f6b"]],"inputLabels":["sentiment"],"outputLabels":["neutral","postive",""]},{"id":"79b24a7c.725824","type":"change","z":"5649e6a.04d5718","name":"Set to green","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1450,"y":800,"wires":[["22c593d4.0bd09c"]]},{"id":"6201afa8.23f6b","type":"change","z":"5649e6a.04d5718","name":"Set to red","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":860,"wires":[["22c593d4.0bd09c"]]},{"id":"cbd2e3a0.f6449","type":"function","z":"5649e6a.04d5718","name":"","func":"if ( msg.payload === false ) {\n    return null;\n}\n\nif( typeof msg.tweet.text != 'undefined') {\n   return msg;\n}","outputs":1,"noerr":0,"x":1190,"y":340,"wires":[["49119fd0.c451a"]]},{"id":"49119fd0.c451a","type":"switch","z":"5649e6a.04d5718","name":"tweet.user.location ?","property":"tweet.user.location","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1380,"y":340,"wires":[["341274c6.56e2fc"]]},{"id":"341274c6.56e2fc","type":"change","z":"5649e6a.04d5718","name":"MapBox AccessToken","rules":[{"t":"set","p":"accesstoken","pt":"msg","to":"pk.eyJ1Ijoic3V5YXNoY2hpbCIsImEiOiJja2J1a2V2dzcwM3k0MnpxY2pueWUzMHdwIn0.z3p26StYmISw_rmXLYcdFg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":340,"wires":[["5fc23646.240578"]]},{"id":"5fc23646.240578","type":"http request","z":"5649e6a.04d5718","name":"MapBox HTTP Request","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.mapbox.com/geocoding/v5/mapbox.places/{{{tweet.user.location}}}.json?access_token={{accesstoken}}&limit=1","tls":"","persist":false,"proxy":"","authType":"","x":1870,"y":340,"wires":[["fabbb722.dcc4f8"]]},{"id":"fabbb722.dcc4f8","type":"json","z":"5649e6a.04d5718","name":"","property":"payload","action":"","pretty":false,"x":2070,"y":340,"wires":[["24c1a06d.5230d"]]},{"id":"22c593d4.0bd09c","type":"worldmap","z":"5649e6a.04d5718","name":"","lat":"","lon":"","zoom":"","layer":"Nat Geo","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","hiderightclick":"false","coords":"none","path":"","x":1710,"y":740,"wires":[]},{"id":"24c1a06d.5230d","type":"change","z":"5649e6a.04d5718","name":"Payload for sentiment","rules":[{"t":"set","p":"store.lat","pt":"msg","to":"payload.features[0].geometry.coordinates[1]","tot":"msg"},{"t":"set","p":"store.lon","pt":"msg","to":"payload.features[0].geometry.coordinates[0]","tot":"msg"},{"t":"set","p":"store.place","pt":"msg","to":"location.place","tot":"msg"},{"t":"set","p":"store.name","pt":"msg","to":"tweet.id_str","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"},{"t":"set","p":"store.sender","pt":"msg","to":"tweet.user.screen_name","tot":"msg"},{"t":"set","p":"store.photoUrl","pt":"msg","to":"tweet.user.profile_image_url","tot":"msg"},{"t":"set","p":"store.command.zoom","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":600,"wires":[["b1c669c6.dd27c8"]]},{"id":"5252c7f2.a15f28","type":"twitter in","z":"5649e6a.04d5718","twitter":"8175b5ca.613f48","tags":"lockdown","user":"false","name":"Lockdown_tweets","inputs":1,"x":210,"y":1200,"wires":[["d18b447e.2d5e78"]]},{"id":"2240ea17.422df6","type":"sentiment","z":"5649e6a.04d5718","name":"Sentiment of Tweets","x":280,"y":1300,"wires":[["7b200e40.0abf1","25439eab.7dd2f2","ee9cf5d3.5068c8","da79ea35.1c79a8"]]},{"id":"25439eab.7dd2f2","type":"switch","z":"5649e6a.04d5718","name":"","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":1280,"wires":[["a26372d3.d6958"]]},{"id":"ee9cf5d3.5068c8","type":"switch","z":"5649e6a.04d5718","name":"","property":"sentiment.score","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":1340,"wires":[["67556457.ee349c"]]},{"id":"a26372d3.d6958","type":"change","z":"5649e6a.04d5718","name":"change 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1280,"wires":[["f224f564.af02a8"]]},{"id":"67556457.ee349c","type":"change","z":"5649e6a.04d5718","name":"change 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":1340,"wires":[["e635cdf6.d8a48"]]},{"id":"e4286042.58002","type":"function","z":"5649e6a.04d5718","name":"Legend","func":"msg.topic=\"Negative\";\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":1360,"wires":[["ae69eb9f.0aadf8","4d4072c9.04e15c"]]},{"id":"b68423db.569a7","type":"function","z":"5649e6a.04d5718","name":"Legend","func":"msg.topic=\"Positive\";\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":1280,"wires":[["ae69eb9f.0aadf8","4d4072c9.04e15c"]]},{"id":"da79ea35.1c79a8","type":"switch","z":"5649e6a.04d5718","name":"","property":"sentiment.score","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":1500,"wires":[["af3a1d87.e08a2"]]},{"id":"af3a1d87.e08a2","type":"change","z":"5649e6a.04d5718","name":"change 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":1500,"wires":[["87009d26.9c5e6"]]},{"id":"ef4e5b34.2bddb8","type":"function","z":"5649e6a.04d5718","name":"Legend","func":"msg.topic=\"Neutral\";\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":1440,"wires":[["ae69eb9f.0aadf8","4d4072c9.04e15c"]]},{"id":"f224f564.af02a8","type":"Message Counter","z":"5649e6a.04d5718","name":"","units":"minutes","interval":"2","alignToClock":true,"generator":"internal","x":960,"y":1280,"wires":[["b68423db.569a7","9b867e7d.c6c81"],[]]},{"id":"e635cdf6.d8a48","type":"Message Counter","z":"5649e6a.04d5718","name":"","units":"minutes","interval":"2","alignToClock":true,"generator":"internal","x":1000,"y":1360,"wires":[["e4286042.58002","778c5a43.cef1d4"],[]]},{"id":"87009d26.9c5e6","type":"Message Counter","z":"5649e6a.04d5718","name":"","units":"minutes","interval":"2","alignToClock":true,"generator":"internal","x":990,"y":1460,"wires":[["ef4e5b34.2bddb8","7b33206.d3c29e","8713c29a.9efde"],[]]},{"id":"ae69eb9f.0aadf8","type":"ui_chart","z":"5649e6a.04d5718","name":"","group":"859794c0.374c78","order":3,"width":0,"height":0,"label":"Sentiment History","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#50a744","#e90c2d","#fbff00","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1480,"y":1300,"wires":[[]]},{"id":"4d4072c9.04e15c","type":"ui_chart","z":"5649e6a.04d5718","name":"","group":"859794c0.374c78","order":4,"width":0,"height":0,"label":"Sentiment History","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1490,"y":1400,"wires":[[]]},{"id":"3b8c9c2.1e89564","type":"change","z":"5649e6a.04d5718","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"people are taking  the situation positively  these days so Lockdown can be extended .","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1660,"wires":[["689e3b8e.73faf4"]]},{"id":"adc8e9c6.b32278","type":"change","z":"5649e6a.04d5718","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"since negative sentiment is more these days if the lockdown will be extended fear and disgust will be more so lockdown cannot be extended now ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1700,"wires":[["689e3b8e.73faf4"]]},{"id":"689e3b8e.73faf4","type":"ui_text","z":"5649e6a.04d5718","group":"50e662c1.177fec","order":1,"width":"6","height":"2","name":"","label":"","format":"{{msg.topic}}","layout":"row-center","x":1270,"y":1600,"wires":[]},{"id":"cda93012.3158a","type":"function","z":"5649e6a.04d5718","name":"Add two payloads","func":"msg.payload=msg.payload[0]+msg.payload[1]\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1700,"wires":[["ad080882.57ad38"]]},{"id":"9b867e7d.c6c81","type":"join","z":"5649e6a.04d5718","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":390,"y":1620,"wires":[["cda93012.3158a"]]},{"id":"778c5a43.cef1d4","type":"function","z":"5649e6a.04d5718","name":"to convert positive to negative","func":"msg.payload=-msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1560,"wires":[["9b867e7d.c6c81"]]},{"id":"ad080882.57ad38","type":"switch","z":"5649e6a.04d5718","name":"Compare payloads","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":750,"y":1700,"wires":[["4bbf0fdb.af0c1"],["58793106.a1a42"],["3b8c9c2.1e89564"]]},{"id":"58793106.a1a42","type":"join","z":"5649e6a.04d5718","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":390,"y":1860,"wires":[["5d27bb51.50c934"]]},{"id":"5d27bb51.50c934","type":"function","z":"5649e6a.04d5718","name":"if length is 2 ","func":"if(msg.payload.length==2){\n    return msg;\n}\n  \n //if no elements are negative return false\n \n","outputs":1,"noerr":0,"x":550,"y":1860,"wires":[["e413077d.2b33b8"]]},{"id":"7b33206.d3c29e","type":"delay","z":"5649e6a.04d5718","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":1860,"wires":[["58793106.a1a42"]]},{"id":"e413077d.2b33b8","type":"function","z":"5649e6a.04d5718","name":"Add two payloads","func":"msg.payload=msg.payload[0]+msg.payload[1]\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1860,"wires":[["277d998a.943c96"]]},{"id":"277d998a.943c96","type":"switch","z":"5649e6a.04d5718","name":"compare","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":720,"y":1760,"wires":[["adc8e9c6.b32278"],["81bfa086.20fff"],["81bfa086.20fff"]]},{"id":"81bfa086.20fff","type":"change","z":"5649e6a.04d5718","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"current  situation can be continued for some time but total lockdown will not be good.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1740,"wires":[["689e3b8e.73faf4"]]},{"id":"4bbf0fdb.af0c1","type":"function","z":"5649e6a.04d5718","name":"to convert positive to negative","func":"msg.payload=-msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1960,"wires":[["3738f3f7.f1788c"]]},{"id":"8713c29a.9efde","type":"delay","z":"5649e6a.04d5718","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":2060,"wires":[["3738f3f7.f1788c"]]},{"id":"3738f3f7.f1788c","type":"join","z":"5649e6a.04d5718","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":450,"y":2060,"wires":[["90affa41.787668"]]},{"id":"90affa41.787668","type":"function","z":"5649e6a.04d5718","name":"Add two payloads","func":"msg.payload=msg.payload[0]+msg.payload[1]\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":2060,"wires":[["e1b0f88c.6d94a8"]]},{"id":"e1b0f88c.6d94a8","type":"switch","z":"5649e6a.04d5718","name":"compare","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":900,"y":2060,"wires":[["3b8c9c2.1e89564"],["81bfa086.20fff"],["3b8c9c2.1e89564"]]},{"id":"76aaefd7.caead","type":"template","z":"5649e6a.04d5718","name":"Add Map to Dashboard","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src={{{payload}}} height=600px width=467px></iframe>","x":750,"y":40,"wires":[["8e65373f.bf1df8"]]},{"id":"88f72ca9.5dc3","type":"function","z":"5649e6a.04d5718","name":"Inject /worldmap","func":"msg.payload = \"/worldmap\";\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.org/hot/{z}/{x}/{y}.png';\nvar o = JSON.stringify({ maxZoom: 19, attribution: '&copy; OpenStreetMap'});\n\nmsg.payload.command =   {\n                        layer:\"Esri\",\n                        lat:18.44081,\n                        lon:-66.08068,                        \n                        zoom:2,\n                        map: {name:\"Esri\", url:u, opt:o},\n                        };\nreturn msg;\n","outputs":1,"noerr":0,"x":500,"y":40,"wires":[["76aaefd7.caead"]]},{"id":"9934d2cf.39a8a","type":"inject","z":"5649e6a.04d5718","name":"Init Dashboard","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":280,"y":40,"wires":[["88f72ca9.5dc3"]]},{"id":"8e65373f.bf1df8","type":"ui_template","z":"5649e6a.04d5718","group":"4907c9b9.a2f098","name":"Embedded Map","order":1,"width":"6","height":"10","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1000,"y":40,"wires":[[]]},{"id":"d18b447e.2d5e78","type":"function","z":"5649e6a.04d5718","name":"Remove URLS and replace #","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1200,"wires":[["71869d85.f258d4"]]},{"id":"71869d85.f258d4","type":"switch","z":"5649e6a.04d5718","name":"","property":"location.place","propertyType":"msg","rules":[{"t":"cont","v":"India","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":1200,"wires":[["24f42b6b.0dcf34","2240ea17.422df6"]]},{"id":"195de191.5a68ee","type":"switch","z":"5649e6a.04d5718","name":"","property":"location.place","propertyType":"msg","rules":[{"t":"cont","v":"India","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":100,"wires":[["cbd2e3a0.f6449","b030d574.fbf388"]]},{"id":"7b200e40.0abf1","type":"delay","z":"5649e6a.04d5718","d":true,"name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":1460,"wires":[["25439eab.7dd2f2","ee9cf5d3.5068c8","da79ea35.1c79a8"]]},{"id":"24f42b6b.0dcf34","type":"debug","z":"5649e6a.04d5718","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":1120,"wires":[]},{"id":"682ce67d.ebb8a8","type":"function","z":"50ac0bf8.b61354","name":"Remove URLS and replace #","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":140,"wires":[["a99f5fd5.5c02a"]]},{"id":"f376824e.96ce9","type":"function","z":"50ac0bf8.b61354","name":"Storage Tweet data","func":"// tweet object includes a timestamp_ms\nmsg.payload = { \"timestamp\" : msg.tweet.timestamp_ms ,\n                \"tweet\"     : msg.tweet.text,\n                \"sentiment\" : msg.sentiment.score};\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":540,"wires":[["5964a34c.43d84c"]]},{"id":"fdcc129.fdf44f","type":"delay","z":"50ac0bf8.b61354","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":150,"y":480,"wires":[["932a218b.91a72","3ff125ec.3f932a","f376824e.96ce9","6e71248d.3472ec","f556f265.7c7eb","a52ea32e.b4ad1"]]},{"id":"5964a34c.43d84c","type":"cloudant out","z":"50ac0bf8.b61354","name":"","cloudant":"","database":"tweetdata","service":"node-red-kyrky-cloudant-1592995397209-76730","payonly":true,"operation":"insert","x":660,"y":540,"wires":[]},{"id":"932a218b.91a72","type":"change","z":"50ac0bf8.b61354","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":580,"wires":[["9a698b6a.5dd058","9b39a544.e41b78","fac1b2e1.00385"]]},{"id":"3ff125ec.3f932a","type":"change","z":"50ac0bf8.b61354","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":620,"wires":[["f7735cb7.58aa"]]},{"id":"f7735cb7.58aa","type":"ui_chart","z":"50ac0bf8.b61354","name":"","group":"8e3e344a.6d31c8","order":1,"width":0,"height":0,"label":"Tweet Sentiment History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-15","ymax":"15","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":690,"y":700,"wires":[[]]},{"id":"81bf1d69.5c13","type":"twitter in","z":"50ac0bf8.b61354","twitter":"8175b5ca.613f48","tags":"lockdown","user":"false","name":"Lockdown_tweets","inputs":1,"x":150,"y":160,"wires":[["bcf94941.3bb4b8"]]},{"id":"a99f5fd5.5c02a","type":"sentiment","z":"50ac0bf8.b61354","name":"Sentiment of Tweets","x":100,"y":260,"wires":[["fdcc129.fdf44f"]]},{"id":"6e71248d.3472ec","type":"switch","z":"50ac0bf8.b61354","name":"","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":240,"wires":[["9a088c02.c425f"]]},{"id":"f556f265.7c7eb","type":"switch","z":"50ac0bf8.b61354","name":"","property":"sentiment.score","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":300,"wires":[["43b31e5a.96fc4"]]},{"id":"9a088c02.c425f","type":"change","z":"50ac0bf8.b61354","name":"change 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":240,"wires":[["22bd657c.1f5bba"]]},{"id":"43b31e5a.96fc4","type":"change","z":"50ac0bf8.b61354","name":"change 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":300,"wires":[["dcaf380a.4cddf8"]]},{"id":"dcaf380a.4cddf8","type":"function","z":"50ac0bf8.b61354","name":"Legend","func":"msg.topic=\"Negative\";\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":300,"wires":[["8dfa18e8.427b08"]]},{"id":"22bd657c.1f5bba","type":"function","z":"50ac0bf8.b61354","name":"Legend","func":"msg.topic=\"Positive\";\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":240,"wires":[["8dfa18e8.427b08"]]},{"id":"8dfa18e8.427b08","type":"ui_chart","z":"50ac0bf8.b61354","name":"","group":"8e3e344a.6d31c8","order":5,"width":0,"height":0,"label":"Postive And Negative Sentiments","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":false,"ymin":"-15","ymax":"15","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff0000","#2bff00","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1060,"y":180,"wires":[[]]},{"id":"a36f9818.adf468","type":"ui_button","z":"50ac0bf8.b61354","name":"","group":"8e3e344a.6d31c8","order":6,"width":"6","height":"1","passthru":false,"label":"clear  graph","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":290,"y":760,"wires":[["f7735cb7.58aa","8dfa18e8.427b08"]]},{"id":"9a698b6a.5dd058","type":"ui_text","z":"50ac0bf8.b61354","group":"8e3e344a.6d31c8","order":3,"width":0,"height":0,"name":"","label":"Tweets: ","format":"{{msg.payload}}","layout":"row-left","x":660,"y":580,"wires":[]},{"id":"9b39a544.e41b78","type":"ui_text","z":"50ac0bf8.b61354","group":"8e3e344a.6d31c8","order":2,"width":0,"height":0,"name":"","label":"Username : ","format":"{{msg.tweet.user.name}}","layout":"row-left","x":670,"y":500,"wires":[]},{"id":"5d6304b9.08f12c","type":"ui_text","z":"50ac0bf8.b61354","group":"8e3e344a.6d31c8","order":4,"width":0,"height":0,"name":"","label":"Date: ","format":"{{msg.tweet.created_at}}","layout":"row-left","x":650,"y":460,"wires":[]},{"id":"6f615353.07c1cc","type":"change","z":"50ac0bf8.b61354","name":"Set to grey","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":760,"wires":[["5b932e8c.28c15"]]},{"id":"a52ea32e.b4ad1","type":"change","z":"50ac0bf8.b61354","name":"Create payload for map","rules":[{"t":"set","p":"store.text","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"store.sentiment","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"store","tot":"msg"},{"t":"set","p":"payload.icon","pt":"msg","to":"fa-twitter-square","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":640,"wires":[["3170e1f7.4d781e"]]},{"id":"3170e1f7.4d781e","type":"switch","z":"50ac0bf8.b61354","name":"Sentiment color","property":"payload.sentiment","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"str"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1100,"y":820,"wires":[["6f615353.07c1cc"],["345bf340.d79b7c"],["64f22ac4.4d83a4"]],"inputLabels":["sentiment"],"outputLabels":["neutral","postive",""]},{"id":"345bf340.d79b7c","type":"change","z":"50ac0bf8.b61354","name":"Set to green","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":820,"wires":[["5b932e8c.28c15"]]},{"id":"64f22ac4.4d83a4","type":"change","z":"50ac0bf8.b61354","name":"Set to red","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":880,"wires":[["5b932e8c.28c15"]]},{"id":"7f07465f.de67d8","type":"function","z":"50ac0bf8.b61354","name":"","func":"if ( msg.payload === false ) {\n    return null;\n}\n\nif( typeof msg.tweet.text != 'undefined') {\n   return msg;\n}","outputs":1,"noerr":0,"x":1090,"y":360,"wires":[["4f3ddaaa.4239c4"]]},{"id":"4f3ddaaa.4239c4","type":"switch","z":"50ac0bf8.b61354","name":"tweet.user.location ?","property":"tweet.user.location","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1280,"y":360,"wires":[["ce368dfc.49db7"]]},{"id":"ce368dfc.49db7","type":"change","z":"50ac0bf8.b61354","name":"MapBox AccessToken","rules":[{"t":"set","p":"accesstoken","pt":"msg","to":"pk.eyJ1Ijoic3V5YXNoY2hpbCIsImEiOiJja2J1a2V2dzcwM3k0MnpxY2pueWUzMHdwIn0.z3p26StYmISw_rmXLYcdFg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":360,"wires":[["b4c0cc6b.e2f64"]]},{"id":"b4c0cc6b.e2f64","type":"http request","z":"50ac0bf8.b61354","name":"MapBox HTTP Request","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.mapbox.com/geocoding/v5/mapbox.places/{{{tweet.user.location}}}.json?access_token={{accesstoken}}&limit=1","tls":"","persist":false,"proxy":"","authType":"","x":1770,"y":360,"wires":[["aa91c7a1.24e4f8"]]},{"id":"aa91c7a1.24e4f8","type":"json","z":"50ac0bf8.b61354","name":"","property":"payload","action":"","pretty":false,"x":1970,"y":360,"wires":[["caf58a78.234208"]]},{"id":"5b932e8c.28c15","type":"worldmap","z":"50ac0bf8.b61354","name":"","lat":"","lon":"","zoom":"","layer":"Nat Geo","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","hiderightclick":"false","coords":"none","path":"","x":1610,"y":760,"wires":[]},{"id":"caf58a78.234208","type":"change","z":"50ac0bf8.b61354","name":"Payload for sentiment","rules":[{"t":"set","p":"store.lat","pt":"msg","to":"payload.features[0].geometry.coordinates[1]","tot":"msg"},{"t":"set","p":"store.lon","pt":"msg","to":"payload.features[0].geometry.coordinates[0]","tot":"msg"},{"t":"set","p":"store.place","pt":"msg","to":"location.place","tot":"msg"},{"t":"set","p":"store.name","pt":"msg","to":"tweet.id_str","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"},{"t":"set","p":"store.sender","pt":"msg","to":"tweet.user.screen_name","tot":"msg"},{"t":"set","p":"store.photoUrl","pt":"msg","to":"tweet.user.profile_image_url","tot":"msg"},{"t":"set","p":"store.command.zoom","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":620,"wires":[["a99f5fd5.5c02a"]]},{"id":"8f111988.06a5f8","type":"template","z":"50ac0bf8.b61354","name":"Add Map to Dashboard","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src={{{payload}}} height=600px width=967px></iframe>","x":650,"y":60,"wires":[["2367002b.cfd0c"]]},{"id":"327c5fb6.046ef","type":"function","z":"50ac0bf8.b61354","name":"Inject /worldmap","func":"msg.payload = \"/worldmap\";\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.org/hot/{z}/{x}/{y}.png';\nvar o = JSON.stringify({ maxZoom: 19, attribution: '&copy; OpenStreetMap'});\n\nmsg.payload.command =   {\n                        layer:\"Esri\",\n                        lat:18.44081,\n                        lon:-66.08068,                        \n                        zoom:2,\n                        map: {name:\"Esri\", url:u, opt:o},\n                        };\nreturn msg;\n","outputs":1,"noerr":0,"x":400,"y":60,"wires":[["8f111988.06a5f8"]]},{"id":"462df73.1b2d108","type":"inject","z":"50ac0bf8.b61354","name":"Init Dashboard","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":180,"y":60,"wires":[["327c5fb6.046ef"]]},{"id":"2367002b.cfd0c","type":"ui_template","z":"50ac0bf8.b61354","group":"66514162.29517","name":"Embedded Map","order":1,"width":"12","height":"10","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":900,"y":60,"wires":[[]]},{"id":"bcf94941.3bb4b8","type":"switch","z":"50ac0bf8.b61354","name":"","property":"location.place","propertyType":"msg","rules":[{"t":"cont","v":"India","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":120,"wires":[["682ce67d.ebb8a8","7f07465f.de67d8"]]},{"id":"d97d1c18.be6cc","type":"function","z":"50ac0bf8.b61354","name":"Remove URLS and replace #","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":1240,"wires":[["32542da9.6ed722"]]},{"id":"2f0f4ae6.7efa66","type":"function","z":"50ac0bf8.b61354","name":"Storage Tweet data","func":"// tweet object includes a timestamp_ms\nmsg.payload = { \"timestamp\" : msg.tweet.timestamp_ms ,\n                \"tweet\"     : msg.tweet.text,\n                \"sentiment\" : msg.sentiment.score};\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1640,"wires":[["b742f39f.cec1e"]]},{"id":"578e8744.a1c688","type":"delay","z":"50ac0bf8.b61354","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":150,"y":1580,"wires":[["173997f0.d3ed58","77f305af.9870bc","2f0f4ae6.7efa66","eadd82bc.0745d","e5a62c7a.7a37f","e623d058.1b75e"]]},{"id":"b742f39f.cec1e","type":"cloudant out","z":"50ac0bf8.b61354","name":"","cloudant":"","database":"tweetdata","service":"node-red-kyrky-cloudant-1592995397209-76730","payonly":true,"operation":"insert","x":660,"y":1640,"wires":[]},{"id":"173997f0.d3ed58","type":"change","z":"50ac0bf8.b61354","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1680,"wires":[["20715e46.8fd182","4dde833.c447a7c","86a0a5a6.9bdf88"]]},{"id":"77f305af.9870bc","type":"change","z":"50ac0bf8.b61354","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1720,"wires":[["63742e08.19a44"]]},{"id":"63742e08.19a44","type":"ui_chart","z":"50ac0bf8.b61354","name":"","group":"1ea2e6ea.fe7ad9","order":1,"width":0,"height":0,"label":"Tweet Sentiment History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-15","ymax":"15","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":690,"y":1800,"wires":[[]]},{"id":"8570e524.6a18b8","type":"twitter in","z":"50ac0bf8.b61354","twitter":"302520fb.f67a2","tags":"lockdown","user":"false","name":"Lockdown_tweets","inputs":1,"x":150,"y":1260,"wires":[["b6eb4c21.81299","657b729d.83754c"]]},{"id":"32542da9.6ed722","type":"sentiment","z":"50ac0bf8.b61354","name":"Sentiment of Tweets","x":100,"y":1360,"wires":[["578e8744.a1c688"]]},{"id":"eadd82bc.0745d","type":"switch","z":"50ac0bf8.b61354","name":"","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":1340,"wires":[["94d18337.bf836"]]},{"id":"e5a62c7a.7a37f","type":"switch","z":"50ac0bf8.b61354","name":"","property":"sentiment.score","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":1400,"wires":[["67f7d62d.988c18"]]},{"id":"94d18337.bf836","type":"change","z":"50ac0bf8.b61354","name":"change 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1340,"wires":[["372d5cb2.559bd4"]]},{"id":"67f7d62d.988c18","type":"change","z":"50ac0bf8.b61354","name":"change 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1400,"wires":[["81cd9f7.6dcde6"]]},{"id":"81cd9f7.6dcde6","type":"function","z":"50ac0bf8.b61354","name":"Legend","func":"msg.topic=\"Negative\";\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":1400,"wires":[["3f615401.623c4c"]]},{"id":"372d5cb2.559bd4","type":"function","z":"50ac0bf8.b61354","name":"Legend","func":"msg.topic=\"Positive\";\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1340,"wires":[["3f615401.623c4c"]]},{"id":"3f615401.623c4c","type":"ui_chart","z":"50ac0bf8.b61354","name":"","group":"1ea2e6ea.fe7ad9","order":5,"width":0,"height":0,"label":"Postive And Negative Sentiments","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":false,"ymin":"-15","ymax":"15","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff0000","#2bff00","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1060,"y":1280,"wires":[[]]},{"id":"3dc82a6b.ca85b6","type":"ui_button","z":"50ac0bf8.b61354","name":"","group":"1ea2e6ea.fe7ad9","order":6,"width":"6","height":"1","passthru":false,"label":"clear  graph","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":290,"y":1860,"wires":[["63742e08.19a44","3f615401.623c4c"]]},{"id":"20715e46.8fd182","type":"ui_text","z":"50ac0bf8.b61354","group":"1ea2e6ea.fe7ad9","order":3,"width":0,"height":0,"name":"","label":"Tweets: ","format":"{{msg.payload}}","layout":"row-left","x":660,"y":1680,"wires":[]},{"id":"4dde833.c447a7c","type":"ui_text","z":"50ac0bf8.b61354","group":"1ea2e6ea.fe7ad9","order":2,"width":0,"height":0,"name":"","label":"Username : ","format":"{{msg.tweet.user.name}}","layout":"row-left","x":670,"y":1600,"wires":[]},{"id":"6a8da29c.d77fcc","type":"ui_text","z":"50ac0bf8.b61354","group":"1ea2e6ea.fe7ad9","order":4,"width":0,"height":0,"name":"","label":"Date: ","format":"{{msg.tweet.created_at}}","layout":"row-left","x":650,"y":1560,"wires":[]},{"id":"bc1676e8.ff43c8","type":"change","z":"50ac0bf8.b61354","name":"Set to grey","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":1860,"wires":[["3a809299.7e594e"]]},{"id":"e623d058.1b75e","type":"change","z":"50ac0bf8.b61354","name":"Create payload for map","rules":[{"t":"set","p":"store.text","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"store.sentiment","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"store","tot":"msg"},{"t":"set","p":"payload.icon","pt":"msg","to":"fa-twitter-square","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":1740,"wires":[["172a349b.2853db"]]},{"id":"172a349b.2853db","type":"switch","z":"50ac0bf8.b61354","name":"Sentiment color","property":"payload.sentiment","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"str"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1100,"y":1920,"wires":[["bc1676e8.ff43c8"],["164cf9cf.747e16"],["669d30d0.915d2"]],"inputLabels":["sentiment"],"outputLabels":["neutral","postive",""]},{"id":"164cf9cf.747e16","type":"change","z":"50ac0bf8.b61354","name":"Set to green","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":1920,"wires":[["3a809299.7e594e"]]},{"id":"669d30d0.915d2","type":"change","z":"50ac0bf8.b61354","name":"Set to red","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":1980,"wires":[["3a809299.7e594e"]]},{"id":"9064d3c1.d9e09","type":"function","z":"50ac0bf8.b61354","name":"","func":"if ( msg.payload === false ) {\n    return null;\n}\n\nif( typeof msg.tweet.text != 'undefined') {\n   return msg;\n}","outputs":1,"noerr":0,"x":1090,"y":1460,"wires":[["e6a0c820.cc0018"]]},{"id":"e6a0c820.cc0018","type":"switch","z":"50ac0bf8.b61354","name":"tweet.user.location ?","property":"tweet.user.location","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1280,"y":1460,"wires":[["863765e2.605348"]]},{"id":"863765e2.605348","type":"change","z":"50ac0bf8.b61354","name":"MapBox AccessToken","rules":[{"t":"set","p":"accesstoken","pt":"msg","to":"pk.eyJ1Ijoic3V5YXNoY2hpbCIsImEiOiJja2J1a2V2dzcwM3k0MnpxY2pueWUzMHdwIn0.z3p26StYmISw_rmXLYcdFg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":1460,"wires":[["1f588f00.7ece11"]]},{"id":"1f588f00.7ece11","type":"http request","z":"50ac0bf8.b61354","name":"MapBox HTTP Request","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.mapbox.com/geocoding/v5/mapbox.places/{{{tweet.user.location}}}.json?access_token={{accesstoken}}&limit=1","tls":"","persist":false,"proxy":"","authType":"","x":1770,"y":1460,"wires":[["69844be2.6e5444"]]},{"id":"69844be2.6e5444","type":"json","z":"50ac0bf8.b61354","name":"","property":"payload","action":"","pretty":false,"x":1970,"y":1460,"wires":[["e81ddf76.4a412"]]},{"id":"3a809299.7e594e","type":"worldmap","z":"50ac0bf8.b61354","name":"","lat":"","lon":"","zoom":"","layer":"Nat Geo","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","hiderightclick":"false","coords":"none","path":"","x":1610,"y":1860,"wires":[]},{"id":"e81ddf76.4a412","type":"change","z":"50ac0bf8.b61354","name":"Payload for sentiment","rules":[{"t":"set","p":"store.lat","pt":"msg","to":"payload.features[0].geometry.coordinates[1]","tot":"msg"},{"t":"set","p":"store.lon","pt":"msg","to":"payload.features[0].geometry.coordinates[0]","tot":"msg"},{"t":"set","p":"store.place","pt":"msg","to":"location.place","tot":"msg"},{"t":"set","p":"store.name","pt":"msg","to":"tweet.id_str","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"},{"t":"set","p":"store.sender","pt":"msg","to":"tweet.user.screen_name","tot":"msg"},{"t":"set","p":"store.photoUrl","pt":"msg","to":"tweet.user.profile_image_url","tot":"msg"},{"t":"set","p":"store.command.zoom","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":1720,"wires":[["32542da9.6ed722"]]},{"id":"b6eb4c21.81299","type":"switch","z":"50ac0bf8.b61354","name":"","property":"location.place","propertyType":"msg","rules":[{"t":"cont","v":"UK","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1220,"wires":[["d97d1c18.be6cc","9064d3c1.d9e09"]]},{"id":"657b729d.83754c","type":"debug","z":"50ac0bf8.b61354","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":540,"y":1100,"wires":[]},{"id":"f0185c63.b3a39","type":"function","z":"5649e6a.04d5718","name":"Date conversion","func":"msg.tweet.created_at=msg.tweet.created_at.replace(\"+0000\", \"\");\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":480,"wires":[["a93eea1.453a918"]]},{"id":"86a0a5a6.9bdf88","type":"function","z":"50ac0bf8.b61354","name":"Date conversion","func":"msg.tweet.created_at=msg.tweet.created_at.replace(\"+0000\", \"\");\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1500,"wires":[["6a8da29c.d77fcc"]]},{"id":"96429ca6.71b8c","type":"twitter in","z":"177f5c7a.64d6b4","twitter":"302520fb.f67a2","tags":"","user":"false","name":"","inputs":1,"x":570,"y":200,"wires":[["a0897085.b0158"]]},{"id":"a3c19c46.5476a","type":"sentiment","z":"177f5c7a.64d6b4","name":"","property":"payload","x":860.666748046875,"y":206.66668701171875,"wires":[["82c4269a.976af8","2afb35f5.3fc54a","6c61f088.7a76e"]]},{"id":"6c08cab3.ab98a4","type":"ui_chart","z":"177f5c7a.64d6b4","name":"","group":"37a2c884.a6a638","order":1,"width":"13","height":"8","label":" Sentiment Scores","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00ff2a","#ff0505","#db02f7","#1100ff","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":680,"wires":[[]]},{"id":"82c4269a.976af8","type":"function","z":"177f5c7a.64d6b4","name":"term1","func":"msg.term=\"term1\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1159.3334350585938,"y":205,"wires":[["87b9e3ed.24a84"]]},{"id":"5bce836a.a8617c","type":"inject","z":"177f5c7a.64d6b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":190.83328247070312,"y":757.1668090820312,"wires":[["e402ce7a.2c0b6","5268a7db.f70178"]]},{"id":"e402ce7a.2c0b6","type":"function","z":"177f5c7a.64d6b4","name":"draw Term1 chart","func":"var term = global.get(\"term1\");\nif(typeof term !==\"undefined\"){\n    msg.payload = global.get(\"meanSentiment\"+term);\n    msg.topic = term;\n    return msg;\n}","outputs":1,"noerr":0,"x":550,"y":580,"wires":[["6c08cab3.ab98a4"]]},{"id":"5268a7db.f70178","type":"function","z":"177f5c7a.64d6b4","name":"draw Term2 chart","func":"var term = global.get(\"term2\");\nif(typeof term !==\"undefined\"){\n    msg.payload = global.get(\"meanSentiment\"+term);\n    msg.topic = term;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":575.8332824707031,"y":752.1668090820312,"wires":[["6c08cab3.ab98a4"]]},{"id":"9614f441.677888","type":"twitter in","z":"177f5c7a.64d6b4","twitter":"302520fb.f67a2","tags":"","user":"false","name":"","inputs":1,"x":569,"y":348.00000762939453,"wires":[["70474d4c.789094"]]},{"id":"af7dbcd6.539ce","type":"function","z":"177f5c7a.64d6b4","name":"preprocess","func":"\nmsg.payload = msg.payload.one;\nvar term = msg.payload.replace(\" \",\"\").replace(/[\"']/g, \"\");\nnode.log(\"term is\"+term);\nglobal.set(\"term1\",term);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":180,"wires":[["96429ca6.71b8c"]]},{"id":"ab5ea68.aec6e58","type":"function","z":"177f5c7a.64d6b4","name":"preprocess","func":"msg.payload = msg.payload.two;\nvar term = msg.payload.replace(\" \",\"\").replace(/[\"']/g, \"\");\nglobal.set(\"term2\",term);\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":360,"wires":[["9614f441.677888"]]},{"id":"56939fe7.60a3c","type":"sentiment","z":"177f5c7a.64d6b4","name":"","x":853.0001220703125,"y":353.3333435058594,"wires":[["7eab2c45.9c4454","2afb35f5.3fc54a","176514d0.6e9e5b"]]},{"id":"7eab2c45.9c4454","type":"function","z":"177f5c7a.64d6b4","name":"term2","func":"msg.term=\"term2\";\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1162.3333129882812,"y":351.6666564941406,"wires":[["87b9e3ed.24a84"]]},{"id":"f44c64f.e97f098","type":"ui_button","z":"177f5c7a.64d6b4","name":"","group":"44e00617.c5d148","order":3,"width":"6","height":"1","passthru":false,"label":"Clear Graph","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":510,"y":680,"wires":[["6c08cab3.ab98a4","8ebeae05.288fa","f3b6a573.6f8f88","3355569d.87714a"]]},{"id":"87b9e3ed.24a84","type":"function","z":"177f5c7a.64d6b4","name":"calculate average sentiment","func":"var term = global.get(msg.term);\nvar sampleSize = 10;\nvar sentiments = global.get(\"sentiments\"+term);\nif(typeof sentiments ===\"undefined\"){\n    sentiments =[];\n    global.set(\"sentiments\"+term,sentiments);\n}\nsentiments.push(msg.sentiment.score);\n\nif(sentiments.length>sampleSize){\n    sentiments.splice(0,sentiments.length-sampleSize);\n}\n\nvar sum = sentiments.reduce((e,r)=>e+r);\nglobal.set(\"meanSentiment\"+term,sum/sentiments.length);\n\nglobal.get(\"update10\")(((a,b)=>a>b),\"top10\"+term, msg);\nglobal.get(\"update10\")(((a,b)=>a<b),\"flop10\"+term, msg);\n\nmsg.payload = msg.sentiment.score;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1338.6167602539062,"y":275.3166198730469,"wires":[[]]},{"id":"971b7240.350c1","type":"comment","z":"177f5c7a.64d6b4","name":"Periodically triggers the drawing","info":"","x":223.91661071777344,"y":685.89599609375,"wires":[]},{"id":"753a3ccb.bc1094","type":"comment","z":"177f5c7a.64d6b4","name":"Calculates sentiment scores","info":"","x":210.5833282470703,"y":100.47917175292969,"wires":[]},{"id":"a0897085.b0158","type":"function","z":"177f5c7a.64d6b4","name":"filter","func":"var term = global.get(\"term1\");\nif(msg.payload.indexOf(term)!==-1 && msg.lang===\"en\"){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":685.1666870117188,"y":140.6667022705078,"wires":[["a3c19c46.5476a"]]},{"id":"70474d4c.789094","type":"function","z":"177f5c7a.64d6b4","name":"filter","func":"var term = global.get(\"term2\");\nif(msg.payload.indexOf(term)!==-1 && msg.lang===\"en\"){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":670.4166870117188,"y":436.3333740234375,"wires":[["56939fe7.60a3c"]]},{"id":"2afb35f5.3fc54a","type":"debug","z":"177f5c7a.64d6b4","name":"","active":false,"console":"false","complete":"true","x":993.4882202148438,"y":277.8333435058594,"wires":[]},{"id":"485cc226.78d2cc","type":"ui_form","z":"177f5c7a.64d6b4","name":"","label":"Term-1","group":"44e00617.c5d148","order":1,"width":"6","height":"1","options":[{"label":"term1","value":"one","type":"text","required":true,"rows":null}],"formValue":{"one":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":220,"wires":[["af7dbcd6.539ce","8ebeae05.288fa"]]},{"id":"c4b98d4c.77de2","type":"ui_form","z":"177f5c7a.64d6b4","name":"","label":"Term-2","group":"44e00617.c5d148","order":2,"width":"6","height":"1","options":[{"label":"term2","value":"two","type":"text","required":true,"rows":null}],"formValue":{"two":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":340,"wires":[["ab5ea68.aec6e58"]]},{"id":"8ebeae05.288fa","type":"debug","z":"177f5c7a.64d6b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":820,"y":560,"wires":[]},{"id":"f3b6a573.6f8f88","type":"change","z":"177f5c7a.64d6b4","name":"","rules":[{"t":"set","p":"payload.one","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":480,"wires":[["af7dbcd6.539ce"]]},{"id":"3355569d.87714a","type":"change","z":"177f5c7a.64d6b4","name":"","rules":[{"t":"set","p":"payload.two","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":520,"wires":[["ab5ea68.aec6e58"]]},{"id":"1cc7ddb9.2bd472","type":"ui_gauge","z":"177f5c7a.64d6b4","name":"","group":"749b0c94.fed454","order":1,"width":0,"height":0,"gtype":"gage","title":"Term 1","label":"units","format":"{{msg.sentiment}}","min":"-10","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1330,"y":120,"wires":[]},{"id":"6c61f088.7a76e","type":"function","z":"177f5c7a.64d6b4","name":"get and spin","func":"\nreturn {sentiment:msg.sentiment.score}","outputs":1,"noerr":0,"x":1110,"y":120,"wires":[["1cc7ddb9.2bd472"]]},{"id":"176514d0.6e9e5b","type":"function","z":"177f5c7a.64d6b4","name":"get and spin","func":"\nreturn {sentiment:msg.sentiment.score}","outputs":1,"noerr":0,"x":1130,"y":440,"wires":[["c011e576.6a6788"]]},{"id":"c011e576.6a6788","type":"ui_gauge","z":"177f5c7a.64d6b4","name":"","group":"749b0c94.fed454","order":2,"width":0,"height":0,"gtype":"gage","title":"Term 2","label":"units","format":"{{msg.sentiment}}","min":"-10","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1350,"y":440,"wires":[]},{"id":"65a51766.3d7588","type":"inject","z":"177f5c7a.64d6b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":190,"y":920,"wires":[["5a63c800.546a88"]]},{"id":"5a63c800.546a88","type":"function","z":"177f5c7a.64d6b4","name":"global functions","func":"function update10Function(){\n    return ((compare, name, msg)=>{\n        var ten = global.get(name);\n        if(typeof ten===\"undefined\"){\n            ten = [];\n            ten.push({\n                \"text\":msg.tweet.text,\n                \"score\":msg.sentiment.score\n            });\n            global.set(name,ten);\n            //node.log(JSON.stringify(ten));\n        }\n        else{\n            if(containsAlready(msg.tweet.text,ten)){\n                return;\n            }\n            var added = false;\n            //node.log(\"start defined: \"+JSON.stringify(ten));\n            for(var i=0;i<ten.length;i++){\n                if(compare(msg.sentiment.score,ten[i].score)){\n                    var entry = {\n                        \"text\":msg.tweet.text,\n                        \"score\":msg.sentiment.score\n                    };\n                    ten.splice(i, 0, entry);\n                    added=true;\n                    break;\n                }\n            }\n            if(added===false && ten.length<10){\n                ten.push({\n                    \"text\":msg.tweet.text,\n                    \"score\":msg.sentiment.score\n                });\n            }\n            ten.splice(10,ten.length-10);\n            node.log(\"end\"+JSON.stringify(ten));\n        }\n    });\n}\n\nfunction containsAlready(tweet, ten){\n    var prefix = tweet.substring(0,tweet.length/2);\n    return ten.map(e=>e.text).filter(e=>e.indexOf(prefix)>-1).length>0\n}\nglobal.set(\"update10\",update10Function());\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":922.2500254313152,"wires":[[]]},{"id":"fac1b2e1.00385","type":"function","z":"50ac0bf8.b61354","name":"Date conversion","func":"msg.tweet.created_at=msg.tweet.created_at.replace(\"+0000\", \"\");\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":460,"wires":[["5d6304b9.08f12c"]]},{"id":"c097de39.edec9","type":"twitter in","z":"a76544db.783cd8","twitter":"8175b5ca.613f48","tags":"","user":"false","name":"","inputs":1,"x":710,"y":160,"wires":[["764cf3fc.440f3c"]]},{"id":"aa3aa64b.858418","type":"sentiment","z":"a76544db.783cd8","name":"","x":1000.666748046875,"y":166.66668701171875,"wires":[["f0e98734.98aae8","8f011dd2.96527"]]},{"id":"f0e98734.98aae8","type":"function","z":"a76544db.783cd8","name":"term1","func":"msg.term=\"term1\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1299.3334350585938,"y":165,"wires":[["73a429b.a6decd8"]]},{"id":"d3e4a312.9b79d","type":"inject","z":"a76544db.783cd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":330.8332824707031,"y":717.1668090820312,"wires":[["44751a8b.11c8c4"]]},{"id":"c9e6a1d6.0d41e","type":"ui_text_input","z":"a76544db.783cd8","name":"","label":"Enter #tag and press enter","tooltip":"","group":"937a12c7.a2eaa","order":0,"width":"18","height":"1","passthru":false,"mode":"text","delay":"1000","topic":"","x":448.5,"y":191,"wires":[["d96b5d86.f9398"]]},{"id":"d96b5d86.f9398","type":"function","z":"a76544db.783cd8","name":"preprocess","func":"msg.term = msg.payload;\nvar term = msg.term.replace(\" \",\"_\").replace(/[\"']/g, \"\");\nnode.log(\"term is\"+term);\nglobal.set(\"term1\",term);\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":161.00000762939453,"wires":[["c097de39.edec9"]]},{"id":"b4385149.b7128","type":"ui_button","z":"a76544db.783cd8","name":"","group":"937a12c7.a2eaa","order":0,"width":"18","height":"1","passthru":false,"label":"clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":750,"y":900,"wires":[["b56655b0.b57998"]]},{"id":"b56655b0.b57998","type":"ui_text","z":"a76544db.783cd8","group":"937a12c7.a2eaa","order":0,"width":"18","height":"17","name":"","label":"Top 10 Samples","format":"{{msg.payload}}","layout":"col-center","x":920.8332824707031,"y":799.1668090820312,"wires":[]},{"id":"44751a8b.11c8c4","type":"function","z":"a76544db.783cd8","name":"print sample table","func":"function createTable(top10_1,flop10_1,top10_2,flop10_2){\n    \n    var table = \"<table style=\\\"width:100%;font-size:20px;\\\">\";\n    table+=\"<tr><th>Rank</th><th>Tweet</th><th>Score</th></tr>\";\n    \n    if(typeof top10_1!==\"undefined\"){\n        for(var i=0;i<top10_1.length;i++){\n            table+=\"<tr><td>\"+(i+1)+\"</td><td>\"+top10_1[i].text+\"</td><th>\"+top10_1[i].score+\"</td></tr>\";\n        }\n    }\n    table+=\"</table>\";\n    \n    table+=\"<p><br><br><table style=\\\"width:100%;font-size:20px;\\\">\";\n    table+=\"<tr><th>Rank</th><th>Tweet</th><th>Score</th></tr>\";\n    \n    if(typeof flop10_1!==\"undefined\"){\n        for(var n=0;n<flop10_1.length;n++){\n            table+=\"<tr><td>\"+(n+1)+\"</td><td>\"+flop10_1[n].text+\"</td><th>\"+flop10_1[n].score+\"</td></tr>\";\n        }\n    }\n    table+=\"</table>\";\n    \n    return table;\n}\nvar term1 = global.get(\"term1\");\n\nmsg.payload = createTable(global.get(\"top10\"+term1), global.get(\"flop10\"+term1));\nreturn msg;","outputs":1,"noerr":0,"x":717.7498168945312,"y":797.1668090820312,"wires":[["b56655b0.b57998"]]},{"id":"5a83cd57.c77214","type":"inject","z":"a76544db.783cd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":340.94439697265625,"y":904.6112416585286,"wires":[["86fee930.896418"]]},{"id":"86fee930.896418","type":"function","z":"a76544db.783cd8","name":"global functions","func":"function update10Function(){\n    return ((compare, name, msg)=>{\n        var ten = global.get(name);\n        if(typeof ten===\"undefined\"){\n            ten = [];\n            ten.push({\n                \"text\":msg.tweet.text,\n                \"score\":msg.sentiment.score\n            });\n            global.set(name,ten);\n            //node.log(JSON.stringify(ten));\n        }\n        else{\n            if(containsAlready(msg.tweet.text,ten)){\n                return;\n            }\n            var added = false;\n            //node.log(\"start defined: \"+JSON.stringify(ten));\n            for(var i=0;i<ten.length;i++){\n                if(compare(msg.sentiment.score,ten[i].score)){\n                    var entry = {\n                        \"text\":msg.tweet.text,\n                        \"score\":msg.sentiment.score\n                    };\n                    ten.splice(i, 0, entry);\n                    added=true;\n                    break;\n                }\n            }\n            if(added===false && ten.length<10){\n                ten.push({\n                    \"text\":msg.tweet.text,\n                    \"score\":msg.sentiment.score\n                });\n            }\n            ten.splice(10,ten.length-10);\n            node.log(\"end\"+JSON.stringify(ten));\n        }\n    });\n}\n\nfunction containsAlready(tweet, ten){\n    var prefix = tweet.substring(0,tweet.length/2);\n    return ten.map(e=>e.text).filter(e=>e.indexOf(prefix)>-1).length>0\n}\nglobal.set(\"update10\",update10Function());\nreturn msg;","outputs":1,"noerr":0,"x":570.9443969726562,"y":906.8612670898438,"wires":[[]]},{"id":"cc938222.10fd3","type":"inject","z":"a76544db.783cd8","name":"","topic":"","payload":"lockdown","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":312.8666687011719,"y":108.96669006347656,"wires":[["d96b5d86.f9398","c9e6a1d6.0d41e"]]},{"id":"73a429b.a6decd8","type":"function","z":"a76544db.783cd8","name":"calculate average sentiment","func":"var term = global.get(msg.term);\nvar sampleSize = 10;\nvar sentiments = global.get(\"sentiments\"+term);\nif(typeof sentiments ===\"undefined\"){\n    sentiments =[];\n    global.set(\"sentiments\"+term,sentiments);\n}\nsentiments.push(msg.sentiment.score);\n\nif(sentiments.length>sampleSize){\n    sentiments.splice(0,sentiments.length-sampleSize);\n}\n\nvar sum = sentiments.reduce((e,r)=>e+r);\nglobal.set(\"meanSentiment\"+term,sum/sentiments.length);\n\nglobal.get(\"update10\")(((a,b)=>a>b),\"top10\"+term, msg);\nglobal.get(\"update10\")(((a,b)=>a<b),\"flop10\"+term, msg);\n\nmsg.payload = msg.sentiment.score;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1478.6167602539062,"y":235.31661987304688,"wires":[[]]},{"id":"f34a3271.d3e4","type":"comment","z":"a76544db.783cd8","name":"Inits the globally used functions once at startup","info":"","x":437.66661834716797,"y":854.6459999084473,"wires":[]},{"id":"9bceecdf.e1fd7","type":"comment","z":"a76544db.783cd8","name":"Periodically triggers the drawing","info":"","x":363.91661071777344,"y":645.89599609375,"wires":[]},{"id":"105f74f2.a6dcfb","type":"comment","z":"a76544db.783cd8","name":"Calculates sentiment scores","info":"","x":350.5833282470703,"y":60.47917175292969,"wires":[]},{"id":"764cf3fc.440f3c","type":"function","z":"a76544db.783cd8","name":"filter","func":"var term = global.get(\"term1\");\nif(msg.payload.indexOf(term)!==-1 && msg.lang===\"en\"){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":825.1666870117188,"y":100.66670227050781,"wires":[["aa3aa64b.858418"]]},{"id":"8f011dd2.96527","type":"debug","z":"a76544db.783cd8","name":"","active":false,"console":"false","complete":"true","x":1133.4882202148438,"y":237.83334350585938,"wires":[]}]