Twitter Sentiment Analysis Model.json
[{"id":"f5301de9.80bf1","type":"tab","label":"Tweet Dashboard","disabled":false,"info":""},{"id":"e94a6205.aeed4","type":"tab","label":"Map Tweets","disabled":false,"info":""},{"id":"9f5a6b06.a0db68","type":"tab","label":"Sentiment analysis","disabled":false,"info":""},{"id":"ccc93575.e54578","type":"tab","label":"Test sentiment/Word","disabled":false,"info":""},{"id":"3532eece.0dff92","type":"tab","label":"Compared countries","disabled":false,"info":""},{"id":"b2127698.219138","type":"tab","label":"Compare tweets","disabled":false,"info":""},{"id":"74266afe.f026d4","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"COVID-19 Sentiment Analysis","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":71,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8fcb0bb8.3c9ad8","type":"ui_group","z":"","name":"Welcome to twitter dashboard here we analyse the sentiments of tweets based on lockdown","tab":"","order":1,"disp":true,"width":"16","collapse":false},{"id":"8c54d1df.9bb74","type":"ui_group","z":0,"name":"Analyse Sentiments of any Sentence / Word","tab":"","order":1,"disp":true,"width":18,"collapse":false},{"id":"5f17164e.697378","type":"ui_group","z":0,"name":"Sentence / Word Sentiments","tab":"","order":1,"disp":true,"width":17,"collapse":false},{"id":"fb7c6e66.256c1","type":"ui_group","z":0,"name":"Tweet Scoreboard","tab":"","order":2,"disp":true,"width":15},{"id":"21c1572b.294768","type":"ui_spacer","name":"spacer","group":"8fcb0bb8.3c9ad8","order":1,"width":16,"height":1},{"id":"41e16599.bc562c","type":"ui_spacer","name":"spacer","group":"fb7c6e66.256c1","order":2,"width":9,"height":1},{"id":"ecf71d19.c1483","type":"ui_spacer","name":"spacer","group":"fb7c6e66.256c1","order":3,"width":9,"height":1},{"id":"78ba45ab.e01cec","type":"ui_spacer","name":"spacer","group":"fb7c6e66.256c1","order":4,"width":9,"height":1},{"id":"d9578c9a.5be49","type":"ui_spacer","name":"spacer","group":"fb7c6e66.256c1","order":5,"width":9,"height":1},{"id":"6b09a196.5d672","type":"ui_spacer","name":"spacer","group":"fb7c6e66.256c1","order":6,"width":9,"height":1},{"id":"e30a6952.e70fe8","type":"ui_spacer","name":"spacer","group":"5f17164e.697378","order":3,"width":11,"height":1},{"id":"7c68346a.b68aec","type":"ui_spacer","name":"spacer","group":"5f17164e.697378","order":4,"width":11,"height":1},{"id":"12fd851c.2c318b","type":"ui_spacer","name":"spacer","group":"5f17164e.697378","order":5,"width":11,"height":1},{"id":"c16b1760.3bb7a8","type":"ui_spacer","name":"spacer","group":"5f17164e.697378","order":6,"width":11,"height":1},{"id":"f3957040.13828","type":"ui_spacer","name":"spacer","group":"5f17164e.697378","order":7,"width":11,"height":1},{"id":"d3519dc3.8c759","type":"ui_spacer","name":"spacer","group":"5f17164e.697378","order":8,"width":11,"height":1},{"id":"980d5371.fb4ff","type":"ui_spacer","name":"spacer","group":"5f17164e.697378","order":10,"width":11,"height":1},{"id":"2bddc2c1.d6762e","type":"ui_spacer","name":"spacer","group":"5f17164e.697378","order":11,"width":11,"height":1},{"id":"5967a3d6.156f5c","type":"ui_spacer","name":"spacer","group":"5f17164e.697378","order":12,"width":11,"height":1},{"id":"bd22399f.73a148","type":"ui_spacer","name":"spacer","group":"5f17164e.697378","order":13,"width":11,"height":1},{"id":"34a8ab97.ec4904","type":"ui_spacer","name":"spacer","group":"8c54d1df.9bb74","order":4,"width":18,"height":1},{"id":"badd3545.8ad3f8","type":"ui_spacer","name":"spacer","group":"8c54d1df.9bb74","order":5,"width":18,"height":1},{"id":"de1b2ea0.ffd39","type":"ui_spacer","name":"spacer","group":"8c54d1df.9bb74","order":6,"width":18,"height":1},{"id":"8ac0cfdc.830c","type":"ui_spacer","name":"spacer","group":"8c54d1df.9bb74","order":7,"width":18,"height":1},{"id":"c59a8f22.bced9","type":"ui_spacer","name":"spacer","group":"8c54d1df.9bb74","order":8,"width":18,"height":1},{"id":"6955cc4c.b60084","type":"ui_spacer","name":"spacer","group":"8c54d1df.9bb74","order":9,"width":18,"height":1},{"id":"160a4776.749a79","type":"ui_spacer","name":"spacer","group":"8c54d1df.9bb74","order":10,"width":18,"height":1},{"id":"9c4221c6.9ee88","type":"ui_spacer","name":"spacer","group":"8c54d1df.9bb74","order":11,"width":18,"height":1},{"id":"c1f74c97.bce6f","type":"ui_spacer","name":"spacer","group":"8c54d1df.9bb74","order":12,"width":18,"height":1},{"id":"32d3ebe.2dccc14","type":"ui_spacer","name":"spacer","group":"8c54d1df.9bb74","order":13,"width":18,"height":1},{"id":"6be5f753.13e228","type":"ui_spacer","name":"spacer","group":"8c54d1df.9bb74","order":14,"width":18,"height":1},{"id":"65b6be1b.96d05","type":"ui_spacer","name":"spacer","group":"8c54d1df.9bb74","order":15,"width":18,"height":1},{"id":"15806038.90dc3","type":"ui_spacer","name":"spacer","group":"8c54d1df.9bb74","order":17,"width":18,"height":1},{"id":"e1becb23.2e9b58","type":"ui_spacer","name":"spacer","group":"8c54d1df.9bb74","order":18,"width":18,"height":1},{"id":"629c7e5.2803d8","type":"ui_spacer","name":"spacer","group":"8c54d1df.9bb74","order":19,"width":18,"height":1},{"id":"5dc33f75.4abdb","type":"ui_spacer","name":"spacer","group":"8c54d1df.9bb74","order":20,"width":18,"height":1},{"id":"116b7895.f1f047","type":"ui_spacer","name":"spacer","group":"8c54d1df.9bb74","order":21,"width":18,"height":1},{"id":"ea3d4f4d.4020a","type":"ui_spacer","name":"spacer","group":"8c54d1df.9bb74","order":22,"width":18,"height":1},{"id":"969172db.f7dfb","type":"ui_spacer","name":"spacer","group":"8c54d1df.9bb74","order":24,"width":12,"height":1},{"id":"34d70291.c12bde","type":"ui_spacer","name":"spacer","group":"8c54d1df.9bb74","order":25,"width":12,"height":1},{"id":"61baa188.97472","type":"ui_spacer","name":"spacer","group":"8c54d1df.9bb74","order":26,"width":12,"height":1},{"id":"6ec7b277.e5afdc","type":"ui_spacer","name":"spacer","group":"8c54d1df.9bb74","order":27,"width":12,"height":1},{"id":"263f8c53.5ef074","type":"ui_spacer","name":"spacer","group":"8c54d1df.9bb74","order":28,"width":12,"height":1},{"id":"865f4115.d9077","type":"ui_spacer","name":"spacer","group":"50e7cbfa.a02694","order":2,"width":21,"height":1},{"id":"686ce2fc.0701ac","type":"ui_spacer","name":"spacer","group":"50e7cbfa.a02694","order":3,"width":21,"height":1},{"id":"77577d3.85d0f84","type":"ui_spacer","name":"spacer","group":"50e7cbfa.a02694","order":4,"width":21,"height":1},{"id":"e70eb110.4718b","type":"ui_spacer","name":"spacer","group":"50e7cbfa.a02694","order":5,"width":21,"height":1},{"id":"9761c2.d9169e4","type":"ui_spacer","name":"spacer","group":"50e7cbfa.a02694","order":6,"width":21,"height":1},{"id":"8caf0cd6.e0b08","type":"ui_spacer","name":"spacer","group":"50e7cbfa.a02694","order":7,"width":21,"height":1},{"id":"a249385d.3fdda8","type":"ui_spacer","name":"spacer","group":"50e7cbfa.a02694","order":8,"width":21,"height":1},{"id":"3db68c27.63a954","type":"ui_spacer","name":"spacer","group":"50e7cbfa.a02694","order":9,"width":21,"height":1},{"id":"38ea531d.545c2c","type":"ui_spacer","name":"spacer","group":"50e7cbfa.a02694","order":10,"width":21,"height":1},{"id":"7ad0667b.94d7d8","type":"ui_spacer","name":"spacer","group":"50e7cbfa.a02694","order":11,"width":21,"height":1},{"id":"238176c4.5343ca","type":"ui_spacer","name":"spacer","group":"50e7cbfa.a02694","order":12,"width":21,"height":1},{"id":"7aa7e248.7314cc","type":"ui_spacer","name":"spacer","group":"50e7cbfa.a02694","order":13,"width":21,"height":1},{"id":"8181e1a8.13fb6","type":"ui_group","z":"","name":"Global Tweets On Lockdown","tab":"","order":1,"disp":true,"width":13,"collapse":false},{"id":"3da48fdc.18698","type":"ui_spacer","name":"spacer","group":"8181e1a8.13fb6","order":3,"width":13,"height":1},{"id":"a8e0a9a3.5bad58","type":"ui_spacer","name":"spacer","group":"8181e1a8.13fb6","order":4,"width":13,"height":1},{"id":"790905d9.21c94c","type":"ui_spacer","name":"spacer","group":"8181e1a8.13fb6","order":7,"width":7,"height":1},{"id":"f5012e49.dcd48","type":"ui_spacer","name":"spacer","group":"8181e1a8.13fb6","order":8,"width":7,"height":1},{"id":"432c619f.04ec","type":"ui_spacer","name":"spacer","group":"8181e1a8.13fb6","order":9,"width":7,"height":1},{"id":"8b7f4a7b.193e08","type":"ui_spacer","name":"spacer","group":"8181e1a8.13fb6","order":10,"width":7,"height":1},{"id":"499b4223.a7ae0c","type":"twitter-credentials","z":"","screen_name":"Sakshi2"},{"id":"a9756c1.a235b9","type":"ui_group","z":0,"name":"Welcome to twitter dashboard here we analyse the sentiments of tweets based on lockdown","tab":"","order":1,"disp":true,"width":"10","collapse":false},{"id":"d3c6faee.633318","type":"ui_group","z":0,"name":"Tweet Scoreboard","tab":"","order":2,"disp":true,"width":"6"},{"id":"7299092d.64f138","type":"ui_group","z":"","name":"Global Tweets On Lockdown","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"7cbea1e2.8981b","type":"ui_group","z":"","name":"Global Tweet Map","tab":"","order":2,"disp":true,"width":"9","collapse":false},{"id":"f0dd8379.2b78","type":"twitter-credentials","z":"","screen_name":"Sakshi1"},{"id":"c2b79e05.4beea","type":"ui_group","z":0,"name":"Analyse Sentiments of any Sentence / Word","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"5b8b2566.f232ec","type":"ui_group","z":0,"name":"Sentence / Word Sentiments","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"79ee01f5.c67ef","type":"ui_group","z":"","name":"Sentiment Plot","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"f5235792.231858","type":"ui_group","z":"","name":"Compare Sentiments","tab":"","order":1,"disp":true,"width":"13","collapse":false},{"id":"da63d70b.a97e78","type":"ui_group","z":"","name":"Sentiments Of Each Term","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"340e748a.a57c9c","type":"ui_group","z":"","name":"Enter country to compare with","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"9f85c0e4.30a2f","type":"ui_group","z":"","name":"Top 10 Lockdown tweets including sentiment score","tab":"","order":1,"disp":true,"width":"20","collapse":false},{"id":"ab587db0.215cc","type":"ui_group","z":"","name":"Live Location Of Tweet","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"72d68965.dc5fe8","type":"ui_group","z":"","name":"Tweet Details","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"a7f58cfd.4e344","type":"ui_group","z":"","name":"Prediction","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"836998d7.0a0948","type":"twitter-credentials","z":"","screen_name":"sakshi3"},{"id":"6ca8944c.8a47dc","type":"twitter-credentials","z":"","screen_name":"sakshi4"},{"id":"5b80cd04.9689d4","type":"twitter-credentials","z":"","screen_name":"sakshi5"},{"id":"3d6ae935.e030d6","type":"ui_group","z":0,"name":"Welcome to twitter dashboard here we analyse the sentiments of tweets based on lockdown","tab":"","order":1,"disp":true,"width":"10","collapse":false},{"id":"8be141e6.e4364","type":"ui_group","z":0,"name":"Tweet Scoreboard","tab":"","order":2,"disp":true,"width":"6"},{"id":"8de29a89.c5b988","type":"ui_group","z":"","name":"Global Tweets On Lockdown","tab":"11781bf7.c6aea4","order":1,"disp":true,"width":"6","collapse":false},{"id":"2dd36d0d.abf282","type":"ui_group","z":"","name":"Global Tweet Map","tab":"","order":2,"disp":true,"width":"9","collapse":false},{"id":"9f3c354.7ad5bc8","type":"twitter-credentials","z":"","screen_name":"Sakshi"},{"id":"84b85141.ad21c","type":"ui_group","z":0,"name":"Analyse Sentiments of any Sentence / Word","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"9af135ce.4bdf78","type":"ui_group","z":0,"name":"Sentence / Word Sentiments","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"10dfc222.52e04e","type":"ui_group","z":"","name":"Sentiment Plot","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"a8855445.e30408","type":"ui_group","z":"","name":"Compare Sentiments","tab":"","order":1,"disp":true,"width":"13","collapse":false},{"id":"afc768a.eab6198","type":"ui_group","z":"","name":"Sentiments Of Each Term","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"68299f09.445c6","type":"ui_group","z":"","name":"Enter Comparison Terms","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"f8254d35.e9063","type":"ui_group","z":"","name":"Top 10 Lockdown tweets including sentiment score","tab":"259df6f6.c798ea","order":1,"disp":true,"width":"20","collapse":false},{"id":"821be424.ace058","type":"ui_group","z":"","name":"Compare Sentiments","tab":"2bde95e1.6675aa","order":1,"disp":true,"width":"27"},{"id":"1da648d0.141377","type":"ui_group","z":"","name":"Samples","tab":"5518570.a177aa8","order":1,"disp":true,"width":"24"},{"id":"baee444a.ec60a8","type":"ui_group","z":"","name":"Live Location Of Tweet","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"48b62fe0.b42b7","type":"ui_group","z":"","name":"Tweet Details","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"270c36ef.142eea","type":"ui_group","z":"","name":"Prediction","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"ae3dab94.3d2b08","type":"ui_group","z":"","name":"India","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"ea3cda09.9ffb58","type":"ui_group","z":"","name":"United Kingdom","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"1e3d08b5.5a7917","type":"twitter-credentials","z":"","screen_name":"suyash chilwarwar"},{"id":"f0ef2009.ec224","type":"ui_group","z":"","name":"Live Map","tab":"","order":3,"disp":true,"width":"12","collapse":false},{"id":"df81d262.c7994","type":"ui_group","z":"","name":"Top 10 tweets with score","tab":"","order":1,"disp":true,"width":"24","collapse":false},{"id":"50571d26.3bc5b4","type":"ui_group","name":"Group 2","tab":"2bde95e1.6675aa","order":2,"disp":true,"width":6},{"id":"b0653342.266b2","type":"ui_group","z":"","name":"Tweets Details","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"801c375b.a449f8","type":"ui_group","z":0,"name":"Welcome to twitter dashboard here we analyse the sentiments of tweets based on lockdown","tab":"bb6ea27f.cf57e","order":1,"disp":true,"width":"10","collapse":false},{"id":"4b7b437.6b19bbc","type":"ui_group","z":0,"name":"Tweet Scoreboard","tab":"bb6ea27f.cf57e","order":2,"disp":true,"width":"6"},{"id":"bb6ea27f.cf57e","type":"ui_tab","z":"","name":"Tweet Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"49f00e43.23e95","type":"ui_group","z":"","name":"Global Tweets On Lockdown","tab":"11781bf7.c6aea4","order":1,"disp":true,"width":"6","collapse":false},{"id":"c1f78eb7.9d7a9","type":"ui_group","z":"","name":"Global Tweet Map","tab":"9812c32a.6cf0e","order":2,"disp":true,"width":"9","collapse":false},{"id":"515511b.20165f","type":"twitter-credentials","z":"","screen_name":"Sakshi"},{"id":"f053cc69.728f9","type":"ui_group","z":0,"name":"Analyse Sentiments of any Sentence / Word","tab":"759c8102.3f315","order":1,"disp":true,"width":"6","collapse":false},{"id":"759c8102.3f315","type":"ui_tab","z":0,"name":"Analyse Sentiments","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"b6dc6c66.6feb7","type":"ui_group","z":0,"name":"Sentence / Word Sentiments","tab":"b0bdfee8.4a261","order":1,"disp":true,"width":"6","collapse":false},{"id":"b0bdfee8.4a261","type":"ui_tab","z":0,"name":"Test Sentence / Word","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"7d3558f7.2c5d78","type":"ui_group","z":"","name":"Sentiment Plot","tab":"759c8102.3f315","order":2,"disp":true,"width":"6","collapse":false},{"id":"db10222d.56b5a","type":"ui_group","z":"","name":"Compare Sentiments","tab":"4468b9c5.56b7b8","order":1,"disp":true,"width":"13","collapse":false},{"id":"4468b9c5.56b7b8","type":"ui_tab","z":"","name":"Compare Tweets","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"d40f2097.1bda8","type":"ui_group","z":"","name":"Sentiments Of Each Term","tab":"4468b9c5.56b7b8","order":2,"disp":true,"width":"6","collapse":false},{"id":"d400c488.fa2ae8","type":"ui_group","z":"","name":"Enter Comparison Terms","tab":"4468b9c5.56b7b8","order":3,"disp":true,"width":"6","collapse":false},{"id":"43a41688.144138","type":"ui_group","z":"","name":"Top 10 Lockdown tweets including sentiment score","tab":"259df6f6.c798ea","order":1,"disp":true,"width":"20","collapse":false},{"id":"5208f26.030d40c","type":"ui_group","z":"","name":"Compare Sentiments","tab":"2bde95e1.6675aa","order":1,"disp":true,"width":"27"},{"id":"ccfa3715.3021a8","type":"ui_group","z":"","name":"Samples","tab":"5518570.a177aa8","order":1,"disp":true,"width":"24"},{"id":"b53fbafa.158c68","type":"ui_group","z":"","name":"Live Location Of Tweet","tab":"bb6ea27f.cf57e","order":5,"disp":true,"width":"6","collapse":false},{"id":"e2f02536.8837f8","type":"ui_group","z":"","name":"Tweet Details","tab":"bb6ea27f.cf57e","order":3,"disp":true,"width":"6","collapse":false},{"id":"15640686.420119","type":"ui_group","z":"","name":"Prediction","tab":"bb6ea27f.cf57e","order":4,"disp":true,"width":"6","collapse":false},{"id":"68666140.7c0c2","type":"ui_tab","z":"","name":"Compared Countries","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"25e216b2.9abd0a","type":"ui_group","z":"","name":"India","tab":"68666140.7c0c2","order":1,"disp":true,"width":"6","collapse":false},{"id":"a5e05dc3.4ddee","type":"ui_group","z":"","name":"United Kingdom","tab":"68666140.7c0c2","order":2,"disp":true,"width":"6","collapse":false},{"id":"51932faa.4433d","type":"twitter-credentials","z":"","screen_name":"suyash chilwarwar"},{"id":"eef64035.1b9aa","type":"ui_group","z":"","name":"Live Map","tab":"68666140.7c0c2","order":3,"disp":true,"width":"12","collapse":false},{"id":"f84e968e.5efe98","type":"ui_group","z":"","name":"Top 10 tweets with score","tab":"c2ef97a8.eba548","order":1,"disp":true,"width":"24","collapse":false},{"id":"c2ef97a8.eba548","type":"ui_tab","z":"","name":"Top Tweets","icon":"dashboard","order":3},{"id":"cfffd3ea.ed9f8","type":"ui_group","name":"Group 2","tab":"2bde95e1.6675aa","order":2,"disp":true,"width":6},{"id":"9812c32a.6cf0e","type":"ui_tab","z":"","name":"Map Tweets","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"d6b5a902.da6e78","type":"ui_group","z":"","name":"Tweets Details","tab":"9812c32a.6cf0e","order":1,"disp":true,"width":"6","collapse":false},{"id":"c3e89f89.a0b3c","type":"twitter in","z":0,"twitter":"6ca8944c.8a47dc","tags":"","user":"false","name":"","inputs":1,"x":570,"y":200,"wires":[["56039bc4.679764"]]},{"id":"21798aaf.5e2726","type":"sentiment","z":0,"name":"","property":"payload","x":860.666748046875,"y":206.66668701171875,"wires":[["dbf28290.3ab41","852135a.b44c0c8","28337d31.de2ab2"]]},{"id":"b28012a0.706d7","type":"ui_chart","z":0,"name":"","group":"a8855445.e30408","order":1,"width":"13","height":"8","label":" Sentiment Scores","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00ff2a","#ff0505","#db02f7","#1100ff","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":680,"wires":[[]]},{"id":"dbf28290.3ab41","type":"function","z":0,"name":"term1","func":"msg.term=\"term1\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1159.3334350585938,"y":205,"wires":[["35f303bf.fa8acc"]]},{"id":"28037e83.bbb0f2","type":"inject","z":0,"name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":190.83328247070312,"y":757.1668090820312,"wires":[["549e9b4f.899eb4","b4bf6990.90a498"]]},{"id":"549e9b4f.899eb4","type":"function","z":0,"name":"draw Term1 chart","func":"var term = global.get(\"term1\");\nif(typeof term !==\"undefined\"){\n    msg.payload = global.get(\"meanSentiment\"+term);\n    msg.topic = term;\n    return msg;\n}","outputs":1,"noerr":0,"x":550,"y":580,"wires":[["b28012a0.706d7"]]},{"id":"b4bf6990.90a498","type":"function","z":0,"name":"draw Term2 chart","func":"var term = global.get(\"term2\");\nif(typeof term !==\"undefined\"){\n    msg.payload = global.get(\"meanSentiment\"+term);\n    msg.topic = term;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":575.8332824707031,"y":752.1668090820312,"wires":[["b28012a0.706d7"]]},{"id":"328cbba6.27e5c4","type":"twitter in","z":0,"twitter":"6ca8944c.8a47dc","tags":"","user":"false","name":"","inputs":1,"x":569,"y":348.00000762939453,"wires":[["f28f95f5.973668"]]},{"id":"207c509.66a08b","type":"function","z":0,"name":"preprocess","func":"\nmsg.payload = msg.payload.one;\nvar term = msg.payload.replace(\" \",\"\").replace(/[\"']/g, \"\");\nnode.log(\"term is\"+term);\nglobal.set(\"term1\",term);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":180,"wires":[["c3e89f89.a0b3c"]]},{"id":"a31fc927.863fc8","type":"function","z":0,"name":"preprocess","func":"msg.payload = msg.payload.two;\nvar term = msg.payload.replace(\" \",\"\").replace(/[\"']/g, \"\");\nglobal.set(\"term2\",term);\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":360,"wires":[["328cbba6.27e5c4"]]},{"id":"f02c7ca2.7813d","type":"sentiment","z":0,"name":"","x":853.0001220703125,"y":353.3333435058594,"wires":[["6aa19473.b96f0c","852135a.b44c0c8","a670c8c7.415bf8"]]},{"id":"6aa19473.b96f0c","type":"function","z":0,"name":"term2","func":"msg.term=\"term2\";\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1162.3333129882812,"y":351.6666564941406,"wires":[["35f303bf.fa8acc"]]},{"id":"80cadc35.0e289","type":"ui_button","z":0,"name":"","group":"68299f09.445c6","order":3,"width":"6","height":"1","passthru":false,"label":"Clear Graph","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":510,"y":680,"wires":[["b28012a0.706d7","c80858bf.93ff88","3e1034be.37c27c","5d803b57.d2d864"]]},{"id":"35f303bf.fa8acc","type":"function","z":0,"name":"calculate average sentiment","func":"var term = global.get(msg.term);\nvar sampleSize = 10;\nvar sentiments = global.get(\"sentiments\"+term);\nif(typeof sentiments ===\"undefined\"){\n    sentiments =[];\n    global.set(\"sentiments\"+term,sentiments);\n}\nsentiments.push(msg.sentiment.score);\n\nif(sentiments.length>sampleSize){\n    sentiments.splice(0,sentiments.length-sampleSize);\n}\n\nvar sum = sentiments.reduce((e,r)=>e+r);\nglobal.set(\"meanSentiment\"+term,sum/sentiments.length);\n\nglobal.get(\"update10\")(((a,b)=>a>b),\"top10\"+term, msg);\nglobal.get(\"update10\")(((a,b)=>a<b),\"flop10\"+term, msg);\n\nmsg.payload = msg.sentiment.score;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1338.6167602539062,"y":275.3166198730469,"wires":[[]]},{"id":"e995e4b9.6f2d58","type":"comment","z":0,"name":"Periodically triggers the drawing","info":"","x":223.91661071777344,"y":685.89599609375,"wires":[]},{"id":"5e48e904.fe7728","type":"comment","z":0,"name":"Calculates sentiment scores","info":"","x":210.5833282470703,"y":100.47917175292969,"wires":[]},{"id":"56039bc4.679764","type":"function","z":0,"name":"filter","func":"var term = global.get(\"term1\");\nif(msg.payload.indexOf(term)!==-1 && msg.lang===\"en\"){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":685.1666870117188,"y":140.6667022705078,"wires":[["21798aaf.5e2726"]]},{"id":"f28f95f5.973668","type":"function","z":0,"name":"filter","func":"var term = global.get(\"term2\");\nif(msg.payload.indexOf(term)!==-1 && msg.lang===\"en\"){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":670.4166870117188,"y":436.3333740234375,"wires":[["f02c7ca2.7813d"]]},{"id":"852135a.b44c0c8","type":"debug","z":0,"name":"","active":false,"console":"false","complete":"true","x":993.4882202148438,"y":277.8333435058594,"wires":[]},{"id":"3f04a58c.73b7ea","type":"ui_form","z":0,"name":"","label":"Term-1","group":"68299f09.445c6","order":1,"width":"6","height":"1","options":[{"label":"term1","value":"one","type":"text","required":true,"rows":null}],"formValue":{"one":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":220,"wires":[["207c509.66a08b","c80858bf.93ff88"]]},{"id":"a8a2b540.3f8dd8","type":"ui_form","z":0,"name":"","label":"Term-2","group":"68299f09.445c6","order":2,"width":"6","height":"1","options":[{"label":"term2","value":"two","type":"text","required":true,"rows":null}],"formValue":{"two":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":340,"wires":[["a31fc927.863fc8"]]},{"id":"c80858bf.93ff88","type":"debug","z":0,"name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":820,"y":560,"wires":[]},{"id":"3e1034be.37c27c","type":"change","z":0,"name":"","rules":[{"t":"set","p":"payload.one","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":480,"wires":[["207c509.66a08b"]]},{"id":"5d803b57.d2d864","type":"change","z":0,"name":"","rules":[{"t":"set","p":"payload.two","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":520,"wires":[["a31fc927.863fc8"]]},{"id":"ed30311d.52ee2","type":"ui_gauge","z":0,"name":"","group":"afc768a.eab6198","order":1,"width":0,"height":0,"gtype":"gage","title":"Term 1","label":"units","format":"{{msg.sentiment}}","min":"-10","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1330,"y":120,"wires":[]},{"id":"28337d31.de2ab2","type":"function","z":0,"name":"get and spin","func":"\nreturn {sentiment:msg.sentiment.score}","outputs":1,"noerr":0,"x":1110,"y":120,"wires":[["ed30311d.52ee2"]]},{"id":"a670c8c7.415bf8","type":"function","z":0,"name":"get and spin","func":"\nreturn {sentiment:msg.sentiment.score}","outputs":1,"noerr":0,"x":1130,"y":440,"wires":[["31e09d80.14fe62"]]},{"id":"31e09d80.14fe62","type":"ui_gauge","z":0,"name":"","group":"afc768a.eab6198","order":2,"width":0,"height":0,"gtype":"gage","title":"Term 2","label":"units","format":"{{msg.sentiment}}","min":"-10","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1350,"y":440,"wires":[]},{"id":"34b21b47.0f5854","type":"inject","z":0,"name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":190,"y":920,"wires":[["fab4a16.e3f1c6"]]},{"id":"fab4a16.e3f1c6","type":"function","z":0,"name":"global functions","func":"function update10Function(){\n    return ((compare, name, msg)=>{\n        var ten = global.get(name);\n        if(typeof ten===\"undefined\"){\n            ten = [];\n            ten.push({\n                \"text\":msg.tweet.text,\n                \"score\":msg.sentiment.score\n            });\n            global.set(name,ten);\n            //node.log(JSON.stringify(ten));\n        }\n        else{\n            if(containsAlready(msg.tweet.text,ten)){\n                return;\n            }\n            var added = false;\n            //node.log(\"start defined: \"+JSON.stringify(ten));\n            for(var i=0;i<ten.length;i++){\n                if(compare(msg.sentiment.score,ten[i].score)){\n                    var entry = {\n                        \"text\":msg.tweet.text,\n                        \"score\":msg.sentiment.score\n                    };\n                    ten.splice(i, 0, entry);\n                    added=true;\n                    break;\n                }\n            }\n            if(added===false && ten.length<10){\n                ten.push({\n                    \"text\":msg.tweet.text,\n                    \"score\":msg.sentiment.score\n                });\n            }\n            ten.splice(10,ten.length-10);\n            node.log(\"end\"+JSON.stringify(ten));\n        }\n    });\n}\n\nfunction containsAlready(tweet, ten){\n    var prefix = tweet.substring(0,tweet.length/2);\n    return ten.map(e=>e.text).filter(e=>e.indexOf(prefix)>-1).length>0\n}\nglobal.set(\"update10\",update10Function());\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":922.2500254313152,"wires":[[]]},{"id":"2a25b92f.83c3b6","type":"twitter in","z":0,"twitter":"5b80cd04.9689d4","tags":"","user":"false","name":"","inputs":1,"x":710,"y":160,"wires":[["9f1131e.a4b36d"]]},{"id":"b9e4e842.78a328","type":"sentiment","z":0,"name":"","x":1000.666748046875,"y":166.66668701171875,"wires":[["50d11d86.cf3924","4ca19ee0.e24fd"]]},{"id":"50d11d86.cf3924","type":"function","z":0,"name":"term1","func":"msg.term=\"term1\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1299.3334350585938,"y":165,"wires":[["5588201c.cf629"]]},{"id":"5f6cb16d.52f39","type":"inject","z":0,"name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":330.8332824707031,"y":717.1668090820312,"wires":[["806e5744.797c98"]]},{"id":"7a2d00eb.a72a9","type":"ui_text_input","z":0,"name":"","label":"Enter #tag and press enter","tooltip":"","group":"df81d262.c7994","order":0,"width":"18","height":"1","passthru":false,"mode":"text","delay":"1000","topic":"","x":448.5,"y":191,"wires":[["795ed6b8.c58c28"]]},{"id":"795ed6b8.c58c28","type":"function","z":0,"name":"preprocess","func":"msg.term = msg.payload;\nvar term = msg.term.replace(\" \",\"_\").replace(/[\"']/g, \"\");\nnode.log(\"term is\"+term);\nglobal.set(\"term1\",term);\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":161.00000762939453,"wires":[["2a25b92f.83c3b6"]]},{"id":"227aee42.eff872","type":"ui_button","z":0,"name":"","group":"df81d262.c7994","order":0,"width":"18","height":"1","passthru":false,"label":"clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":750,"y":900,"wires":[["3e85cb2.94ab434"]]},{"id":"3e85cb2.94ab434","type":"ui_text","z":0,"group":"df81d262.c7994","order":0,"width":"18","height":"17","name":"","label":"Top 10 Samples","format":"{{msg.payload}}","layout":"col-center","x":920.8332824707031,"y":799.1668090820312,"wires":[]},{"id":"806e5744.797c98","type":"function","z":0,"name":"print sample table","func":"function createTable(top10_1,flop10_1,top10_2,flop10_2){\n    \n    var table = \"<table style=\\\"width:100%;font-size:20px;\\\">\";\n    table+=\"<tr><th>Rank</th><th>Tweet</th><th>Score</th></tr>\";\n    \n    if(typeof top10_1!==\"undefined\"){\n        for(var i=0;i<top10_1.length;i++){\n            table+=\"<tr><td>\"+(i+1)+\"</td><td>\"+top10_1[i].text+\"</td><th>\"+top10_1[i].score+\"</td></tr>\";\n        }\n    }\n    table+=\"</table>\";\n    \n    table+=\"<p><br><br><table style=\\\"width:100%;font-size:20px;\\\">\";\n    table+=\"<tr><th>Rank</th><th>Tweet</th><th>Score</th></tr>\";\n    \n    if(typeof flop10_1!==\"undefined\"){\n        for(var n=0;n<flop10_1.length;n++){\n            table+=\"<tr><td>\"+(n+1)+\"</td><td>\"+flop10_1[n].text+\"</td><th>\"+flop10_1[n].score+\"</td></tr>\";\n        }\n    }\n    table+=\"</table>\";\n    \n    return table;\n}\nvar term1 = global.get(\"term1\");\n\nmsg.payload = createTable(global.get(\"top10\"+term1), global.get(\"flop10\"+term1));\nreturn msg;","outputs":1,"noerr":0,"x":717.7498168945312,"y":797.1668090820312,"wires":[["3e85cb2.94ab434"]]},{"id":"8096b806.a14d68","type":"inject","z":0,"name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":340.94439697265625,"y":904.6112416585286,"wires":[["f8c98a81.57dc58"]]},{"id":"f8c98a81.57dc58","type":"function","z":0,"name":"global functions","func":"function update10Function(){\n    return ((compare, name, msg)=>{\n        var ten = global.get(name);\n        if(typeof ten===\"undefined\"){\n            ten = [];\n            ten.push({\n                \"text\":msg.tweet.text,\n                \"score\":msg.sentiment.score\n            });\n            global.set(name,ten);\n            //node.log(JSON.stringify(ten));\n        }\n        else{\n            if(containsAlready(msg.tweet.text,ten)){\n                return;\n            }\n            var added = false;\n            //node.log(\"start defined: \"+JSON.stringify(ten));\n            for(var i=0;i<ten.length;i++){\n                if(compare(msg.sentiment.score,ten[i].score)){\n                    var entry = {\n                        \"text\":msg.tweet.text,\n                        \"score\":msg.sentiment.score\n                    };\n                    ten.splice(i, 0, entry);\n                    added=true;\n                    break;\n                }\n            }\n            if(added===false && ten.length<10){\n                ten.push({\n                    \"text\":msg.tweet.text,\n                    \"score\":msg.sentiment.score\n                });\n            }\n            ten.splice(10,ten.length-10);\n            node.log(\"end\"+JSON.stringify(ten));\n        }\n    });\n}\n\nfunction containsAlready(tweet, ten){\n    var prefix = tweet.substring(0,tweet.length/2);\n    return ten.map(e=>e.text).filter(e=>e.indexOf(prefix)>-1).length>0\n}\nglobal.set(\"update10\",update10Function());\nreturn msg;","outputs":1,"noerr":0,"x":570.9443969726562,"y":906.8612670898438,"wires":[[]]},{"id":"a353f223.d9bc4","type":"inject","z":0,"name":"","topic":"","payload":"lockdown","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":312.8666687011719,"y":108.96669006347656,"wires":[["795ed6b8.c58c28","7a2d00eb.a72a9"]]},{"id":"5588201c.cf629","type":"function","z":0,"name":"calculate average sentiment","func":"var term = global.get(msg.term);\nvar sampleSize = 10;\nvar sentiments = global.get(\"sentiments\"+term);\nif(typeof sentiments ===\"undefined\"){\n    sentiments =[];\n    global.set(\"sentiments\"+term,sentiments);\n}\nsentiments.push(msg.sentiment.score);\n\nif(sentiments.length>sampleSize){\n    sentiments.splice(0,sentiments.length-sampleSize);\n}\n\nvar sum = sentiments.reduce((e,r)=>e+r);\nglobal.set(\"meanSentiment\"+term,sum/sentiments.length);\n\nglobal.get(\"update10\")(((a,b)=>a>b),\"top10\"+term, msg);\nglobal.get(\"update10\")(((a,b)=>a<b),\"flop10\"+term, msg);\n\nmsg.payload = msg.sentiment.score;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1478.6167602539062,"y":235.31661987304688,"wires":[[]]},{"id":"9168200.913aee","type":"comment","z":0,"name":"Inits the globally used functions once at startup","info":"","x":437.66661834716797,"y":854.6459999084473,"wires":[]},{"id":"b261e9de.4c6af8","type":"comment","z":0,"name":"Periodically triggers the drawing","info":"","x":363.91661071777344,"y":645.89599609375,"wires":[]},{"id":"3547eb1d.2c7564","type":"comment","z":0,"name":"Calculates sentiment scores","info":"","x":350.5833282470703,"y":60.47917175292969,"wires":[]},{"id":"9f1131e.a4b36d","type":"function","z":0,"name":"filter","func":"var term = global.get(\"term1\");\nif(msg.payload.indexOf(term)!==-1 && msg.lang===\"en\"){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":825.1666870117188,"y":100.66670227050781,"wires":[["b9e4e842.78a328"]]},{"id":"4ca19ee0.e24fd","type":"debug","z":0,"name":"","active":false,"console":"false","complete":"true","x":1133.4882202148438,"y":237.83334350585938,"wires":[]},{"id":"4e82f800.fce798","type":"function","z":"f5301de9.80bf1","name":"Remove URLS and replace #","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":120,"wires":[["d6dd0788.ce0bb8"]]},{"id":"69e527e4.3a90a8","type":"function","z":"f5301de9.80bf1","name":"Storage Tweet data","func":"// tweet object includes a timestamp_ms\nmsg.payload = { \"timestamp\" : msg.tweet.timestamp_ms ,\n                \"tweet\"     : msg.tweet.text,\n                \"sentiment\" : msg.sentiment.score};\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":520,"wires":[["78fdffe1.e9552"]]},{"id":"e1a9b58d.bb49c8","type":"delay","z":"f5301de9.80bf1","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"6","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":460,"wires":[["382e9f43.bd049","54c0d228.d264fc","69e527e4.3a90a8","ca7f4878.ad0178","9b035ef5.4a108","5e7bdc6.f36ab24"]]},{"id":"78fdffe1.e9552","type":"cloudant out","z":"f5301de9.80bf1","name":"","cloudant":"","database":"tweetdata","service":"node-red-kyrky-cloudant-1592995397209-76730","payonly":true,"operation":"insert","x":760,"y":520,"wires":[]},{"id":"382e9f43.bd049","type":"change","z":"f5301de9.80bf1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":560,"wires":[["3778792.674d486","d6479238.2bf94","443d52db.454dec"]]},{"id":"54c0d228.d264fc","type":"change","z":"f5301de9.80bf1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":600,"wires":[["13df0a5c.e9ffd6","6ae1280c.b3c4d8"]]},{"id":"6ae1280c.b3c4d8","type":"ui_chart","z":"f5301de9.80bf1","name":"","group":"801c375b.a449f8","order":1,"width":0,"height":0,"label":"Tweet Sentiment History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-15","ymax":"15","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":790,"y":680,"wires":[[]]},{"id":"13df0a5c.e9ffd6","type":"ui_gauge","z":"f5301de9.80bf1","name":"","group":"4b7b437.6b19bbc","order":1,"width":"6","height":"5","gtype":"gage","title":"Sentiment","label":"units","format":"{{value}}","min":"-10","max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":600,"wires":[]},{"id":"15070f1.db8bff1","type":"twitter in","z":"f5301de9.80bf1","twitter":"f0dd8379.2b78","tags":"lockdown","user":"false","name":"Lockdown_tweets","inputs":1,"x":250,"y":140,"wires":[["bf91d32f.a5b49"]]},{"id":"d6dd0788.ce0bb8","type":"sentiment","z":"f5301de9.80bf1","name":"Sentiment of Tweets","x":200,"y":240,"wires":[["e1a9b58d.bb49c8"]]},{"id":"aed644f3.07daa8","type":"change","z":"e94a6205.aeed4","name":"Create payload for map","rules":[{"t":"set","p":"store.text","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"store.sentiment","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"store","tot":"msg"},{"t":"set","p":"payload.icon","pt":"msg","to":"fa-twitter-square","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":480,"wires":[["413483fe.d8f8fc"]]},{"id":"10ef8ed2.b8f371","type":"debug","z":"e94a6205.aeed4","name":"Payload","active":false,"console":"false","complete":"payload","x":820,"y":720,"wires":[]},{"id":"413483fe.d8f8fc","type":"switch","z":"e94a6205.aeed4","name":"Sentiment color","property":"payload.sentiment","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"str"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":320,"y":660,"wires":[["669ea66f.2468c8"],["566860e4.2e451"],["b1fcbf02.62c7"]],"inputLabels":["sentiment"],"outputLabels":["neutral","postive",""]},{"id":"669ea66f.2468c8","type":"change","z":"e94a6205.aeed4","name":"Set to grey","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":600,"wires":[["7e302fff.c15e6","10ef8ed2.b8f371"]]},{"id":"566860e4.2e451","type":"change","z":"e94a6205.aeed4","name":"Set to green","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":660,"wires":[["7e302fff.c15e6","10ef8ed2.b8f371"]]},{"id":"b1fcbf02.62c7","type":"change","z":"e94a6205.aeed4","name":"Set to red","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":720,"wires":[["7e302fff.c15e6","10ef8ed2.b8f371"]]},{"id":"4c628d58.9fe014","type":"function","z":"e94a6205.aeed4","name":"","func":"if ( msg.payload === false ) {\n    return null;\n}\n\nif( typeof msg.tweet.text != 'undefined') {\n   return msg;\n}","outputs":1,"noerr":0,"x":310,"y":200,"wires":[["40561aa8.2f49f4"]]},{"id":"c12ffe4.0d53d","type":"function","z":"e94a6205.aeed4","name":"Tweet URL","func":"msg.payload = \"<a  href=\\\"https://twitter.com/\"+msg.tweet.user.screen_name+\"/status/\"+msg.tweet.id_str+\"\\\">Open Tweet</a>\";\n\nif( typeof msg.payload.retweeted_status != 'undefined') {\n    msg.payload = \"<a href=\\\"https://twitter.com/\"+msg.tweet.retweeted_status.user.screen_name+\"/status/\"+msg.tweet.retweeted_status.id_str+\"\\\">Open Tweet</a>\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":400,"wires":[["52ec23b2.3ddbcc"]]},{"id":"1ff33cbf.e6e923","type":"change","z":"e94a6205.aeed4","name":"Sentiment Score","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":440,"wires":[["278ed652.89380a"]]},{"id":"40561aa8.2f49f4","type":"switch","z":"e94a6205.aeed4","name":"tweet.user.location ?","property":"tweet.user.location","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":200,"wires":[["59f6c20d.4da0dc"]]},{"id":"59f6c20d.4da0dc","type":"change","z":"e94a6205.aeed4","name":"MapBox AccessToken","rules":[{"t":"set","p":"accesstoken","pt":"msg","to":"pk.eyJ1Ijoic3V5YXNoY2hpbCIsImEiOiJja2J1a2V2dzcwM3k0MnpxY2pueWUzMHdwIn0.z3p26StYmISw_rmXLYcdFg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":200,"wires":[["59684c82.37c984"]]},{"id":"59684c82.37c984","type":"http request","z":"e94a6205.aeed4","name":"MapBox HTTP Request","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.mapbox.com/geocoding/v5/mapbox.places/{{{tweet.user.location}}}.json?access_token={{accesstoken}}&limit=1","tls":"","persist":false,"proxy":"","authType":"","x":990,"y":200,"wires":[["bae12175.447e2"]]},{"id":"bae12175.447e2","type":"json","z":"e94a6205.aeed4","name":"","property":"payload","action":"","pretty":false,"x":1190,"y":200,"wires":[["b622c8ab.a18698"]]},{"id":"b622c8ab.a18698","type":"change","z":"e94a6205.aeed4","name":"Payload for sentiment","rules":[{"t":"set","p":"store.lat","pt":"msg","to":"payload.features[0].geometry.coordinates[1]","tot":"msg"},{"t":"set","p":"store.lon","pt":"msg","to":"payload.features[0].geometry.coordinates[0]","tot":"msg"},{"t":"set","p":"store.place","pt":"msg","to":"location.place","tot":"msg"},{"t":"set","p":"store.name","pt":"msg","to":"tweet.id_str","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"},{"t":"set","p":"store.sender","pt":"msg","to":"tweet.user.screen_name","tot":"msg"},{"t":"set","p":"store.photoUrl","pt":"msg","to":"tweet.user.profile_image_url","tot":"msg"},{"t":"set","p":"store.command.zoom","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":460,"wires":[["c12ffe4.0d53d","adaad327.83e76","8c0f41a6.fb396","ecd84e73.e38a9"]]},{"id":"bf016967.c60c78","type":"debug","z":"e94a6205.aeed4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":80,"wires":[]},{"id":"5e1d86af.1e2a28","type":"template","z":"e94a6205.aeed4","name":"Add Map to Dashboard","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src={{{payload}}} height=624px width=700px></iframe>","x":610,"y":40,"wires":[["da0e9e6.bf2c96"]]},{"id":"b1a49ea1.be5f4","type":"function","z":"e94a6205.aeed4","name":"Inject /worldmap","func":"msg.payload = \"/worldmap\";\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.org/hot/{z}/{x}/{y}.png';\nvar o = JSON.stringify({ maxZoom: 19, attribution: '&copy; OpenStreetMap'});\n\nmsg.payload.command =   {\n                        layer:\"Esri\",\n                        lat:18.44081,\n                        lon:-66.08068,                        \n                        zoom:2,\n                        map: {name:\"Esri\", url:u, opt:o},\n                        };\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":40,"wires":[["5e1d86af.1e2a28"]]},{"id":"16ea61f3.8f31ae","type":"inject","z":"e94a6205.aeed4","name":"Init Dashboard","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":140,"y":40,"wires":[["b1a49ea1.be5f4"]]},{"id":"19bcd37e.cb423d","type":"ui_switch","z":"e94a6205.aeed4","name":"","label":"Enable / Disable","tooltip":"","group":"d6b5a902.da6e78","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":140,"y":200,"wires":[["4c628d58.9fe014"]]},{"id":"278ed652.89380a","type":"ui_gauge","z":"e94a6205.aeed4","name":"","group":"d6b5a902.da6e78","order":4,"width":"6","height":"4","gtype":"gage","title":"Sentiment","label":"units","format":"{{value}}","min":"-10","max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":440,"wires":[]},{"id":"adaad327.83e76","type":"ui_text","z":"e94a6205.aeed4","group":"d6b5a902.da6e78","order":1,"width":"6","height":"3","name":"Tweet Text","label":"{{msg.store.sender}}","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":520,"wires":[]},{"id":"52ec23b2.3ddbcc","type":"ui_template","z":"e94a6205.aeed4","group":"d6b5a902.da6e78","name":"Open Tweet","order":3,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":610,"y":400,"wires":[[]]},{"id":"da0e9e6.bf2c96","type":"ui_template","z":"e94a6205.aeed4","group":"c1f78eb7.9d7a9","name":"Embedded Map","order":1,"width":"9","height":"11","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":860,"y":40,"wires":[[]]},{"id":"8c0f41a6.fb396","type":"sentiment","z":"e94a6205.aeed4","name":"","property":"payload","x":400,"y":460,"wires":[["aed644f3.07daa8","1ff33cbf.e6e923"]]},{"id":"7e302fff.c15e6","type":"worldmap","z":"e94a6205.aeed4","name":"","lat":"","lon":"","zoom":"","layer":"Esri","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","hiderightclick":"false","coords":"none","path":"","x":830,"y":600,"wires":[]},{"id":"195e67d7.a982a8","type":"twitter in","z":"e94a6205.aeed4","twitter":"499b4223.a7ae0c","tags":"lockdown,covid,corona","user":"false","name":"Global_tweets","inputs":1,"x":150,"y":120,"wires":[["19bcd37e.cb423d"]]},{"id":"2751a681.58688a","type":"function","z":"9f5a6b06.a0db68","name":"live chart","func":"var temp = global.get('sentiment')\nmsg.topic=\"\"\nmsg.payload=msg.sentiment.score\nreturn msg","outputs":1,"noerr":0,"x":460,"y":380,"wires":[["a0257611.8c0f88"]]},{"id":"a142513e.f9dc7","type":"function","z":"9f5a6b06.a0db68","name":"set","func":"global.set('sentiment',msg.sentiment.score)\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":300,"wires":[[]]},{"id":"8f80b1e.ce86f5","type":"function","z":"9f5a6b06.a0db68","name":"convert to valid number","func":" msg.payload=msg.payload.tag\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":60,"wires":[["99ea68.44acc598"]]},{"id":"9aac4066.91f0f","type":"function","z":"9f5a6b06.a0db68","name":"get and spin","func":"var temp = global.get('sentiment')\nreturn {sentiment:msg.sentiment.score}","outputs":1,"noerr":0,"x":470,"y":340,"wires":[["b5f412e9.b4c01","df85e394.c9957"]]},{"id":"c9d766b7.3cf218","type":"delay","z":"9f5a6b06.a0db68","name":"","pauseType":"rate","timeout":"3","timeoutUnits":"seconds","rate":"5","nbRateUnits":"7","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":440,"wires":[["ecbeb30d.b2304","a142513e.f9dc7","9aac4066.91f0f","2751a681.58688a","e54b206d.5d837","b4367ffc.7dbb2","2f91562a.ed9cca"]]},{"id":"61645e64.dd3e1","type":"ui_form","z":"9f5a6b06.a0db68","name":"","label":"Enter Your Text","group":"f053cc69.728f9","order":1,"width":0,"height":0,"options":[{"label":"Enter the Text","value":"tag","type":"text","required":true,"rows":null}],"formValue":{"tag":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":60,"wires":[["8f80b1e.ce86f5"]]},{"id":"a0257611.8c0f88","type":"ui_chart","z":"9f5a6b06.a0db68","name":"","group":"7d3558f7.2c5d78","order":1,"width":"6","height":"7","label":"Linear Plot","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":true,"ymin":"-15","ymax":"15","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#fd7d0d","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":380,"wires":[[]]},{"id":"b5f412e9.b4c01","type":"ui_gauge","z":"9f5a6b06.a0db68","name":"","group":"f053cc69.728f9","order":6,"width":0,"height":0,"gtype":"gage","title":"Sentiments","label":"units","format":"{{msg.sentiment}}","min":"-10","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":340,"wires":[]},{"id":"df85e394.c9957","type":"ui_gauge","z":"9f5a6b06.a0db68","name":"","group":"f053cc69.728f9","order":5,"width":0,"height":0,"gtype":"compass","title":"Sentiments","label":"units","format":"{{msg.sentiment}}","min":"-5","max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":300,"wires":[]},{"id":"ecbeb30d.b2304","type":"ui_text","z":"9f5a6b06.a0db68","group":"f053cc69.728f9","order":4,"width":"6","height":"3","name":"","label":"Tweets   ","format":"{{msg.payload}}","layout":"row-spread","x":460,"y":260,"wires":[]},{"id":"99ea68.44acc598","type":"twitter in","z":"9f5a6b06.a0db68","twitter":"836998d7.0a0948","tags":"","user":"false","name":"Lockdown_tweets","inputs":1,"x":150,"y":200,"wires":[["b81bbafe.f89fd8"]]},{"id":"c8785848.f67608","type":"function","z":"ccc93575.e54578","name":"Set the value","func":"return {sentiment:msg.sentiment.score}\n\n","outputs":1,"noerr":0,"x":430,"y":280,"wires":[["dd4a1cc3.d5ac7"]]},{"id":"efaad24e.a65d7","type":"function","z":"ccc93575.e54578","name":"convert to valid number","func":"msg.payload=  msg.payload.text\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":140,"wires":[["2b0eeff4.c9b2d"]]},{"id":"f18d85ac.ccab68","type":"function","z":"ccc93575.e54578","name":"set value for chart","func":"msg.payload=msg.sentiment.score\nreturn msg\n","outputs":1,"noerr":0,"x":450,"y":340,"wires":[["fbefa9b.2d7b258"]]},{"id":"b32dc35a.62096","type":"ui_form","z":"ccc93575.e54578","name":"","label":"Enter Sentence / Word","group":"b6dc6c66.6feb7","order":1,"width":0,"height":0,"options":[{"label":"Enter the Text","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":60,"wires":[["efaad24e.a65d7"]]},{"id":"fbefa9b.2d7b258","type":"ui_chart","z":"ccc93575.e54578","name":"","group":"b6dc6c66.6feb7","order":2,"width":"6","height":"4","label":"Linear Analysis Of Each Sentence","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":340,"wires":[[]]},{"id":"dd4a1cc3.d5ac7","type":"ui_gauge","z":"ccc93575.e54578","name":"","group":"b6dc6c66.6feb7","order":1,"width":"6","height":"6","gtype":"gage","title":"Sentiments","label":"units","format":"{{msg.sentiment}}","min":"-10","max":"10","colors":["#ff0011","#e6e600","#05f515"],"seg1":"","seg2":"","x":650,"y":280,"wires":[]},{"id":"2b0eeff4.c9b2d","type":"sentiment","z":"ccc93575.e54578","name":"sentiment","property":"payload","x":160,"y":300,"wires":[["c8785848.f67608","f18d85ac.ccab68"]]},{"id":"ca7f4878.ad0178","type":"switch","z":"f5301de9.80bf1","name":"","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":220,"wires":[["eefaa660.f488b8"]]},{"id":"9b035ef5.4a108","type":"switch","z":"f5301de9.80bf1","name":"","property":"sentiment.score","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":280,"wires":[["77ae8570.f3910c"]]},{"id":"eefaa660.f488b8","type":"change","z":"f5301de9.80bf1","name":"change 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":220,"wires":[["2df2f322.3acdcc"]]},{"id":"77ae8570.f3910c","type":"change","z":"f5301de9.80bf1","name":"change 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":280,"wires":[["cae848a7.ad65b8"]]},{"id":"cae848a7.ad65b8","type":"function","z":"f5301de9.80bf1","name":"Legend","func":"msg.topic=\"Negative\";\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":280,"wires":[["67dc5102.2555b"]]},{"id":"2df2f322.3acdcc","type":"function","z":"f5301de9.80bf1","name":"Legend","func":"msg.topic=\"Positive\";\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":220,"wires":[["67dc5102.2555b"]]},{"id":"67dc5102.2555b","type":"ui_chart","z":"f5301de9.80bf1","name":"","group":"801c375b.a449f8","order":2,"width":0,"height":0,"label":"Postive And Negative Sentiments","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":false,"ymin":"-15","ymax":"15","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff0000","#2bff00","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1160,"y":160,"wires":[[]]},{"id":"b4367ffc.7dbb2","type":"switch","z":"9f5a6b06.a0db68","name":"","property":"sentiment.score","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":180,"wires":[["8dedbb55.1c1628"]]},{"id":"e54b206d.5d837","type":"switch","z":"9f5a6b06.a0db68","name":"","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":120,"wires":[["c2f38927.5b08d8"]]},{"id":"c2f38927.5b08d8","type":"change","z":"9f5a6b06.a0db68","name":"change 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":120,"wires":[["1920cd31.e097c3"]]},{"id":"8dedbb55.1c1628","type":"change","z":"9f5a6b06.a0db68","name":"change 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":180,"wires":[["cb1ea88.534cc58"]]},{"id":"cb1ea88.534cc58","type":"function","z":"9f5a6b06.a0db68","name":"Legend","func":"msg.topic=\"Negative\";\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":240,"wires":[["de634998.066688"]]},{"id":"1920cd31.e097c3","type":"function","z":"9f5a6b06.a0db68","name":"Legend","func":"msg.topic=\"Positive\";\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":60,"wires":[["de634998.066688"]]},{"id":"de634998.066688","type":"ui_chart","z":"9f5a6b06.a0db68","name":"","group":"7d3558f7.2c5d78","order":2,"width":"6","height":"7","label":"Postive And Negative Sentiments","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":false,"ymin":"-15","ymax":"15","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff0000","#2bff00","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":880,"y":580,"wires":[[]]},{"id":"b81bbafe.f89fd8","type":"sentiment","z":"9f5a6b06.a0db68","name":"sentiment","property":"payload","x":100,"y":340,"wires":[["c9d766b7.3cf218"]]},{"id":"2f3d0ca.132d8f4","type":"ui_button","z":"f5301de9.80bf1","name":"","group":"4b7b437.6b19bbc","order":2,"width":"6","height":"1","passthru":false,"label":"clear  graph","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":390,"y":740,"wires":[["6ae1280c.b3c4d8","67dc5102.2555b"]]},{"id":"c93150e7.e99df","type":"ui_button","z":"9f5a6b06.a0db68","name":"","group":"f053cc69.728f9","order":2,"width":"6","height":"1","passthru":false,"label":"clear graph","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":530,"y":640,"wires":[["de634998.066688","a0257611.8c0f88"]]},{"id":"3778792.674d486","type":"ui_text","z":"f5301de9.80bf1","group":"e2f02536.8837f8","order":2,"width":"6","height":"2","name":"","label":"Tweets: ","format":"{{msg.payload}}","layout":"row-left","x":760,"y":560,"wires":[]},{"id":"d6479238.2bf94","type":"ui_text","z":"f5301de9.80bf1","group":"e2f02536.8837f8","order":1,"width":0,"height":0,"name":"","label":"Username : ","format":"{{msg.tweet.user.name}}","layout":"row-left","x":770,"y":480,"wires":[]},{"id":"ecd84e73.e38a9","type":"ui_text","z":"e94a6205.aeed4","group":"d6b5a902.da6e78","order":2,"width":0,"height":0,"name":"","label":"Username : ","format":"{{msg.tweet.user.name}}","layout":"row-left","x":410,"y":560,"wires":[]},{"id":"2f91562a.ed9cca","type":"ui_text","z":"9f5a6b06.a0db68","group":"f053cc69.728f9","order":3,"width":0,"height":0,"name":"","label":"Username : ","format":"{{msg.tweet.user.name}}","layout":"row-left","x":470,"y":200,"wires":[]},{"id":"b91988f4.e8c878","type":"ui_text","z":"f5301de9.80bf1","group":"e2f02536.8837f8","order":3,"width":0,"height":0,"name":"","label":"Date: ","format":"{{msg.tweet.created_at}}","layout":"row-left","x":750,"y":440,"wires":[]},{"id":"5e02ef91.b6f15","type":"change","z":"f5301de9.80bf1","name":"Set to grey","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1450,"y":740,"wires":[["19bf0db1.6f2b72"]]},{"id":"5e7bdc6.f36ab24","type":"change","z":"f5301de9.80bf1","name":"Create payload for map","rules":[{"t":"set","p":"store.text","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"store.sentiment","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"store","tot":"msg"},{"t":"set","p":"payload.icon","pt":"msg","to":"fa-twitter-square","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":620,"wires":[["3ead72cb.516d5e"]]},{"id":"3ead72cb.516d5e","type":"switch","z":"f5301de9.80bf1","name":"Sentiment color","property":"payload.sentiment","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"str"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1200,"y":800,"wires":[["5e02ef91.b6f15"],["dba031c1.fa269"],["46c9f748.42c3f8"]],"inputLabels":["sentiment"],"outputLabels":["neutral","postive",""]},{"id":"dba031c1.fa269","type":"change","z":"f5301de9.80bf1","name":"Set to green","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1450,"y":800,"wires":[["19bf0db1.6f2b72"]]},{"id":"46c9f748.42c3f8","type":"change","z":"f5301de9.80bf1","name":"Set to red","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":860,"wires":[["19bf0db1.6f2b72"]]},{"id":"51a1db9a.3f0594","type":"function","z":"f5301de9.80bf1","name":"","func":"if ( msg.payload === false ) {\n    return null;\n}\n\nif( typeof msg.tweet.text != 'undefined') {\n   return msg;\n}","outputs":1,"noerr":0,"x":1190,"y":340,"wires":[["7e9f16d4.6fc438"]]},{"id":"7e9f16d4.6fc438","type":"switch","z":"f5301de9.80bf1","name":"tweet.user.location ?","property":"tweet.user.location","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1380,"y":340,"wires":[["7a4da8ab.6c9718"]]},{"id":"7a4da8ab.6c9718","type":"change","z":"f5301de9.80bf1","name":"MapBox AccessToken","rules":[{"t":"set","p":"accesstoken","pt":"msg","to":"pk.eyJ1Ijoic3V5YXNoY2hpbCIsImEiOiJja2J1a2V2dzcwM3k0MnpxY2pueWUzMHdwIn0.z3p26StYmISw_rmXLYcdFg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":340,"wires":[["b74c4967.869e88"]]},{"id":"b74c4967.869e88","type":"http request","z":"f5301de9.80bf1","name":"MapBox HTTP Request","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.mapbox.com/geocoding/v5/mapbox.places/{{{tweet.user.location}}}.json?access_token={{accesstoken}}&limit=1","tls":"","persist":false,"proxy":"","authType":"","x":1870,"y":340,"wires":[["76b75177.f6f4d"]]},{"id":"76b75177.f6f4d","type":"json","z":"f5301de9.80bf1","name":"","property":"payload","action":"","pretty":false,"x":2070,"y":340,"wires":[["a8c38cb.fe1ad7"]]},{"id":"19bf0db1.6f2b72","type":"worldmap","z":"f5301de9.80bf1","name":"","lat":"","lon":"","zoom":"","layer":"Nat Geo","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","hiderightclick":"false","coords":"none","path":"","x":1710,"y":740,"wires":[]},{"id":"a8c38cb.fe1ad7","type":"change","z":"f5301de9.80bf1","name":"Payload for sentiment","rules":[{"t":"set","p":"store.lat","pt":"msg","to":"payload.features[0].geometry.coordinates[1]","tot":"msg"},{"t":"set","p":"store.lon","pt":"msg","to":"payload.features[0].geometry.coordinates[0]","tot":"msg"},{"t":"set","p":"store.place","pt":"msg","to":"location.place","tot":"msg"},{"t":"set","p":"store.name","pt":"msg","to":"tweet.id_str","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"},{"t":"set","p":"store.sender","pt":"msg","to":"tweet.user.screen_name","tot":"msg"},{"t":"set","p":"store.photoUrl","pt":"msg","to":"tweet.user.profile_image_url","tot":"msg"},{"t":"set","p":"store.command.zoom","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":600,"wires":[["d6dd0788.ce0bb8"]]},{"id":"9f442519.4eefc8","type":"twitter in","z":"f5301de9.80bf1","twitter":"f0dd8379.2b78","tags":"lockdown","user":"false","name":"Lockdown_tweets","inputs":1,"x":210,"y":1200,"wires":[["9e16be3e.00b01"]]},{"id":"74b85dc3.6b5d44","type":"sentiment","z":"f5301de9.80bf1","name":"Sentiment of Tweets","x":280,"y":1300,"wires":[["ae2edb4f.677e28","1ac35be3.63ea54","2f89c084.b6597","361efd1c.6a3292"]]},{"id":"1ac35be3.63ea54","type":"switch","z":"f5301de9.80bf1","name":"","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":1280,"wires":[["9c56ad52.9c028"]]},{"id":"2f89c084.b6597","type":"switch","z":"f5301de9.80bf1","name":"","property":"sentiment.score","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":1340,"wires":[["c2bf7ae2.fdde78"]]},{"id":"9c56ad52.9c028","type":"change","z":"f5301de9.80bf1","name":"change 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1280,"wires":[["cf0cdebc.f4a93"]]},{"id":"c2bf7ae2.fdde78","type":"change","z":"f5301de9.80bf1","name":"change 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":1340,"wires":[["5ca8490b.b9d068"]]},{"id":"2cb5c8e5.8baa58","type":"function","z":"f5301de9.80bf1","name":"Legend","func":"msg.topic=\"Negative\";\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":1360,"wires":[["b11b505e.1b592","1455dacd.236895"]]},{"id":"977b40f3.4b90b","type":"function","z":"f5301de9.80bf1","name":"Legend","func":"msg.topic=\"Positive\";\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":1280,"wires":[["b11b505e.1b592","1455dacd.236895"]]},{"id":"361efd1c.6a3292","type":"switch","z":"f5301de9.80bf1","name":"","property":"sentiment.score","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":1500,"wires":[["87428a4c.c78ba8"]]},{"id":"87428a4c.c78ba8","type":"change","z":"f5301de9.80bf1","name":"change 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":1500,"wires":[["c3556ca2.20103"]]},{"id":"162fc74f.d1a159","type":"function","z":"f5301de9.80bf1","name":"Legend","func":"msg.topic=\"Neutral\";\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":1440,"wires":[["b11b505e.1b592","1455dacd.236895"]]},{"id":"cf0cdebc.f4a93","type":"Message Counter","z":"f5301de9.80bf1","name":"","units":"minutes","interval":"1","alignToClock":true,"generator":"internal","x":960,"y":1280,"wires":[["977b40f3.4b90b","9cb230ab.a8efc"],[]]},{"id":"5ca8490b.b9d068","type":"Message Counter","z":"f5301de9.80bf1","name":"","units":"minutes","interval":"1","alignToClock":true,"generator":"internal","x":1000,"y":1360,"wires":[["2cb5c8e5.8baa58","b4af956c.7e2098"],[]]},{"id":"c3556ca2.20103","type":"Message Counter","z":"f5301de9.80bf1","name":"","units":"minutes","interval":"1","alignToClock":true,"generator":"internal","x":990,"y":1460,"wires":[["162fc74f.d1a159","af867711.ff25d8","64207350.99e21c"],[]]},{"id":"b11b505e.1b592","type":"ui_chart","z":"f5301de9.80bf1","name":"","group":"801c375b.a449f8","order":3,"width":0,"height":0,"label":"Sentiment History","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#50a744","#e90c2d","#fbff00","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1480,"y":1300,"wires":[[]]},{"id":"1455dacd.236895","type":"ui_chart","z":"f5301de9.80bf1","name":"","group":"801c375b.a449f8","order":4,"width":0,"height":0,"label":"Sentiment History","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1490,"y":1400,"wires":[[]]},{"id":"e11a8a88.c78ae8","type":"change","z":"f5301de9.80bf1","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"people are taking  the situation positively  these days so Lockdown can be extended .","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1660,"wires":[["57144860.42e838"]]},{"id":"99c200d9.8092","type":"change","z":"f5301de9.80bf1","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"since negative sentiment is more these days if the lockdown will be extended fear and disgust will be more so lockdown cannot be extended now ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1700,"wires":[["57144860.42e838"]]},{"id":"57144860.42e838","type":"ui_text","z":"f5301de9.80bf1","group":"15640686.420119","order":1,"width":"6","height":"2","name":"","label":"","format":"{{msg.topic}}","layout":"row-center","x":1270,"y":1600,"wires":[]},{"id":"9e04cca2.07c1e","type":"function","z":"f5301de9.80bf1","name":"Add two payloads","func":"msg.payload=msg.payload[0]+msg.payload[1]\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1700,"wires":[["6c144288.a7d28c"]]},{"id":"9cb230ab.a8efc","type":"join","z":"f5301de9.80bf1","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":390,"y":1620,"wires":[["9e04cca2.07c1e"]]},{"id":"b4af956c.7e2098","type":"function","z":"f5301de9.80bf1","name":"to convert positive to negative","func":"msg.payload=-msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1560,"wires":[["9cb230ab.a8efc"]]},{"id":"6c144288.a7d28c","type":"switch","z":"f5301de9.80bf1","name":"Compare payloads","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":750,"y":1700,"wires":[["f3dc1620.cbc588"],["c573003b.cc043"],["e11a8a88.c78ae8"]]},{"id":"c573003b.cc043","type":"join","z":"f5301de9.80bf1","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":390,"y":1860,"wires":[["e2223296.a8271"]]},{"id":"e2223296.a8271","type":"function","z":"f5301de9.80bf1","name":"if length is 2 ","func":"if(msg.payload.length==2){\n    return msg;\n}\n  \n //if no elements are negative return false\n \n","outputs":1,"noerr":0,"x":550,"y":1860,"wires":[["18e540ab.69625f"]]},{"id":"af867711.ff25d8","type":"delay","z":"f5301de9.80bf1","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":1860,"wires":[["c573003b.cc043"]]},{"id":"18e540ab.69625f","type":"function","z":"f5301de9.80bf1","name":"Add two payloads","func":"msg.payload=msg.payload[0]+msg.payload[1]\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1860,"wires":[["d380b2c9.f43cd"]]},{"id":"d380b2c9.f43cd","type":"switch","z":"f5301de9.80bf1","name":"compare","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":720,"y":1760,"wires":[["99c200d9.8092"],["300305f7.9d211a"],["300305f7.9d211a"]]},{"id":"300305f7.9d211a","type":"change","z":"f5301de9.80bf1","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"current  situation can be continued for some time but total lockdown will not be good.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1740,"wires":[["57144860.42e838"]]},{"id":"f3dc1620.cbc588","type":"function","z":"f5301de9.80bf1","name":"to convert positive to negative","func":"msg.payload=-msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1960,"wires":[["20b9d36f.6b41ec"]]},{"id":"64207350.99e21c","type":"delay","z":"f5301de9.80bf1","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":2060,"wires":[["20b9d36f.6b41ec"]]},{"id":"20b9d36f.6b41ec","type":"join","z":"f5301de9.80bf1","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":450,"y":2060,"wires":[["42e3d53d.8f310c"]]},{"id":"42e3d53d.8f310c","type":"function","z":"f5301de9.80bf1","name":"Add two payloads","func":"msg.payload=msg.payload[0]+msg.payload[1]\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":2060,"wires":[["ade37f06.3c60d"]]},{"id":"ade37f06.3c60d","type":"switch","z":"f5301de9.80bf1","name":"compare","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":900,"y":2060,"wires":[["e11a8a88.c78ae8"],["300305f7.9d211a"],["e11a8a88.c78ae8"]]},{"id":"bc2d7ea6.9f18e","type":"template","z":"f5301de9.80bf1","name":"Add Map to Dashboard","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src={{{payload}}} height=600px width=467px></iframe>","x":750,"y":40,"wires":[["27fe0468.e1554c"]]},{"id":"b4dd3d4a.718b","type":"function","z":"f5301de9.80bf1","name":"Inject /worldmap","func":"msg.payload = \"/worldmap\";\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.org/hot/{z}/{x}/{y}.png';\nvar o = JSON.stringify({ maxZoom: 19, attribution: '&copy; OpenStreetMap'});\n\nmsg.payload.command =   {\n                        layer:\"Esri\",\n                        lat:18.44081,\n                        lon:-66.08068,                        \n                        zoom:2,\n                        map: {name:\"Esri\", url:u, opt:o},\n                        };\nreturn msg;\n","outputs":1,"noerr":0,"x":500,"y":40,"wires":[["bc2d7ea6.9f18e"]]},{"id":"a7279960.089628","type":"inject","z":"f5301de9.80bf1","name":"Init Dashboard","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":280,"y":40,"wires":[["b4dd3d4a.718b"]]},{"id":"27fe0468.e1554c","type":"ui_template","z":"f5301de9.80bf1","group":"b53fbafa.158c68","name":"Embedded Map","order":1,"width":"6","height":"10","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1000,"y":40,"wires":[[]]},{"id":"9e16be3e.00b01","type":"function","z":"f5301de9.80bf1","name":"Remove URLS and replace #","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1200,"wires":[["b635da20.044358"]]},{"id":"b635da20.044358","type":"switch","z":"f5301de9.80bf1","name":"","property":"location.place","propertyType":"msg","rules":[{"t":"cont","v":"India","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":1200,"wires":[["b9bf4b50.46d838","74b85dc3.6b5d44"]]},{"id":"bf91d32f.a5b49","type":"switch","z":"f5301de9.80bf1","name":"","property":"location.place","propertyType":"msg","rules":[{"t":"cont","v":"India","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":100,"wires":[["51a1db9a.3f0594","4e82f800.fce798"]]},{"id":"ae2edb4f.677e28","type":"delay","z":"f5301de9.80bf1","d":true,"name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":1460,"wires":[["1ac35be3.63ea54","2f89c084.b6597","361efd1c.6a3292"]]},{"id":"b9bf4b50.46d838","type":"debug","z":"f5301de9.80bf1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":1120,"wires":[]},{"id":"cb8151b8.56133","type":"function","z":"3532eece.0dff92","name":"Remove URLS and replace #","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":140,"wires":[["94dfd401.a0be28"]]},{"id":"f3b47903.210108","type":"function","z":"3532eece.0dff92","name":"Storage Tweet data","func":"// tweet object includes a timestamp_ms\nmsg.payload = { \"timestamp\" : msg.tweet.timestamp_ms ,\n                \"tweet\"     : msg.tweet.text,\n                \"sentiment\" : msg.sentiment.score};\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":540,"wires":[["1dd2adc7.2b7cf2"]]},{"id":"d420c6b.e12fd38","type":"delay","z":"3532eece.0dff92","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":150,"y":480,"wires":[["ddfe1b9a.ff66d8","200d1fc1.23865","f3b47903.210108","be6160d9.daa82","1cf4ec6d.77a694","34ba814.ac38a7e"]]},{"id":"1dd2adc7.2b7cf2","type":"cloudant out","z":"3532eece.0dff92","name":"","cloudant":"","database":"tweetdata","service":"node-red-kyrky-cloudant-1592995397209-76730","payonly":true,"operation":"insert","x":660,"y":540,"wires":[]},{"id":"ddfe1b9a.ff66d8","type":"change","z":"3532eece.0dff92","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":580,"wires":[["77381509.456e3c","a20942a0.67577","cf57b0e4.a1c1a"]]},{"id":"200d1fc1.23865","type":"change","z":"3532eece.0dff92","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":620,"wires":[["d237085f.b6aed8"]]},{"id":"d237085f.b6aed8","type":"ui_chart","z":"3532eece.0dff92","name":"","group":"25e216b2.9abd0a","order":1,"width":0,"height":0,"label":"Tweet Sentiment History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-15","ymax":"15","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":690,"y":700,"wires":[[]]},{"id":"46725969.49fd58","type":"twitter in","z":"3532eece.0dff92","twitter":"6ca8944c.8a47dc","tags":"lockdown","user":"false","name":"Lockdown_tweets","inputs":1,"x":150,"y":160,"wires":[["d05bdcfa.a1af9"]]},{"id":"94dfd401.a0be28","type":"sentiment","z":"3532eece.0dff92","name":"Sentiment of Tweets","x":100,"y":260,"wires":[["d420c6b.e12fd38"]]},{"id":"be6160d9.daa82","type":"switch","z":"3532eece.0dff92","name":"","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":240,"wires":[["7df746.cfd778bc"]]},{"id":"1cf4ec6d.77a694","type":"switch","z":"3532eece.0dff92","name":"","property":"sentiment.score","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":300,"wires":[["d8e35788.fba268"]]},{"id":"7df746.cfd778bc","type":"change","z":"3532eece.0dff92","name":"change 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":240,"wires":[["8743d806.1998d8"]]},{"id":"d8e35788.fba268","type":"change","z":"3532eece.0dff92","name":"change 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":300,"wires":[["5d70a30c.7f6ecc"]]},{"id":"5d70a30c.7f6ecc","type":"function","z":"3532eece.0dff92","name":"Legend","func":"msg.topic=\"Negative\";\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":300,"wires":[["7653a159.4b1b3"]]},{"id":"8743d806.1998d8","type":"function","z":"3532eece.0dff92","name":"Legend","func":"msg.topic=\"Positive\";\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":240,"wires":[["7653a159.4b1b3"]]},{"id":"7653a159.4b1b3","type":"ui_chart","z":"3532eece.0dff92","name":"","group":"25e216b2.9abd0a","order":5,"width":0,"height":0,"label":"Postive And Negative Sentiments","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":false,"ymin":"-15","ymax":"15","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff0000","#2bff00","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1060,"y":180,"wires":[[]]},{"id":"85359ee8.c608a","type":"ui_button","z":"3532eece.0dff92","name":"","group":"25e216b2.9abd0a","order":6,"width":"6","height":"1","passthru":false,"label":"clear  graph","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":290,"y":760,"wires":[["d237085f.b6aed8","7653a159.4b1b3"]]},{"id":"77381509.456e3c","type":"ui_text","z":"3532eece.0dff92","group":"25e216b2.9abd0a","order":3,"width":0,"height":0,"name":"","label":"Tweets: ","format":"{{msg.payload}}","layout":"row-left","x":660,"y":580,"wires":[]},{"id":"a20942a0.67577","type":"ui_text","z":"3532eece.0dff92","group":"25e216b2.9abd0a","order":2,"width":0,"height":0,"name":"","label":"Username : ","format":"{{msg.tweet.user.name}}","layout":"row-left","x":670,"y":500,"wires":[]},{"id":"de8ef017.a10b2","type":"ui_text","z":"3532eece.0dff92","group":"25e216b2.9abd0a","order":4,"width":0,"height":0,"name":"","label":"Date: ","format":"{{msg.tweet.created_at}}","layout":"row-left","x":650,"y":460,"wires":[]},{"id":"d4129f51.56148","type":"change","z":"3532eece.0dff92","name":"Set to grey","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":760,"wires":[["37edab51.b22fb4"]]},{"id":"34ba814.ac38a7e","type":"change","z":"3532eece.0dff92","name":"Create payload for map","rules":[{"t":"set","p":"store.text","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"store.sentiment","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"store","tot":"msg"},{"t":"set","p":"payload.icon","pt":"msg","to":"fa-twitter-square","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":640,"wires":[["204183ef.117c7c"]]},{"id":"204183ef.117c7c","type":"switch","z":"3532eece.0dff92","name":"Sentiment color","property":"payload.sentiment","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"str"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1100,"y":820,"wires":[["d4129f51.56148"],["a0cd4b07.ee1598"],["b1f36e63.4dda5"]],"inputLabels":["sentiment"],"outputLabels":["neutral","postive",""]},{"id":"a0cd4b07.ee1598","type":"change","z":"3532eece.0dff92","name":"Set to green","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":820,"wires":[["37edab51.b22fb4"]]},{"id":"b1f36e63.4dda5","type":"change","z":"3532eece.0dff92","name":"Set to red","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":880,"wires":[["37edab51.b22fb4"]]},{"id":"166aa20f.92b50e","type":"function","z":"3532eece.0dff92","name":"","func":"if ( msg.payload === false ) {\n    return null;\n}\n\nif( typeof msg.tweet.text != 'undefined') {\n   return msg;\n}","outputs":1,"noerr":0,"x":1090,"y":360,"wires":[["6b450b9a.4de364"]]},{"id":"6b450b9a.4de364","type":"switch","z":"3532eece.0dff92","name":"tweet.user.location ?","property":"tweet.user.location","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1280,"y":360,"wires":[["faea2b0f.908df8"]]},{"id":"faea2b0f.908df8","type":"change","z":"3532eece.0dff92","name":"MapBox AccessToken","rules":[{"t":"set","p":"accesstoken","pt":"msg","to":"pk.eyJ1Ijoic3V5YXNoY2hpbCIsImEiOiJja2J1a2V2dzcwM3k0MnpxY2pueWUzMHdwIn0.z3p26StYmISw_rmXLYcdFg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":360,"wires":[["edc89af8.e21c68"]]},{"id":"edc89af8.e21c68","type":"http request","z":"3532eece.0dff92","name":"MapBox HTTP Request","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.mapbox.com/geocoding/v5/mapbox.places/{{{tweet.user.location}}}.json?access_token={{accesstoken}}&limit=1","tls":"","persist":false,"proxy":"","authType":"","x":1770,"y":360,"wires":[["725070cb.7344b"]]},{"id":"725070cb.7344b","type":"json","z":"3532eece.0dff92","name":"","property":"payload","action":"","pretty":false,"x":1970,"y":360,"wires":[["67fbda45.244a34"]]},{"id":"37edab51.b22fb4","type":"worldmap","z":"3532eece.0dff92","name":"","lat":"","lon":"","zoom":"","layer":"Nat Geo","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","hiderightclick":"false","coords":"none","path":"","x":1610,"y":760,"wires":[]},{"id":"67fbda45.244a34","type":"change","z":"3532eece.0dff92","name":"Payload for sentiment","rules":[{"t":"set","p":"store.lat","pt":"msg","to":"payload.features[0].geometry.coordinates[1]","tot":"msg"},{"t":"set","p":"store.lon","pt":"msg","to":"payload.features[0].geometry.coordinates[0]","tot":"msg"},{"t":"set","p":"store.place","pt":"msg","to":"location.place","tot":"msg"},{"t":"set","p":"store.name","pt":"msg","to":"tweet.id_str","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"},{"t":"set","p":"store.sender","pt":"msg","to":"tweet.user.screen_name","tot":"msg"},{"t":"set","p":"store.photoUrl","pt":"msg","to":"tweet.user.profile_image_url","tot":"msg"},{"t":"set","p":"store.command.zoom","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":620,"wires":[["94dfd401.a0be28"]]},{"id":"7e400e5d.2e6ea","type":"template","z":"3532eece.0dff92","name":"Add Map to Dashboard","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src={{{payload}}} height=600px width=967px></iframe>","x":650,"y":60,"wires":[["953e76b9.3122c8"]]},{"id":"f101dbd1.830438","type":"function","z":"3532eece.0dff92","name":"Inject /worldmap","func":"msg.payload = \"/worldmap\";\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.org/hot/{z}/{x}/{y}.png';\nvar o = JSON.stringify({ maxZoom: 19, attribution: '&copy; OpenStreetMap'});\n\nmsg.payload.command =   {\n                        layer:\"Esri\",\n                        lat:18.44081,\n                        lon:-66.08068,                        \n                        zoom:2,\n                        map: {name:\"Esri\", url:u, opt:o},\n                        };\nreturn msg;\n","outputs":1,"noerr":0,"x":400,"y":60,"wires":[["7e400e5d.2e6ea"]]},{"id":"385cf96f.0279f6","type":"inject","z":"3532eece.0dff92","name":"Init Dashboard","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":180,"y":60,"wires":[["f101dbd1.830438"]]},{"id":"953e76b9.3122c8","type":"ui_template","z":"3532eece.0dff92","group":"eef64035.1b9aa","name":"Embedded Map","order":1,"width":"12","height":"10","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":900,"y":60,"wires":[[]]},{"id":"d05bdcfa.a1af9","type":"switch","z":"3532eece.0dff92","name":"","property":"location.place","propertyType":"msg","rules":[{"t":"cont","v":"India","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":120,"wires":[["cb8151b8.56133","166aa20f.92b50e"]]},{"id":"ebe6b75d.1a9878","type":"function","z":"3532eece.0dff92","name":"Remove URLS and replace #","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":1240,"wires":[["dc384e4a.87251"]]},{"id":"19cfca45.cba836","type":"function","z":"3532eece.0dff92","name":"Storage Tweet data","func":"// tweet object includes a timestamp_ms\nmsg.payload = { \"timestamp\" : msg.tweet.timestamp_ms ,\n                \"tweet\"     : msg.tweet.text,\n                \"sentiment\" : msg.sentiment.score};\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1640,"wires":[["ef638a10.9bbc38"]]},{"id":"fee9bc19.82866","type":"delay","z":"3532eece.0dff92","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":150,"y":1580,"wires":[["cb3885b5.9a3df8","a6771704.b19e58","19cfca45.cba836","407f08ef.caf498","3590db54.7a16a4","b77cf88b.c7cca8"]]},{"id":"ef638a10.9bbc38","type":"cloudant out","z":"3532eece.0dff92","name":"","cloudant":"","database":"tweetdata","service":"node-red-kyrky-cloudant-1592995397209-76730","payonly":true,"operation":"insert","x":660,"y":1640,"wires":[]},{"id":"cb3885b5.9a3df8","type":"change","z":"3532eece.0dff92","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1680,"wires":[["811ffb6b.1db818","6cfa0367.a3412c","193a63a8.429afc"]]},{"id":"a6771704.b19e58","type":"change","z":"3532eece.0dff92","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1720,"wires":[["12cb78ff.f6ee07"]]},{"id":"12cb78ff.f6ee07","type":"ui_chart","z":"3532eece.0dff92","name":"","group":"a5e05dc3.4ddee","order":1,"width":0,"height":0,"label":"Tweet Sentiment History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-15","ymax":"15","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":690,"y":1800,"wires":[[]]},{"id":"ebc2e4bf.11df48","type":"twitter in","z":"3532eece.0dff92","twitter":"6ca8944c.8a47dc","tags":"lockdown","user":"false","name":"Lockdown_tweets","inputs":1,"x":150,"y":1260,"wires":[["a7d33d73.52c55","8eaabe95.81d57"]]},{"id":"dc384e4a.87251","type":"sentiment","z":"3532eece.0dff92","name":"Sentiment of Tweets","x":100,"y":1360,"wires":[["fee9bc19.82866"]]},{"id":"407f08ef.caf498","type":"switch","z":"3532eece.0dff92","name":"","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":1340,"wires":[["af0889b6.1fb958"]]},{"id":"3590db54.7a16a4","type":"switch","z":"3532eece.0dff92","name":"","property":"sentiment.score","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":1400,"wires":[["6fd15deb.22b374"]]},{"id":"af0889b6.1fb958","type":"change","z":"3532eece.0dff92","name":"change 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1340,"wires":[["ffead3b0.a16a3"]]},{"id":"6fd15deb.22b374","type":"change","z":"3532eece.0dff92","name":"change 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1400,"wires":[["486b3712.1c9b38"]]},{"id":"486b3712.1c9b38","type":"function","z":"3532eece.0dff92","name":"Legend","func":"msg.topic=\"Negative\";\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":1400,"wires":[["2161db2e.9f6704"]]},{"id":"ffead3b0.a16a3","type":"function","z":"3532eece.0dff92","name":"Legend","func":"msg.topic=\"Positive\";\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1340,"wires":[["2161db2e.9f6704"]]},{"id":"2161db2e.9f6704","type":"ui_chart","z":"3532eece.0dff92","name":"","group":"a5e05dc3.4ddee","order":5,"width":0,"height":0,"label":"Postive And Negative Sentiments","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":false,"ymin":"-15","ymax":"15","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff0000","#2bff00","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1060,"y":1280,"wires":[[]]},{"id":"5e6d8a0a.fcf3a4","type":"ui_button","z":"3532eece.0dff92","name":"","group":"a5e05dc3.4ddee","order":6,"width":"6","height":"1","passthru":false,"label":"clear  graph","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":290,"y":1860,"wires":[["12cb78ff.f6ee07","2161db2e.9f6704"]]},{"id":"811ffb6b.1db818","type":"ui_text","z":"3532eece.0dff92","group":"a5e05dc3.4ddee","order":3,"width":0,"height":0,"name":"","label":"Tweets: ","format":"{{msg.payload}}","layout":"row-left","x":660,"y":1680,"wires":[]},{"id":"6cfa0367.a3412c","type":"ui_text","z":"3532eece.0dff92","group":"a5e05dc3.4ddee","order":2,"width":0,"height":0,"name":"","label":"Username : ","format":"{{msg.tweet.user.name}}","layout":"row-left","x":670,"y":1600,"wires":[]},{"id":"ee19c608.0a77f8","type":"ui_text","z":"3532eece.0dff92","group":"a5e05dc3.4ddee","order":4,"width":0,"height":0,"name":"","label":"Date: ","format":"{{msg.tweet.created_at}}","layout":"row-left","x":650,"y":1560,"wires":[]},{"id":"1cdae33d.55f33d","type":"change","z":"3532eece.0dff92","name":"Set to grey","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":1860,"wires":[["7d5fdfb0.c09df"]]},{"id":"b77cf88b.c7cca8","type":"change","z":"3532eece.0dff92","name":"Create payload for map","rules":[{"t":"set","p":"store.text","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"store.sentiment","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"store","tot":"msg"},{"t":"set","p":"payload.icon","pt":"msg","to":"fa-twitter-square","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":1740,"wires":[["d90100e5.759c5"]]},{"id":"d90100e5.759c5","type":"switch","z":"3532eece.0dff92","name":"Sentiment color","property":"payload.sentiment","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"str"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1100,"y":1920,"wires":[["1cdae33d.55f33d"],["3ccd9ca6.23d9e4"],["e1c82a08.27c118"]],"inputLabels":["sentiment"],"outputLabels":["neutral","postive",""]},{"id":"3ccd9ca6.23d9e4","type":"change","z":"3532eece.0dff92","name":"Set to green","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":1920,"wires":[["7d5fdfb0.c09df"]]},{"id":"e1c82a08.27c118","type":"change","z":"3532eece.0dff92","name":"Set to red","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":1980,"wires":[["7d5fdfb0.c09df"]]},{"id":"39d18fca.6ede2","type":"function","z":"3532eece.0dff92","name":"","func":"if ( msg.payload === false ) {\n    return null;\n}\n\nif( typeof msg.tweet.text != 'undefined') {\n   return msg;\n}","outputs":1,"noerr":0,"x":1090,"y":1460,"wires":[["1cb11b8a.34f374"]]},{"id":"1cb11b8a.34f374","type":"switch","z":"3532eece.0dff92","name":"tweet.user.location ?","property":"tweet.user.location","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1280,"y":1460,"wires":[["dee79df7.2f4e6"]]},{"id":"dee79df7.2f4e6","type":"change","z":"3532eece.0dff92","name":"MapBox AccessToken","rules":[{"t":"set","p":"accesstoken","pt":"msg","to":"pk.eyJ1Ijoic3V5YXNoY2hpbCIsImEiOiJja2J1a2V2dzcwM3k0MnpxY2pueWUzMHdwIn0.z3p26StYmISw_rmXLYcdFg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":1460,"wires":[["5ba84534.a19c5c"]]},{"id":"5ba84534.a19c5c","type":"http request","z":"3532eece.0dff92","name":"MapBox HTTP Request","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.mapbox.com/geocoding/v5/mapbox.places/{{{tweet.user.location}}}.json?access_token={{accesstoken}}&limit=1","tls":"","persist":false,"proxy":"","authType":"","x":1770,"y":1460,"wires":[["fee936f7.4e6fc8"]]},{"id":"fee936f7.4e6fc8","type":"json","z":"3532eece.0dff92","name":"","property":"payload","action":"","pretty":false,"x":1970,"y":1460,"wires":[["63f1a1c1.2a20e"]]},{"id":"7d5fdfb0.c09df","type":"worldmap","z":"3532eece.0dff92","name":"","lat":"","lon":"","zoom":"","layer":"Nat Geo","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","hiderightclick":"false","coords":"none","path":"","x":1610,"y":1860,"wires":[]},{"id":"63f1a1c1.2a20e","type":"change","z":"3532eece.0dff92","name":"Payload for sentiment","rules":[{"t":"set","p":"store.lat","pt":"msg","to":"payload.features[0].geometry.coordinates[1]","tot":"msg"},{"t":"set","p":"store.lon","pt":"msg","to":"payload.features[0].geometry.coordinates[0]","tot":"msg"},{"t":"set","p":"store.place","pt":"msg","to":"location.place","tot":"msg"},{"t":"set","p":"store.name","pt":"msg","to":"tweet.id_str","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"},{"t":"set","p":"store.sender","pt":"msg","to":"tweet.user.screen_name","tot":"msg"},{"t":"set","p":"store.photoUrl","pt":"msg","to":"tweet.user.profile_image_url","tot":"msg"},{"t":"set","p":"store.command.zoom","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":1720,"wires":[["dc384e4a.87251"]]},{"id":"a7d33d73.52c55","type":"switch","z":"3532eece.0dff92","name":"","property":"location.place","propertyType":"msg","rules":[{"t":"cont","v":"UK","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1220,"wires":[["ebe6b75d.1a9878","39d18fca.6ede2"]]},{"id":"8eaabe95.81d57","type":"debug","z":"3532eece.0dff92","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":540,"y":1100,"wires":[]},{"id":"443d52db.454dec","type":"function","z":"f5301de9.80bf1","name":"Date conversion","func":"msg.tweet.created_at=msg.tweet.created_at.replace(\"+0000\", \"\");\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":480,"wires":[["b91988f4.e8c878"]]},{"id":"193a63a8.429afc","type":"function","z":"3532eece.0dff92","name":"Date conversion","func":"msg.tweet.created_at=msg.tweet.created_at.replace(\"+0000\", \"\");\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1500,"wires":[["ee19c608.0a77f8"]]},{"id":"11198299.2c213d","type":"twitter in","z":"b2127698.219138","twitter":"5b80cd04.9689d4","tags":"","user":"false","name":"","inputs":1,"x":570,"y":200,"wires":[["2969ff78.b7a63"]]},{"id":"799e820.6c8078","type":"sentiment","z":"b2127698.219138","name":"","property":"payload","x":860.666748046875,"y":206.66668701171875,"wires":[["dbcf2ea2.df2e9","1eaa31d0.1e347e","1fe3680b.b405d8"]]},{"id":"8d0bfd37.8a2de","type":"ui_chart","z":"b2127698.219138","name":"","group":"db10222d.56b5a","order":1,"width":"13","height":"8","label":" Sentiment Scores","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00ff2a","#ff0505","#db02f7","#1100ff","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":680,"wires":[[]]},{"id":"dbcf2ea2.df2e9","type":"function","z":"b2127698.219138","name":"term1","func":"msg.term=\"term1\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1159.3334350585938,"y":205,"wires":[["d0d89223.367e8"]]},{"id":"f0ae4f4c.e4c0c","type":"inject","z":"b2127698.219138","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":190.83328247070312,"y":757.1668090820312,"wires":[["7b72c5a.a4f943c","a6d634a3.f78238"]]},{"id":"7b72c5a.a4f943c","type":"function","z":"b2127698.219138","name":"draw Term1 chart","func":"var term = global.get(\"term1\");\nif(typeof term !==\"undefined\"){\n    msg.payload = global.get(\"meanSentiment\"+term);\n    msg.topic = term;\n    return msg;\n}","outputs":1,"noerr":0,"x":550,"y":580,"wires":[["8d0bfd37.8a2de"]]},{"id":"a6d634a3.f78238","type":"function","z":"b2127698.219138","name":"draw Term2 chart","func":"var term = global.get(\"term2\");\nif(typeof term !==\"undefined\"){\n    msg.payload = global.get(\"meanSentiment\"+term);\n    msg.topic = term;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":575.8332824707031,"y":752.1668090820312,"wires":[["8d0bfd37.8a2de"]]},{"id":"bec9e23f.928ad","type":"twitter in","z":"b2127698.219138","twitter":"5b80cd04.9689d4","tags":"","user":"false","name":"","inputs":1,"x":569,"y":348.00000762939453,"wires":[["d05ddd4d.c0161"]]},{"id":"c45d8fb8.c04c7","type":"function","z":"b2127698.219138","name":"preprocess","func":"\nmsg.payload = msg.payload.one;\nvar term = msg.payload.replace(\" \",\"\").replace(/[\"']/g, \"\");\nnode.log(\"term is\"+term);\nglobal.set(\"term1\",term);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":180,"wires":[["11198299.2c213d"]]},{"id":"ce066169.565cc","type":"function","z":"b2127698.219138","name":"preprocess","func":"msg.payload = msg.payload.two;\nvar term = msg.payload.replace(\" \",\"\").replace(/[\"']/g, \"\");\nglobal.set(\"term2\",term);\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":360,"wires":[["bec9e23f.928ad"]]},{"id":"49583086.be5e6","type":"sentiment","z":"b2127698.219138","name":"","x":853.0001220703125,"y":353.3333435058594,"wires":[["8790ea02.165fb8","1eaa31d0.1e347e","29c1f65c.59cd8a"]]},{"id":"8790ea02.165fb8","type":"function","z":"b2127698.219138","name":"term2","func":"msg.term=\"term2\";\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1162.3333129882812,"y":351.6666564941406,"wires":[["d0d89223.367e8"]]},{"id":"46cbb310.bf51ec","type":"ui_button","z":"b2127698.219138","name":"","group":"d400c488.fa2ae8","order":3,"width":"6","height":"1","passthru":false,"label":"Clear Graph","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":510,"y":680,"wires":[["8d0bfd37.8a2de","eec419d9.930c18","d0d7c137.6c7ad","169ca7f.f2b1858"]]},{"id":"d0d89223.367e8","type":"function","z":"b2127698.219138","name":"calculate average sentiment","func":"var term = global.get(msg.term);\nvar sampleSize = 10;\nvar sentiments = global.get(\"sentiments\"+term);\nif(typeof sentiments ===\"undefined\"){\n    sentiments =[];\n    global.set(\"sentiments\"+term,sentiments);\n}\nsentiments.push(msg.sentiment.score);\n\nif(sentiments.length>sampleSize){\n    sentiments.splice(0,sentiments.length-sampleSize);\n}\n\nvar sum = sentiments.reduce((e,r)=>e+r);\nglobal.set(\"meanSentiment\"+term,sum/sentiments.length);\n\nglobal.get(\"update10\")(((a,b)=>a>b),\"top10\"+term, msg);\nglobal.get(\"update10\")(((a,b)=>a<b),\"flop10\"+term, msg);\n\nmsg.payload = msg.sentiment.score;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1338.6167602539062,"y":275.3166198730469,"wires":[[]]},{"id":"cd651eb7.1f845","type":"comment","z":"b2127698.219138","name":"Periodically triggers the drawing","info":"","x":223.91661071777344,"y":685.89599609375,"wires":[]},{"id":"5ffc2085.2349d","type":"comment","z":"b2127698.219138","name":"Calculates sentiment scores","info":"","x":210.5833282470703,"y":100.47917175292969,"wires":[]},{"id":"2969ff78.b7a63","type":"function","z":"b2127698.219138","name":"filter","func":"var term = global.get(\"term1\");\nif(msg.payload.indexOf(term)!==-1 && msg.lang===\"en\"){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":685.1666870117188,"y":140.6667022705078,"wires":[["799e820.6c8078"]]},{"id":"d05ddd4d.c0161","type":"function","z":"b2127698.219138","name":"filter","func":"var term = global.get(\"term2\");\nif(msg.payload.indexOf(term)!==-1 && msg.lang===\"en\"){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":670.4166870117188,"y":436.3333740234375,"wires":[["49583086.be5e6"]]},{"id":"1eaa31d0.1e347e","type":"debug","z":"b2127698.219138","name":"","active":false,"console":"false","complete":"true","x":993.4882202148438,"y":277.8333435058594,"wires":[]},{"id":"a789a4d3.54d4a8","type":"ui_form","z":"b2127698.219138","name":"","label":"Term-1","group":"d400c488.fa2ae8","order":1,"width":"6","height":"1","options":[{"label":"term1","value":"one","type":"text","required":true,"rows":null}],"formValue":{"one":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":220,"wires":[["c45d8fb8.c04c7","eec419d9.930c18"]]},{"id":"a58d5439.b7add8","type":"ui_form","z":"b2127698.219138","name":"","label":"Term-2","group":"d400c488.fa2ae8","order":2,"width":"6","height":"1","options":[{"label":"term2","value":"two","type":"text","required":true,"rows":null}],"formValue":{"two":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":340,"wires":[["ce066169.565cc"]]},{"id":"eec419d9.930c18","type":"debug","z":"b2127698.219138","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":820,"y":560,"wires":[]},{"id":"d0d7c137.6c7ad","type":"change","z":"b2127698.219138","name":"","rules":[{"t":"set","p":"payload.one","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":480,"wires":[["c45d8fb8.c04c7"]]},{"id":"169ca7f.f2b1858","type":"change","z":"b2127698.219138","name":"","rules":[{"t":"set","p":"payload.two","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":520,"wires":[["ce066169.565cc"]]},{"id":"1be35b95.9e8ca4","type":"ui_gauge","z":"b2127698.219138","name":"","group":"d40f2097.1bda8","order":1,"width":0,"height":0,"gtype":"gage","title":"Term 1","label":"units","format":"{{msg.sentiment}}","min":"-10","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1330,"y":120,"wires":[]},{"id":"1fe3680b.b405d8","type":"function","z":"b2127698.219138","name":"get and spin","func":"\nreturn {sentiment:msg.sentiment.score}","outputs":1,"noerr":0,"x":1110,"y":120,"wires":[["1be35b95.9e8ca4"]]},{"id":"29c1f65c.59cd8a","type":"function","z":"b2127698.219138","name":"get and spin","func":"\nreturn {sentiment:msg.sentiment.score}","outputs":1,"noerr":0,"x":1130,"y":440,"wires":[["a6c9a79.91d1c58"]]},{"id":"a6c9a79.91d1c58","type":"ui_gauge","z":"b2127698.219138","name":"","group":"d40f2097.1bda8","order":2,"width":0,"height":0,"gtype":"gage","title":"Term 2","label":"units","format":"{{msg.sentiment}}","min":"-10","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1350,"y":440,"wires":[]},{"id":"e08e4b86.65de98","type":"inject","z":"b2127698.219138","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":190,"y":920,"wires":[["5de1296e.a93a88"]]},{"id":"5de1296e.a93a88","type":"function","z":"b2127698.219138","name":"global functions","func":"function update10Function(){\n    return ((compare, name, msg)=>{\n        var ten = global.get(name);\n        if(typeof ten===\"undefined\"){\n            ten = [];\n            ten.push({\n                \"text\":msg.tweet.text,\n                \"score\":msg.sentiment.score\n            });\n            global.set(name,ten);\n            //node.log(JSON.stringify(ten));\n        }\n        else{\n            if(containsAlready(msg.tweet.text,ten)){\n                return;\n            }\n            var added = false;\n            //node.log(\"start defined: \"+JSON.stringify(ten));\n            for(var i=0;i<ten.length;i++){\n                if(compare(msg.sentiment.score,ten[i].score)){\n                    var entry = {\n                        \"text\":msg.tweet.text,\n                        \"score\":msg.sentiment.score\n                    };\n                    ten.splice(i, 0, entry);\n                    added=true;\n                    break;\n                }\n            }\n            if(added===false && ten.length<10){\n                ten.push({\n                    \"text\":msg.tweet.text,\n                    \"score\":msg.sentiment.score\n                });\n            }\n            ten.splice(10,ten.length-10);\n            node.log(\"end\"+JSON.stringify(ten));\n        }\n    });\n}\n\nfunction containsAlready(tweet, ten){\n    var prefix = tweet.substring(0,tweet.length/2);\n    return ten.map(e=>e.text).filter(e=>e.indexOf(prefix)>-1).length>0\n}\nglobal.set(\"update10\",update10Function());\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":922.2500254313152,"wires":[[]]},{"id":"cf57b0e4.a1c1a","type":"function","z":"3532eece.0dff92","name":"Date conversion","func":"msg.tweet.created_at=msg.tweet.created_at.replace(\"+0000\", \"\");\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":460,"wires":[["de8ef017.a10b2"]]},{"id":"e5a9f3a.ca4511","type":"twitter in","z":0,"twitter":"499b4223.a7ae0c","tags":"","user":"false","name":"","inputs":1,"x":710,"y":160,"wires":[["ac51a720.4ee128"]]},{"id":"362f89ef.0f5dd6","type":"sentiment","z":0,"name":"","x":1000.666748046875,"y":166.66668701171875,"wires":[["724f8a95.02b154","a7aeeb23.468468"]]},{"id":"724f8a95.02b154","type":"function","z":0,"name":"term1","func":"msg.term=\"term1\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1299.3334350585938,"y":165,"wires":[["6df59f8c.c4baa"]]},{"id":"f11bc36b.06a8b","type":"inject","z":0,"name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":330.8332824707031,"y":717.1668090820312,"wires":[["88c1702f.cbf68"]]},{"id":"bdca087d.7e3618","type":"ui_text_input","z":0,"name":"","label":"Enter #tag and press enter","tooltip":"","group":"f84e968e.5efe98","order":0,"width":"18","height":"1","passthru":false,"mode":"text","delay":"1000","topic":"","x":448.5,"y":191,"wires":[["7e041a66.2dea44"]]},{"id":"7e041a66.2dea44","type":"function","z":0,"name":"preprocess","func":"msg.term = msg.payload;\nvar term = msg.term.replace(\" \",\"_\").replace(/[\"']/g, \"\");\nnode.log(\"term is\"+term);\nglobal.set(\"term1\",term);\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":161.00000762939453,"wires":[["e5a9f3a.ca4511"]]},{"id":"6c7f88.43ac4078","type":"ui_button","z":0,"name":"","group":"f84e968e.5efe98","order":0,"width":"18","height":"1","passthru":false,"label":"clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":750,"y":900,"wires":[["9f071bc3.3f7b08"]]},{"id":"9f071bc3.3f7b08","type":"ui_text","z":0,"group":"f84e968e.5efe98","order":0,"width":"18","height":"17","name":"","label":"Top 10 Samples","format":"{{msg.payload}}","layout":"col-center","x":920.8332824707031,"y":799.1668090820312,"wires":[]},{"id":"88c1702f.cbf68","type":"function","z":0,"name":"print sample table","func":"function createTable(top10_1,flop10_1,top10_2,flop10_2){\n    \n    var table = \"<table style=\\\"width:100%;font-size:20px;\\\">\";\n    table+=\"<tr><th>Rank</th><th>Tweet</th><th>Score</th></tr>\";\n    \n    if(typeof top10_1!==\"undefined\"){\n        for(var i=0;i<top10_1.length;i++){\n            table+=\"<tr><td>\"+(i+1)+\"</td><td>\"+top10_1[i].text+\"</td><th>\"+top10_1[i].score+\"</td></tr>\";\n        }\n    }\n    table+=\"</table>\";\n    \n    table+=\"<p><br><br><table style=\\\"width:100%;font-size:20px;\\\">\";\n    table+=\"<tr><th>Rank</th><th>Tweet</th><th>Score</th></tr>\";\n    \n    if(typeof flop10_1!==\"undefined\"){\n        for(var n=0;n<flop10_1.length;n++){\n            table+=\"<tr><td>\"+(n+1)+\"</td><td>\"+flop10_1[n].text+\"</td><th>\"+flop10_1[n].score+\"</td></tr>\";\n        }\n    }\n    table+=\"</table>\";\n    \n    return table;\n}\nvar term1 = global.get(\"term1\");\n\nmsg.payload = createTable(global.get(\"top10\"+term1), global.get(\"flop10\"+term1));\nreturn msg;","outputs":1,"noerr":0,"x":717.7498168945312,"y":797.1668090820312,"wires":[["9f071bc3.3f7b08"]]},{"id":"e4775fe7.7e083","type":"inject","z":0,"name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":340.94439697265625,"y":904.6112416585286,"wires":[["1a93bced.30b6c3"]]},{"id":"1a93bced.30b6c3","type":"function","z":0,"name":"global functions","func":"function update10Function(){\n    return ((compare, name, msg)=>{\n        var ten = global.get(name);\n        if(typeof ten===\"undefined\"){\n            ten = [];\n            ten.push({\n                \"text\":msg.tweet.text,\n                \"score\":msg.sentiment.score\n            });\n            global.set(name,ten);\n            //node.log(JSON.stringify(ten));\n        }\n        else{\n            if(containsAlready(msg.tweet.text,ten)){\n                return;\n            }\n            var added = false;\n            //node.log(\"start defined: \"+JSON.stringify(ten));\n            for(var i=0;i<ten.length;i++){\n                if(compare(msg.sentiment.score,ten[i].score)){\n                    var entry = {\n                        \"text\":msg.tweet.text,\n                        \"score\":msg.sentiment.score\n                    };\n                    ten.splice(i, 0, entry);\n                    added=true;\n                    break;\n                }\n            }\n            if(added===false && ten.length<10){\n                ten.push({\n                    \"text\":msg.tweet.text,\n                    \"score\":msg.sentiment.score\n                });\n            }\n            ten.splice(10,ten.length-10);\n            node.log(\"end\"+JSON.stringify(ten));\n        }\n    });\n}\n\nfunction containsAlready(tweet, ten){\n    var prefix = tweet.substring(0,tweet.length/2);\n    return ten.map(e=>e.text).filter(e=>e.indexOf(prefix)>-1).length>0\n}\nglobal.set(\"update10\",update10Function());\nreturn msg;","outputs":1,"noerr":0,"x":570.9443969726562,"y":906.8612670898438,"wires":[[]]},{"id":"b17f2e9f.85e69","type":"inject","z":0,"name":"","topic":"","payload":"lockdown","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":312.8666687011719,"y":108.96669006347656,"wires":[["7e041a66.2dea44","bdca087d.7e3618"]]},{"id":"6df59f8c.c4baa","type":"function","z":0,"name":"calculate average sentiment","func":"var term = global.get(msg.term);\nvar sampleSize = 10;\nvar sentiments = global.get(\"sentiments\"+term);\nif(typeof sentiments ===\"undefined\"){\n    sentiments =[];\n    global.set(\"sentiments\"+term,sentiments);\n}\nsentiments.push(msg.sentiment.score);\n\nif(sentiments.length>sampleSize){\n    sentiments.splice(0,sentiments.length-sampleSize);\n}\n\nvar sum = sentiments.reduce((e,r)=>e+r);\nglobal.set(\"meanSentiment\"+term,sum/sentiments.length);\n\nglobal.get(\"update10\")(((a,b)=>a>b),\"top10\"+term, msg);\nglobal.get(\"update10\")(((a,b)=>a<b),\"flop10\"+term, msg);\n\nmsg.payload = msg.sentiment.score;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1478.6167602539062,"y":235.31661987304688,"wires":[[]]},{"id":"4a5500cb.0fb1d","type":"comment","z":0,"name":"Inits the globally used functions once at startup","info":"","x":437.66661834716797,"y":854.6459999084473,"wires":[]},{"id":"b9246157.93127","type":"comment","z":0,"name":"Periodically triggers the drawing","info":"","x":363.91661071777344,"y":645.89599609375,"wires":[]},{"id":"9a884ed4.58256","type":"comment","z":0,"name":"Calculates sentiment scores","info":"","x":350.5833282470703,"y":60.47917175292969,"wires":[]},{"id":"ac51a720.4ee128","type":"function","z":0,"name":"filter","func":"var term = global.get(\"term1\");\nif(msg.payload.indexOf(term)!==-1 && msg.lang===\"en\"){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":825.1666870117188,"y":100.66670227050781,"wires":[["362f89ef.0f5dd6"]]},{"id":"a7aeeb23.468468","type":"debug","z":0,"name":"","active":false,"console":"false","complete":"true","x":1133.4882202148438,"y":237.83334350585938,"wires":[]}]